[2016-09-14 20:24] 3lvis commented on #278
Do you run Sync multiple entities at the same time? Maybe that's causing issues with the lock, since things are locked in one thread and unlocked in another one.

[2016-09-14 20:26] pwestrich commented on #278
I do have two calls to Sync one shortly after another. I believe Sync does make use of GCD to do some work, so perhaps that's causing the issue? I'm not near my development machine right now, so I can't try to disable the second call. I'll get to it tomorrow morning and let you know.

[2016-09-14 20:32] 3lvis commented on #278
The locks are located here, btw.

https://github.com/hyperoslo/NSString-HYPNetworking/blob/master/Source/NSString%2BHYPNetworking.m#L69-L87

I use a singleton to store old versions of your remoteKeys to localKeys to improve performance.

[2016-09-14 20:33] 3lvis commented on #278
I needs the locks because NSDictionary is not thread safe.

[2016-09-15 14:40] pwestrich commented on #278
It appears the warning about the lock only shows up sometimes whenever I have both my calls to Sync in my program, but when I remove one of them, it consistently doesn't show up.

From what I can read in the documentation about NSLock, the second thread wanting the lock should park until the first one has released it, and the lock should live as long as the singleton who olds it, which is the dura

[2016-09-15 14:55] pwestrich commented on #278
Perhaps the guide [here](https://developer.apple.com/library/content/documentation/General/Conceptual/ConcurrencyProgrammingGuide/ThreadMigration/ThreadMigration.html#//apple_ref/doc/uid/TP40008091-CH105-SW3) coulee be of help? It seems Apple is discouraging the use of traditional threads and locks these days. Similar locking behavior could be accomplished by making a serial dispatch queue and mak

[2016-09-15 19:14] 3lvis commented on #278
@pwestrich interesting :) thanks! I think that confirms what the issue is.

[2016-09-15 22:44] 3lvis commented on #280
Thanks a lot for reporting this issue, sadly at the moment I'm really busy at work. Hopefully I'll get time to have a look at this issue early next week, I hope that's ok for you. Have a good weekend!

But as always PRs are very welcome, if there's something hard to understand I can take some time to give some guidance.

[2016-09-15 22:44] 3lvis commented on #277
Thanks a lot for reporting this issue, sadly at the moment I'm really busy at work. Hopefully I'll get time to have a look at this issue early next week, I hope that's ok for you. Have a good weekend!

But as always PRs are very welcome, if there's something hard to understand I can take some time to give some guidance.

[2016-09-15 22:45] 3lvis commented on #272
Damn, I'm still due to ship my next project and haven't had the time to look at this. I'm sorry if that's causing you troubles.

[2016-09-16 06:05] 3lvis commented on #270
Fix for: https://github.com/hyperoslo/Sync/issues/270

This is the simplest way that I've found to support this feature, using regular expressions instead of simple string comparison has it's drawbacks, the method calculation went from 0.01 to 0.02. Since date parsing is a common thing that could be done thousands of times in a JSON mapping, I would prefer to keep the performance instead of handli

[2016-09-16 06:05] #270 closed

[2016-09-16 09:28] ro22e0 opened #281 "Duplicate entries when sync to core data"
It creates two objects when passing an array of 2 same json.

[2016-09-16 09:42] Proper-Job commented on #281
@ro22e0 You might need to set the predicate in your Sync.changes call.

[2016-09-16 10:19] AnnieNinaJoyceV opened #282 "Type 'Date' has no member 'classForCoder'"
Can you please let me know how to fix this?

`~/Pods/Sync/Source/NSArray+Sync.swift:16:29: Type 'Date' has no member 'classForCoder'`

`let validClasses = [Date.classForCoder(), NSNumber.classForCoder(), NSString.classForCoder()]`

Sync - 2.0.0
Xcode 8 GM
Swift 3.0
OS X 10.11.6

[2016-09-16 10:42] 3lvis commented on #282
Hi @AnnieNinaJoyceV!

This should be different on Sync 2.0.0 => https://github.com/hyperoslo/Sync/blob/2.0.0/Source/NSArray%2BSync.swift#L16

Try deleting your Pods folder, cleaning your CocoaPods cache folder and trying again.

**Cleaning your CocoaPods cache folder**:
[code]

[2016-09-16 10:42] #282 closed

[2016-09-16 10:44] 3lvis commented on #281
@ro22e0 Would you mind proving an example of your Core Data model and the JSON that you're using?

Should be easy to figure out what's missing with some more info.

[2016-09-16 11:05] AnnieNinaJoyceV commented on #282
Yes, that fixed it. Thanks for the help! 👍

[2016-09-16 11:42] 3lvis commented on #282
Awesome! Have a great weekend 🎉

[2016-09-16 12:18] ro22e0 commented on #281
my model
<img width="134" alt="capture d ecran 2016-09-16 a 14 17 17" src="https://cloud.githubusercontent.com/assets/11290982/18585649/7287599e-7c18-11e6-87c9-ac8d73b11b94.png">

and the json

`[
  {
    "events" : [
    ],
    "owners" : [
      {
        "status" : "owner",
        "school" : null,
        "promotion" : null,
        "id" : 3,
        "company" : null,
        "image" : null,

[2016-09-18 15:05] dersvenhesse commented on #281
Since your JSON contains two entries respectively two model instances Sync is totally right to create two objects as well.

[2016-09-18 22:10] Sorix opened #283 "One entity as separate relationships, incorrect import"
I have model with 2 relationships using same entities but with different goal. For example I have `Task` entity with 2 relationships: `owner` and `participants`. Both relationships use entity `User`. When I try to import any JSON with `owner` set, Sync also fills `participants` with same data (but there is no participants set, only owner relationship).

![model](https://cloud.githubusercontent.com

[2016-09-18 22:17] 3lvis commented on #283
Hi @Sorix,

Which version of Sync are you using? :)

[2016-09-18 22:42] 3lvis commented on #283
Nevermind, found it in the included project. Thanks!

[2016-09-19 06:02] AnteyA commented on #270
I forgot to answer.
I had to change function hyp_dateType: so it solve my problem
- (HYPDateType)hyp_dateType {
    if ([self containsString:@"-"] && [self length] > 0 && ![[self substringToIndex:1] containsString:@"-"]) {
        return HYPDateTypeISO8601;
    } else {
        return HYPDateTypeUnixTimestamp;
    }
}

Also i had to change function hyp_dateFromUnixTimestampString, because in this

[2016-09-19 06:24] 3lvis commented on #270
That's very nice of you, I wish you an amazing week 🌞

[2016-09-19 14:55] pwestrich commented on #281
However, if id is the primary key for the Owner object, we shouldn't allow two objects with the same primary key, as they should be unique.

[2016-09-22 13:20] Sorix commented on #283
That diff is solved my issue after my investigations. I can't open pull request because I'm not sure that it is complete and correct solution, it was discovered more like "random", also I don't know if it work for whole Sync (I've fixed only in `sync_fillWithDictionary` method), I haven't look at all Sync sources yet :)

But I've check at my more complex database and I don't see any bugs yet.

But

[2016-09-22 13:39] 3lvis commented on #283
Hahaha, fantastic detective work!

[2016-09-22 15:46] pwestrich commented on #278
I just submitted a pull request on the other repository that implements this.
I had some free time, so seeing as you're so busy and I use this project a ton, figured why not.

[2016-09-22 15:47] 3lvis commented on #278
https://github.com/hyperoslo/NSString-HYPNetworking/pull/16

[2016-09-22 15:47] 3lvis commented on #278
@pwestrich thanks a lot!

[2016-09-22 20:06] 3lvis commented on #278
# BOOM! Fixed in 2.1.0

https://github.com/hyperoslo/Sync/releases/tag/2.1.0

[2016-09-22 20:06] #278 closed

[2016-09-22 20:08] 3lvis commented on #275
# BOOM! Added in 2.1.0

**https://github.com/hyperoslo/Sync/releases/tag/2.1.0**

And [Sync 1.14.0](https://github.com/hyperoslo/Sync/releases/tag/1.14.0) if you're still in Swift 2.3

[2016-09-22 20:08] #275 closed

[2016-09-22 20:08] 3lvis commented on #274
# BOOM! Added in 2.1.0

**https://github.com/hyperoslo/Sync/releases/tag/2.1.0**

And [Sync 1.14.0](https://github.com/hyperoslo/Sync/releases/tag/1.14.0) if you're still in Swift 2.3

[2016-09-22 20:08] #274 closed

[2016-09-23 06:23] 3lvis commented on #281
Closing this one for lack of more information from the original author. Let's revisit this later when we know more.

[2016-09-23 06:23] #281 closed

[2016-09-23 08:45] cflorion opened #284 "NSPersistentContainer"
Hi,

My new app uses NSPersistentContainer for its core data stack. I want to use Sync to communicate with my API.

The thing is that I noticed that Sync is tightly coupled with DataStack. I am looking into recoding part of Sync so it used NSPersistentContainer contexts, or maybe there is a way to pass NSPersistentStoreContainer's contexts to DataStack ?

But maybe this is a bad idea, this couplin

[2016-09-23 08:47] 3lvis commented on #284
Hi! OMG. You're already iOS 10 only?

I haven't had the chance to look at this closely, but there's the chance to make it work, although we could lose some features.

Is there a reason on why you're using `NSPersistentContainer` instead of something like `DATAStack`?

[2016-09-23 08:53] cflorion commented on #284
Yes, iOS 10 only :)
All our B2B users update their OS quickly 👌🏻 #lucky

No wise reason to use `NSPersistentContainer ` no. Only that the more code in Apple's hands is less code in mine (and less bugs hopefully).

But that's probably a wrong reason. I noticed that `DATAStack` dont use parent/child context, is there reason for that ?

[2016-09-23 08:53] 3lvis commented on #284
Main reasoning for decoupling so far has been that owning the entire stack means it's easier to fix any potential issues. In theory it should be able to work with `NSPersistentContainer`.

[2016-09-23 08:55] 3lvis commented on #284
`parent/child` context have been really buggy for me in the past. Meanwhile merging has been more stable. Also then I'm able to do this: https://github.com/3lvis/SyncPerformance aka loading tons of tons of objects into Core Data without blocking the UI since there's no merging into the main thread.

[2016-09-23 08:57] cflorion commented on #284
I see, good point. I'll give `DATAStack`a try right now.
Thanks 3lvis!

[2016-09-23 09:02] 3lvis commented on #284
🎉 Let's keep this task open, would be awesome to try Sync with NSPersistentContainer.

[2016-09-23 11:27] AnnieNinaJoyceV opened #285 "Migrating to Swift 3 [Help wanted]"
**Here is my CoreData model**
![screen shot 2016-09-23 at 4 37 05 pm](https://cloud.githubusercontent.com/assets/7369485/18783874/109ed8e4-81ac-11e6-8e94-bb606f0c36c3.png)

**for example JSON,**

![screen shot 2016-09-23 at 4 46 32 pm](https://cloud.githubusercontent.com/assets/7369485/18784088/55ec2950-81ad-11e6-895a-ca621b4dc1d5.png)

**Related code:**

`func getFilmographyDetailsFromServer(comp

[2016-09-23 16:27] pwestrich commented on #285
I think this might be similar to the problem I'm having in #280.

[2016-09-24 17:59] 3lvis commented on #285
Hi,

I'll have a look.

[2016-09-24 18:07] 3lvis commented on #285
Thanks for reporting this bug, @AnnieNinaJoyceV. I was able to reproduce it. https://github.com/hyperoslo/Sync/pull/286

[2016-09-24 18:08] 3lvis commented on #285
@pwestrich Yeah, looks like they could be related.

[2016-09-24 18:22] 3lvis commented on #285
@AnnieNinaJoyceV I was able to reproduce, probably because I'm using `id` as primary key. What are your primary keys for this entities?

https://github.com/hyperoslo/Sync/pull/286

[2016-09-24 18:26] 3lvis commented on #280
@pwestrich Could you help me by saying what are you using for primary key in each entity?

[2016-09-24 18:28] 3lvis commented on #280
Working on a fix here, but need more info to reproduce: https://github.com/hyperoslo/Sync/pull/290

[2016-09-24 18:28] AnnieNinaJoyceV commented on #285
@3lvis thank you for having a look on this issue. The original response doesn't have 'id' included. Thus mine has `category` and `film` as primary keys.

[2016-09-24 18:38] 3lvis commented on #285
Hi @AnnieNinaJoyceV I'm having a hard time reproducing this bug. Seems to be working fine from here.

https://github.com/hyperoslo/Sync/pull/286

[2016-09-24 18:39] 3lvis commented on #285
Any ideas on what I could try to reproduce the crash?

[2016-09-24 18:41] pwestrich commented on #280
busId is the primary key for both Bus and Route, and index is the primary key for RouteStop and RoutePolylineItem.

[2016-09-24 18:41] AnnieNinaJoyceV commented on #285
@3lvis ah, I'm not sure.. Even it works for me if I use swift 2.3 branch. The live app uses 2.3 branch. Is there something I might have probably missed?

[2016-09-24 18:41] 3lvis commented on #280
@pwestrich Thanks!

[2016-09-24 18:42] AnnieNinaJoyceV commented on #285
Or I will try to make a demo project and share by Monday?

[2016-09-24 18:43] 3lvis commented on #285
@AnnieNinaJoyceV I'll try to reproduce on the Swift 2.3 branch. If it works there as well, a demo project would be very useful.

Thanks for following up! Have a great weekend 🌻

[2016-09-24 18:45] AnnieNinaJoyceV commented on #285
Sure, great weekend to you too :)

[2016-09-24 19:06] 3lvis commented on #280
Hi again @pwestrich

I haven't been able to reproduce the issue. Do you have any idea what I might be missing?

https://github.com/hyperoslo/Sync/pull/290

[2016-09-24 21:10] pwestrich commented on #280
I'm not sure. From what I can see your managed object model and JSON look like mine. I'm nowhere near my work computer at the moment. I'll see what I can do Monday morning when I'm back.

[2016-09-24 21:54] 3lvis commented on #280
@pwestrich Don't worry! Have a great weekend 🎉

[2016-09-24 22:33] 3lvis commented on #280
@pwestrich I was able to reproduce the bug by calling Sync two times, one after the other. Seems like the crash is related to updating.

[2016-09-26 07:44] AnnieNinaJoyceV commented on #285
Hi @3lvis I hope you had a great weekend. Here is a very rough demo project for this issue - https://www.dropbox.com/s/mcmrigrnczxh5ku/Sync285.zip?dl=0
Please let me know after checking :)

[2016-09-26 16:16] pwestrich commented on #280
I do have two calls to Sync, but removing the second one has no effect; it's the first one that causes it, which is the one that updates the Route and its subset of objects.
I have confirmed that your model and JSON do look like mine.

[2016-09-26 16:33] 3lvis commented on #280
Issue fixed here: https://github.com/hyperoslo/Sync/pull/290 🎉

Should be available through CocoaPods in the upcoming Sync release.

[2016-09-26 16:33] #280 closed

[2016-09-26 16:38] 3lvis commented on #280
# [Fixed on Sync 2.1.2](https://github.com/hyperoslo/Sync/releases/tag/2.1.2)

[2016-09-26 16:39] pwestrich commented on #280
Awesome. Thanks a lot.

[2016-09-26 16:46] 3lvis commented on #285
Thanks for supplying the demo project. I used it to verify that this was fixed on the latest Sync release.

# [Fixed on Sync 2.1.2](https://github.com/hyperoslo/Sync/releases/tag/2.1.2)

[2016-09-26 16:46] #285 closed

[2016-09-26 16:56] 3lvis commented on #272
@bonebox This should be fixed in the latest release of Sync 1 and Sync 2. Please let me know otherwise.

# [Fixed on Sync 1.14.2](https://github.com/hyperoslo/Sync/releases/tag/1.14.2)

[2016-09-26 16:56] #272 closed

[2016-09-26 18:52] bonebox commented on #272
Looking good, thanks @3lvis !

[2016-09-26 21:47] 3lvis commented on #283
Fixed here https://github.com/hyperoslo/Sync/pull/291

[2016-09-26 21:47] #283 closed

[2016-09-26 21:49] 3lvis commented on #283
This was a bigger issue than what it seemed, but most people probably haven't reached since it's not a common scenario to have 2 relationships point to the same entity.

[2016-09-27 14:41] jimijon opened #294 "hyper.isPrimary doesn't seem to work."
Ok -

In my CoreData I have remoteID along with remoteCode (string). I want remoteCode to be the primary key. I set remoteCode in Xcode to hyper.isPrimaryKey / true in User Info.

When I run my sync, no records are added into the database.

[2016-09-27 15:10] xTheRamon commented on #294
I'm not sure, but try adding a ’hyper.remoteKey’ as well. Might be working after that!

[2016-09-28 02:36] 3lvis commented on #294
Great suggestion, @xTheRamon. That should fix the issue @jimijon. Let us know otherwise.

[2016-09-28 02:36] #294 closed

[2016-09-28 19:19] jimijon commented on #294
OK, I got it to work by adding hyper.remoteKey. However, this should be reflected in the documentation.

[2016-09-28 19:34] 3lvis commented on #294
@jimijon it is :)

https://github.com/hyperoslo/Sync#using-hyperisprimarykey-in-addition-to-hyperremotekey

[2016-09-28 21:41] 3lvis commented on #294
Moved the mentioned information from FAQ to it's corresponding section.

https://github.com/hyperoslo/Sync/blob/master/README.md#primary-key

[2016-09-30 01:09] jimijon commented on #294
Back to this. It doesn't work for me. In my core data model I do have remoteID BUT I don't want to use that. So, I first added, hyper.remoteKey = nfCode to the table, and then I added, hyper.isPrimaryKey = true on the nfCode attribute.

The JSON data is "nfCode" also. Thoughts?

[2016-09-30 05:33] 3lvis commented on #294
You have to add both to the attribute.

[2016-09-30 05:33] 3lvis commented on #294
Not to the table :)

[2016-10-04 15:00] RolandasRazma opened #297 "[Feature Request] Sync.changes for specific object."
it might be hard to understand flow I'm trying to achieve, but let me try to explain :)

**Flow (pseudo code):**
[code]

**Problem:**
there is no way of doing this in vanilla Sync.
I managed to implement this by copying whole `Sync.changes` wrapping it in `performIn...`, removing `DATAFilter.changes` lookup and just doing `newMO.sync_fillWithDictionary` but it looks messy.

**Challenges:**
`Server

[2016-10-04 16:48] 3lvis commented on #297
@RolandasRazma Great suggestion! I of course see how this could be useful.

[2016-10-05 08:34] 3lvis commented on #297
I really need to remove this

[code]

Background contexts are really meant to be used using `performBlock` or `performBlockAndWait`

[2016-10-05 12:25] RolandasRazma commented on #284
@3lvis you could use https://github.com/inspace-io/INSPersistentContainer for now to support it on lower iOS versions. Logic would be: replace DATAStack with INSPersistentContainer for now. Remove INSPersistentContainer dependancy when dropping support for iOS9 later

[2016-10-05 12:37] 3lvis commented on #284
@RolandasRazma sounds smart!

[2016-10-07 07:51] ro22e0 opened #298 "Sync changes"
Hello,
I there a way to choose if it include subentities when perform changes ?

[2016-10-07 07:54] 3lvis commented on #298
Hi @ro22e0,

How would you normally do that? I'm not sure if we have support for that.

[2016-10-07 08:50] ro22e0 commented on #298
"includesSubentities" a property of NSFetchRequest and the default value is true.

Here : [Apple doc](https://developer.apple.com/reference/coredata/nsfetchrequest/1506366-includessubentities)

[2016-10-07 09:01] 3lvis commented on #298
@ro22e0 that's not supported at the moment but should be possible to add it.

Could you please share your use case (Core Data model + JSON) to reproduce it?

[2016-10-07 20:02] ro22e0 commented on #298
Yes I'll reopen it when it done

[2016-10-07 20:02] #298 closed

[2016-10-09 14:53] Sorix opened #299 "No such module 'NSEntityDescription_SYNCPrimaryKey'"
I'm installing Sync with that pod (for Swift 2.3):
`	pod 'Sync', '~> 1'`

I receive an error when trying to build:
`/Pods/Sync/Source/NSManagedObject+Sync.swift:2:8: No such module 'NSEntityDescription_SYNCPrimaryKey'`

[code]

[2016-10-09 16:49] PiotrOlszewski commented on #299
I had exactly the same problem:

Pods combination:

  pod 'Alamofire', '3.5.0'
  pod 'Sync', '1.14.3'
  pod 'NSManagedObject-HYPPropertyMapper', '4.1.1'
  pod 'DateParser', '0.1.0'

works for me as a temporary fix :)

Hope it helps.

[2016-10-09 19:42] 3lvis commented on #299
Can you try again? The latest release should fix this problem.

https://github.com/SyncDB/Sync/releases/tag/1.15.0

[2016-10-09 19:45] 3lvis commented on #299
Let me know if I should re-open this issue. Thanks for reporting it!

[2016-10-09 19:45] #299 closed

[2016-10-10 18:19] klivin opened #300 "Support for date formatting or add date format: 2016-10-10 07:00:00"
Need support for date format: "2016-10-10 07:00:00"

Could you add ability to assign our own date formatter, or could you add the above formatting?

[2016-10-10 18:25] 3lvis commented on #300
Hi @klivin,

It's possible to add your own formatting.

https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper/blob/master/Tests/NSManagedObject%2BHYPPropertyMapper/HYPFillWithDictionaryTests.m#L173

But the format that you requested is in the list as well.

https://github.com/SyncDB/DateParser/issues/4

[2016-10-10 20:22] klivin commented on #300
That's great, I would like to add my own formatter, trying what you put in your docs:
https://github.com/SyncDB/NSManagedObject-HYPPropertyMapper#dates

However, the link to the example is broken where it says:
You can find an example of date transformer in DateStringTransformer.

Getting a not found error.
I am left wondering what DateStringTransformer should look like?

[2016-10-10 20:25] 3lvis commented on #300
Link fixed!

[2016-10-10 22:11] klivin commented on #300
Hi there, I am trying to get dates mapping using ValueTransformer in Swift 3.

I register the ValueTransformer as such:
[code]
Here's my actual transformer:
[code]
The transformed date is getting returned with a valid date when Sync starts mapping i see output:
transformed date 2016-10-11 15:30:00 +0000
transformed date 2016-10-11 07:00:00 +0000
...

However, Sync will crash on context.save() (Syn

[2016-10-13 06:54] 3lvis commented on #300
Hi @klivin,

I'm sorry for not looking at this before, quite busy at work. As a workaround I would recommend you to pre-process your JSON to have ISO 8601 dates. I'll try to put some time later this week to fix the issues that you mentioned.

Best,

[2016-10-15 20:46] realtec commented on #265
I would love to see this implemented since I have the same issue while syncing deeper nested json from my API.
I'm ending up with duplicated records atm.
I can provide more information about the exact issue if needed.

[2016-10-16 00:24] 3lvis commented on #265
@realtec that would be very useful, specially so I make sure to support your use case as well.

[2016-10-16 13:50] realtec commented on #265
Alright here is my situation.
When sucessfully authenticated I want to fetch most of the user data in one call.
This is my data model:
<img width="559" alt="datamodel" src="https://cloud.githubusercontent.com/assets/1419576/19417698/c7c3e1ae-93b3-11e6-826d-19689c05aa1f.png">

My JSON response (I left out the timestamps for simplicity):
[code]

[2016-10-21 15:08] allemattio opened #301 "Entity duplicated if ignored from Sync.changes using predicate"
Hi,

I'm having an issue in my app.
I use a predicate to exclude some entities from the sync, in my case are entities modified on the app that need to be sent to the server before pulling the new entities from server, so the predicates and the Sync.changes methods look like this:

[code]
What happens is that if in the JSON to Sync that arrives from the Server is present an entity with the same id(

[2016-10-21 21:29] Proper-Job commented on #301
@allemattio I think what you're describing is actually a valid use case.
One thing I noticed though is that I believe you have a syntax error in your predicate format string. I think equality testing should be done with two equal signs ``==`` as described [here](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/Predicates/Articles/pCreating.html#//apple_ref/doc/uid/TP40001

[2016-10-22 08:47] AnnieNinaJoyceV opened #302 "`Int` getting stored as 0"
![sample-json](https://cloud.githubusercontent.com/assets/7369485/19618181/b5e353a0-9860-11e6-9585-62840f509299.png)

For the above sample `JSON`, I have tried with following 2 core data models.
Where in the first Core Data model, returned `0` for adminId & adminTransactionId and some other String values as `null` (Marked in magenta)

![coredatamodel](https://cloud.githubusercontent.com/assets/736

[2016-10-22 09:19] 3lvis commented on #302
@AnnieNinaJoyceV check if your Core Data attribute has a default value. Sounds like that's the issue.

[2016-10-22 09:19] 3lvis commented on #302
![figure-6](https://cloud.githubusercontent.com/assets/1088217/19618387/66906d4a-9849-11e6-858f-f71318950712.jpg)

[2016-10-22 10:05] AnnieNinaJoyceV commented on #302
I tried unchecking the default 0, it still returns 0.
The `resultCode` variable has the same settings and it holds the values just fine.

![default0](https://cloud.githubusercontent.com/assets/7369485/19618602/0847f2f2-986d-11e6-8d38-2b0b7f937e1f.png)

[2016-10-22 12:27] 3lvis commented on #302
Can you remove the "Use scalar type"?

[2016-10-22 12:32] AnnieNinaJoyceV commented on #302
Unchecking `Use scalar type` returns `nil`.

[2016-10-22 12:34] 3lvis commented on #302
\o/

[2016-10-22 12:34] 3lvis commented on #302
This is fixed then?!

[2016-10-22 12:35] 3lvis commented on #302
http://stackoverflow.com/questions/26977812/should-i-check-the-use-scalar-properties-for-primitive-data-types-when-generat

[2016-10-22 12:36] 3lvis commented on #302
@AnnieNinaJoyceV Btw, Sync would normally map to

`adminTransactionID` instead of `adminTransactionId`
`adminID` instead of `adminId`

[2016-10-22 12:38] 3lvis commented on #302
Let me know if there's anything else I can help with.

[2016-10-22 12:38] #302 closed

[2016-10-22 12:41] AnnieNinaJoyceV commented on #302
Thanks for the help @3lvis
I didn't know that `Sync` will automatically map `_id` as `_ID`, that was the error.

[2016-10-22 12:44] 3lvis commented on #301
I think this is related to this https://github.com/SyncDB/Sync/pull/189

Basically today we run the predicate through the local/Core Data objects. Ideally we should also run the predicate through the JSON file, so we make sure that all objects (remote and local) are ignored if they don't comply with the predicate.

[2016-10-22 19:08] Proper-Job commented on #301
@3lvis that won't have the same effect as an exclude predicate.
In the example above all local objects with ``synced == FALSE`` should be excluded from any mapping operations. What if the field ``synced`` isn't present in the server payload, or is always ``true``?  Wouldn't the local objects still be overwritten?

[2016-10-22 19:32] 3lvis commented on #301
@Proper-Job You're right, for that use case at the moment in one of my apps I take the JSON and take the IDs as an array.

[code]

This would mean, sync this JSON, excluding all the attributes marked as true, and at the same time, exclude all the items that have one of this IDs.

[2016-10-23 07:05] Proper-Job commented on #301
@3lvis I don't actually see how taking the ids from the JSON payload into the predicate will help avoid inadvertent overwriting of local objects.  I'll sketch out an example to illustrate what I mean.

Let's say I have the following CoreData model:

[code]

And the following JSON payload that comes from the server:

[code]

Now let's say I've synced my todos to the app and I'm on my way to buy flo

[2016-10-23 07:23] Proper-Job commented on #301
@3lvis You also suggested running the predicate against the incoming JSON.  How would this help in my example above?  The JSON object are missing the ``in_progress`` flag, so none of the JSON objects would get dropped from the JSON payload.

I believe the solution to this conundrum is to employ 2 predicates.

1. An include predicate that fetches a list of local objects that are to be included in m

[2016-10-23 07:59] Proper-Job commented on #301
Actually come to think of it, I believe it's necessary to split the predicates even further. In some cases it is necessary to differentiate between which objects are to be excluded from UPDATES and which are to be excluded from DELETES.

I can build a use case for this if you like.

Naturally this only becomes necessary once you start changing properties of objects that come from the server.  In r

[2016-10-23 10:39] 3lvis commented on #183
Added Carthage support on the latest version.

[2016-10-23 10:39] 3lvis commented on #138
Added Carthage support on the latest version.

[2016-10-23 10:39] 3lvis commented on #240
Added Carthage support on the latest version.

[2016-10-23 14:21] 3lvis commented on #300
@klivin Hi, I took a second look and added a demo on how value transformers should be used. Basically, you need to add a key to your User Info. I would recommend to not use Transformables since they don't seem very reliable.

https://github.com/SyncDB/SYNCPropertyMapper#dealing-with-bad-apis

[2016-10-23 14:31] 3lvis commented on #300
Moved to https://github.com/SyncDB/SYNCPropertyMapper/issues/134

[2016-10-23 14:31] #300 closed

[2016-10-23 15:00] 3lvis commented on #300
Fixed here https://github.com/SyncDB/SYNCPropertyMapper/pull/135

[2016-10-24 23:21] 3lvis commented on #301
Hi @Proper-Job, I think you're right. Thanks for taking the time to explain this.

[2016-10-24 23:44] 3lvis commented on #268
Expanded a bit on the [README](https://github.com/SyncDB/Sync/blob/master/README.md), I'll consider adding more in the future meanwhile you might find this informative.

https://github.com/3lvis/Dream

[2016-10-24 23:44] #268 closed

[2016-10-24 23:46] 3lvis commented on #228
This should be fixed as far as I know.

[2016-10-24 23:46] #228 closed

[2016-10-25 20:49] AndrewSB commented on #268
I see the value now.
Thank you for building this 😊

[2016-10-25 23:12] 3lvis commented on #301
@allemattio I would advise that locally the id that you assign to your item is an id that you won't find in the backend. You can either have a local-only id, so you're sure this won't get overwritten, or you can make a fake (remote) id that has low collision rate with the remote one.

[2016-10-26 23:01] 3lvis commented on #301
Hopefully this will give a better perspective on how to handle this scenarios.

https://github.com/SyncDB/OfflineCRUDDemo

Let me know if something is unclear.

[2016-10-26 23:01] #301 closed

[2016-10-26 23:20] 3lvis commented on #297
@RolandasRazma there's already this

[code]

From Sync's dependency [SYNCPropertyMapper](https://github.com/SyncDB/SYNCPropertyMapper).

I think it would fill your needs. Let me know otherwise.

[2016-10-26 23:20] #297 closed

[2016-10-27 00:13] #284 closed

[2016-10-27 00:14] 3lvis commented on #284
Added basic support for `NSPersistentContainer` in theory Sync could be used with just a NSManagedObjectContext.

[2016-10-27 00:15] 3lvis commented on #284
The main issue is that using DATAStack lowers down the amount of support since we have more control over the Core Data stack.

[2016-10-29 18:04] Jonge opened #310 "Parent entity is ignored when using Sync as NSOperation"
Hey again @3lvis,

I think I found an issue where by using Sync as NSOperation, the assigned parent entity won't get assigned.

When you change for instance the `testObjectsForParent()` test to use NSOperation, like this:

[code]

instead of the current:

[code]

then the parent will be nil.

Didn't yet dig deeper, so not sure what the issue is here. Or am I doing something wrong?

[2016-11-01 23:22] jimijon opened #311 "newNonMergingBackgroundContext how?"
Here is my sample code. I think it is generating the following error:

This application is modifying the autolayout engine from a background thread after the engine was accessed from the main thread. This can lead to engine corruption and weird crashes.

What am I doing wrong?

`        let urlString: String = appDelegate.baseURLString+"_table/news"
        let context = appDelegate.dataStack!.new

[2016-11-01 23:28] 3lvis commented on #311
[code]

[2016-11-01 23:30] #311 closed

[2016-11-01 23:31] 3lvis commented on #311
You can use this to check where your app is accessing UI from a background thread.

http://stackoverflow.com/a/32680772/717416

[2016-11-02 13:19] tboetig commented on #228
Which release did this fix make it into? Does it require updating to v2 ?

[2016-11-02 13:28] 3lvis commented on #228
Hi @tboetig for what I can see it was part of 1.13.1 https://github.com/SyncDB/Sync/issues/225#issuecomment-242726492

[2016-11-03 13:50] ivoindriksons opened #312 "Sync for objective-C (OperationOptions doesn't exist)"
Hi  @3lvis!
Lately i have been using Sync in all my projects. Since most of them are in Objective-C i use Sync in objective-C.  I saw that one of the most waited functionality is added from this issue:
Feature Request to add Update and Delete functions to Sync #162

could you help figure out how i can use in objective-c?

Here is objective-c example:

[code]

what i would like is:

[code]

[2016-11-03 14:15] 3lvis commented on #312
@ivoindriksons Hi,

The latest version of Sync uses a Swift only API protocol called `OptionSet` for this reason it's not available in Objective-C.

[2016-11-03 14:40] 3lvis commented on #312
Do you have any ideas on what we could do there?

[2016-11-03 14:46] ivoindriksons commented on #312
Well. This functionality is very useful.
My idea probably would be to use to typedef

something like:
`
typedef NS_ENUM(NSInteger, SyncOperations)
{
Insert,
Update,
Delete,
All
};
`

and based on value use the method needed

[2016-11-03 14:49] ivoindriksons commented on #312
Since typedef is available on both objective-C and swift, if i remember correctly.

[2016-11-03 14:53] ivoindriksons commented on #312
I found some info regarding this could help regarding this implementation:

In Objective-C:

[code]
in an Objective-C header, this would be imported into Swift as

[code]
More Information can be found in the "Using Swift with Cocoa and Objective-C" reference:

"Interaction with C APIs":
Swift also imports C-style enumerations marked with the  NS_OPTIONS macro as a Swift option set. Option sets beh

[2016-11-03 14:54] 3lvis commented on #312
Have you seen a framework combining Objective-C and Swift code? As far as I know this is not supported.

[2016-11-03 14:57] ivoindriksons commented on #312
http://stackoverflow.com/questions/32530018/accessing-swift-optionsettype-in-objective-c

Here I think is the same problem, and solution on this provided.
What do you think ?

[2016-11-03 15:00] 3lvis commented on #312
Maybe we could have a separate API just for Objective-C that used strings instead.

[2016-11-03 15:17] 3lvis commented on #312
It doesn't work because you can't have both Objective-C and Swift in the same framework. I think there might be a workaround but I haven't seen any library doing it.

[2016-11-03 15:18] ivoindriksons commented on #312
Ok maybe then your provided solution with strings ?

[2016-11-03 15:47] ivoindriksons commented on #312
It seems for now i have found workaround.
I Created Class in Swift, that uses the new operations. And then i used it as a bridge, to use it in objective-C. For now it seems to work.

Example:
`public class func syncsData(_ data: [Any], inEntityNamed entityName: String, dataStack: DATAStack, completed:  @escaping (NSError?) -> Void) {
        Sync.changes(data as! Array, inEntityNamed:entityName, d

[2016-11-03 15:47] ivoindriksons commented on #312
[code]

[2016-11-03 15:49] 3lvis commented on #312
👏

[2016-11-03 15:49] 3lvis commented on #312
This is the perfect workaround. Closing this issue.

[2016-11-03 15:49] #312 closed

[2016-11-11 19:17] risp opened #320 "Delete values for missing attributes/relationships"
Hi,

First of all thanks for this framework! Before I was using RestKit but this Sync has much cleaner approach. I was wondering about one thing though: if the server doesn't an attribute it seems Sync doesn't set the value to null. So for example, first the server responds with:

[code]
Then later on, when I removed the note on the server, the server sends:
[code]
As you see, instead of sending n

[2016-11-11 19:52] risp commented on #320
I just noticed that even when the server is sending null, still the relationship isn't removed. I tried the following 2 cases:

[code]
[code]

[2016-11-12 07:02] 3lvis commented on #320
Hi @risp, you need null to clear the relationship. Your second example should work. I'll have a look.

Thanks for reporting this!

[2016-11-12 11:42] achirkof opened #321 "One-to-many Simplified"
Hello!

I have api model like this:
**Calendar**
[code]

**Workout**
[code]
**Workout** have simplified relationship to **Calendar**. Field `plannedTo` contains array of `Calendar ids`.

I have Core Data model like this:
![image 2016-11-12 at 2 30 26 pm](https://cloud.githubusercontent.com/assets/1292136/20237484/b3599baa-a8e4-11e6-847d-ce8d9b9c1c4d.png)

Fiels `plannedTo` equal to `Calendar id` a

[2016-11-12 16:14] 3lvis commented on #321
Hi! Could you check if this is related to Sync mapping to ID instead of `Id`?  meaning change `eventSourceId` to `eventSourceID`.

[2016-11-12 16:15] 3lvis commented on #321
You might need to change this in the `hyp.remoteKey` as well.

In your Core Data attribute `eventSourceID`
`hyp.remoteKey` =  `eventSourceId`

[2016-11-12 16:17] 3lvis commented on #321
Regarding `plannedTo`. I believe that Sync would expect `planned_to_ids` to do an automatic mapping. I don't remember testing this with camelCase. But it should look for `plannedToIDs`. I'll have a closer look when my plane lands.

[2016-11-12 16:42] achirkof commented on #321
Hi @3lvis !
I can confirm that if I set field name to `eventSourceID` and `hyp.remoteKey = eventSourceId` for **Calendar** and
`plannedToIDs` for **Workout** field `ZEVENTSOURCEID` filled by workout id's now.

In **Workout** entity there is no new file and I think it is not necessary.

[2016-11-12 18:18] 3lvis commented on #321
Awesome! I think is fine to close this issue then. Let me know if anything goes wrong and I'll reopen this one.

Have a great weekend!

[2016-11-12 18:18] #321 closed

[2016-11-13 08:41] risp commented on #310
I dug a bit deeper and found out that the `parentRelationship` is always set as nil when using an Operation. See here:
https://github.com/SyncDB/Sync/blob/8ae41b52d2fd3f9bb6b6a279d7fe46c3d8e39890/Source/Sync/Sync.swift#L106

And here: https://github.com/SyncDB/Sync/blob/8ae41b52d2fd3f9bb6b6a279d7fe46c3d8e39890/Source/Sync/Sync.swift#L113

[2016-11-13 08:43] 3lvis commented on #310
Yeah. Need to refactor a bit to use the same methods.

[2016-11-17 18:25] neil-morrison44 opened #326 "Feature Request / Question: A way to change a single object"
Hi, I've got a single json object coming in from a pubsub stream, it exists in the core data store already.

I'm looking for a way to run all the nice sync relationship syncing things using this json blob and the entity which exists in core data?

[2016-11-18 09:18] 3lvis commented on #326
Hi @neil-morrison44,

There isn't such thing at the moment but should be simple to add.

I think it could look something like this.

[code]

[2016-11-18 09:19] 3lvis commented on #326
Probably related to https://github.com/SyncDB/Sync/issues/162 as well.

[2016-11-18 09:47] neil-morrison44 commented on #326
@3lvis I tried something similar, however I'm using JSON  with "*_ids" suffixes, which are dealt with in the NSManagedObject+Sync extension rather than within the hyp_fill method, so that solution works for the basic properties but not the relationships

[2016-11-18 09:54] 3lvis commented on #326
@neil-morrison44 `sync_fill` maybe works better there.

[2016-11-18 09:54] 3lvis commented on #326
Although that's a private method right now.

[2016-11-18 09:58] neil-morrison44 commented on #326
@3lvis Yeah, it's that `sync_fillWithDictionary` method I want to be getting at, but since extensions are private to the module in swift there's no way of accessing it (I think, at least?)

[2016-11-23 15:05] risp commented on #320
Hi @3lvis any idea when you have time to look at this?

[2016-11-24 07:31] #233 closed

[2016-11-24 07:32] 3lvis opened #327 "Support ordered to many relationships"
Right now only to many relationships with ID are supported.

https://github.com/SyncDB/Sync/pull/318

Original issue: https://github.com/SyncDB/Sync/issues/233

[2016-11-26 21:25] #320 closed

[2016-11-26 21:26] 3lvis commented on #320
Fixed here https://github.com/SyncDB/Sync/pull/324/commits/f6a32e97403530036e53a51e1a0370a9fb451fe8

I'm sorry this took that long. It usually doesn't take much before things are fixed, it's just that things at work have been quite chaotic. Let me know if you have any other issues.

Have a great weekend :)

[2016-11-28 00:01] #327 closed

[2016-11-28 00:02] 3lvis commented on #233
💥  -> https://github.com/SyncDB/Sync/issues/327

[2016-11-29 15:46] neil-morrison44 commented on #326
@3lvis Any plans to expose this functionality publicly on the Sync class?

[2016-11-29 23:07] 3lvis commented on #326
I was wondering what's better

[code]

vs

[code]

[2016-11-29 23:45] neil-morrison44 commented on #326
Think it needs to be the first one, could be the second one if you also specified the entity name though?

Since id doesn't have to be unique between different entity types, and isn't unique in my case - there's things and comments and users who all share the same id number.

I actually like the 2nd one more since it cuts down on having to do a fetch before it's updated - would move the logic of h

[2016-11-30 18:48] #310 closed

[2016-11-30 18:48] 3lvis commented on #310
Hi @Jonge,

Should be working now :)

[2016-11-30 22:50] 3lvis commented on #162
Fixed in https://github.com/SyncDB/Sync/pull/332

[2016-11-30 22:50] #162 closed

[2016-11-30 22:50] 3lvis commented on #162
If you have any feedback regarding the API let me know ❤️

[2016-11-30 22:51] 3lvis commented on #326
Fixed in https://github.com/SyncDB/Sync/pull/332

If you have any feedback regarding the API let me know 🎉

[2016-11-30 22:51] #326 closed

[2016-11-30 22:52] 3lvis commented on #224
Most errors should be propagated now, if you have any other suggestions please let me know.

[2016-11-30 22:52] #224 closed

[2016-11-30 22:57] 3lvis commented on #232
I'm not able to reproduce this error, having a sample project would help a lot. Closing until receiving further instructions.

[2016-11-30 22:57] #232 closed

[2016-12-01 09:14] Jonge commented on #310
@3lvis You're the man! Many thanks! :) Will try it out soon.

[2016-12-01 09:19] risp commented on #320
@3lvis Thanks a lot!

[2016-12-01 09:58] neil-morrison44 commented on #326
👍  the insertOrUpdate method seems like exactly what I was looking for

[2016-12-01 14:56] 3lvis commented on #162
# Current API

## Insert
[code]

[2016-12-01 19:36] 3lvis commented on #237
Hi had a second look, given the JSON:

[code]

I'm afraid you have to process the teams first before Sync knows about matching to the `team_id`.

[2016-12-01 19:37] 3lvis commented on #237
Sorry for not being more helpful here, if you have any suggestions let me know and I'll create a detailed issue to follow up.

[2016-12-01 19:51] 3lvis commented on #237
Funny, enough. I've noticed if Sync processed first teams, then memberships this works.

https://github.com/SyncDB/Sync/pull/336

[2016-12-01 19:53] 3lvis commented on #237
We could probably sort the relationships based on how they come from the backend https://github.com/SyncDB/Sync/blob/8337de7fb7370fbc431e968f325971fb494c176e/Source/Sync/NSEntityDescription%2BSync.swift#L8

[2016-12-01 19:57] 3lvis commented on #237
Reopening this since that's actually something we could do :D

[2016-12-01 20:01] 3lvis commented on #227
I guess to summarize this, would be great if there was an option where, even when using a predicate, DATAFilter made sure that there's only one item for one id, and did a `insertOrUpdate` instead of the current behaviour.

[2016-12-01 20:12] 3lvis commented on #265
This was one of the most complex models so far :D

<img width="739" alt="screen shot 2016-12-01 at 21 12 09" src="https://cloud.githubusercontent.com/assets/1088217/20810671/e02f96ae-b80a-11e6-98ed-e402860de611.png">

[2016-12-01 21:47] 3lvis commented on #265
The issue that you pointed out here @realtec is not really referred to what this issue was about, but I did found something :D

[2016-12-02 18:50] jimijon opened #339 "To-Many Relationship not relating."
I tried syncing first a one-to many. None of the manys were "relate". I went the opposite with using the many linking to the to-one and that worked.

Now I have a large product sync. But my to-ones are written to the database but when I use core data to drill down, the inverse relationship shows nothing.

Don't know what is happening but that my to-many relationships aren't being created in CoreDa

[2016-12-02 19:31] 3lvis commented on #339
@jimijon Hi James,

Could you share your Core Data model and also the JSON that you're using. Before being able to help you I need to reproduce the issue. :)

Thanks!

[2016-12-02 19:34] jimijon commented on #339
Might be red-herring…. I changed my sync call and removed Operations. This is seemingly causing records to be created and then deleted.
I guess I don’t understand how those operations work. I am setting it back to insert and update explicitly.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk

[2016-12-02 19:44] jimijon commented on #339
hmmm now I am getting some random crash.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-02 19:50] jimijon commented on #339
{
	"resource": [{
		"id": "2148",
		"upc": "678523040102",
		"nfCode": "zq30f",
		"plu": "PLU",
		"vlu": "VLU",
		"brandNFCode": "0719",
		"shelfCategoryId": "413",
		"sectionKey": "P",
		"productName": "Pretzel Stick",
		"productDescription": "Pretzel Stick",
		"packageType": "Bag",
		"packageSize": "14.1",
		"packageUOM": "oz",
		"ingredients": "Corn Starch, Potato Starch, Rice Flour, Soluble Co

[2016-12-02 20:06] jimijon commented on #339
Maybe my extensive use of my own named primary keys?

[2016-12-02 20:20] 3lvis commented on #339
Could you share your Core Data model as well? Also would be nice to know in which places you're using custom user info attributes.

[2016-12-02 20:28] jimijon commented on #339
Rolled back to 3.2.4 and it is working again.
I had sent the model with the JSON. Did you not get it?

[2016-12-02 21:24] 3lvis commented on #339
Nope, no model. https://github.com/SyncDB/Sync/issues/339

[2016-12-03 03:18] jimijon commented on #339
did you get the model? Plus the custom user info attributes are in "nfCode"

[2016-12-03 07:32] 3lvis commented on #339
Hi James, there's no model here, something must be going on with GitHub.

[2016-12-03 07:33] 3lvis commented on #339
Could you try adding it using the web client instead of through email? Maybe that was the problem.

[2016-12-03 13:04] jimijon commented on #339
send me your email… I attached it both as the model and as a zip file.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-09 19:36] jimijon commented on #339
Ever get the model? Would love to upgrade.

[2016-12-09 19:40] 3lvis commented on #339
@jimijon I got your model, but I am crazy busy at work. I'll see if I can get try it out this weekend :)

[2016-12-09 19:48] jimijon commented on #339
Understood. The older version is working fine. Just releasing a new version of the app to the store next week.

What is new in 4 anyway?

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-10 00:18] 3lvis commented on #339
@jimijon Some bug fixes, mainly for `to-one` relationships using only the id. Like a user that links to a company using `company_id`. And a fix for syncing ordered `to-many` relationships.

https://github.com/SyncDB/Sync/releases/tag/2.4.0

[2016-12-10 01:57] 3lvis opened #344 "Improve NSPersistentContainer extension"
To include predicate and operations

[2016-12-10 07:50] #344 closed

[2016-12-12 20:34] MojtabaHs opened #347 "Initial cause duplicates"
hi

Im going strait to problem and its flow for no wasting time.

array of posts :
[code]

if this is first time for u1 and u2 -> result will be 4 posts and 4 users -> WRONG
if this is not first time for us -> result will be 4 posts and 2 users -> Right

And one more thing, if api returns duplicated posts with exact same values in one response (I know its his fault but may happen somehow), all pos

[2016-12-12 20:35] 3lvis commented on #347
Hi @MojtabaHs,

Could you share your Core Data model as well? Thanks :)

[2016-12-12 20:58] 3lvis commented on #347
I gave it a try, looks like it's working. Please double check, maybe I'm missing something.

https://github.com/SyncDB/Sync/pull/348

[2016-12-12 21:17] 3lvis commented on #339
Gave it a try, seems like everything is working as it should, let me know if I'm missing something.

https://github.com/SyncDB/Sync/pull/349

[2016-12-12 21:17] #339 closed

[2016-12-12 21:32] jimijon commented on #339
What did you find?
 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-12 21:32] 3lvis commented on #339
@jimijon Have a look here -> https://github.com/SyncDB/Sync/pull/349

[2016-12-12 21:33] 3lvis commented on #277
I was able to reproduce this issue. Unit test here -> https://github.com/SyncDB/Sync/pull/350

[2016-12-12 21:47] 3lvis commented on #277
Fixed in https://github.com/SyncDB/Sync/pull/350

[2016-12-12 21:47] #277 closed

[2016-12-12 22:08] 3lvis commented on #271
Hi @normand1!

I hope you're doing fine, it's been a long time since this issue. Looks like this was fixed in a previous release, added a unit test and everything seems working like it should.

https://github.com/SyncDB/Sync/pull/351

Hugs.

[2016-12-12 22:08] #271 closed

[2016-12-12 22:09] jimijon commented on #339
I will try next week… this week we are pushing.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-12 22:10] 3lvis commented on #339
@jimijon Let me know how it goes. Good luck on the new release. ❤️

[2016-12-12 22:10] jimijon commented on #339
Thanks and will do.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-13 11:07] neil-morrison44 opened #353 "Regression: Crash when Syncing json array with models who refer to each other by ids"
Hi,

I've got a json API which is a format similar to:

[code]

That is - relationshipA is the inverse of relationship B.
In my Core Data setup they're setup as an ordered set with the same inverse relationship.

Previously Sync handled this fine, it'd output warnings to the log when it parsed an element which referred to elements which had not been parsed yet - but when it would get to those elem

[2016-12-13 11:14] 3lvis commented on #353
Hi @neil-morrison44,

Thanks for reporting this issue. Is most likely that this was introduced in https://github.com/SyncDB/Sync/pull/328.

Matching with ids, has a few caveats, one of this is that is ideal that the objects that you reference by id are already in Core Data. Otherwise, it might work sometimes, meaning, it will work only if the entity is already there.

[2016-12-13 11:24] 3lvis commented on #353
I think adding a safety check to silently fail instead of crashing might be the solution for this.

[2016-12-13 11:29] MojtabaHs commented on #347
<img width="368" alt="screen shot 2016-12-13 at 2 59 37 pm" src="https://cloud.githubusercontent.com/assets/15649873/21138755/cbb30240-c144-11e6-8b99-8f84f2d3e436.png">

[2016-12-13 11:53] 3lvis commented on #347
The models are the same as in #348. I can double check with the mentioned operation types.

[2016-12-15 22:29] jimijon commented on #339
Not quite.

 <http://www.jimijon.com/>
James Cicenia
Founder / CEO
Direct: (773) 398-4649
Mail: james@jimijon.com
 <http://www.linkedin.com/profile/view?id=4226928&trk=tab_pro>

[2016-12-20 10:44] jim-dev2rights opened #354 "Swift 3 and Xcode 8 Codegen Class Definition model objects seem not to get stored"
Seeing a strange issue that for the life of me i can't see what is causing it.

It appears Sync.changes fails When calling DATAFilter.changes gets called.

It appears that

`let primaryKeysAndObjectIDs = context.managedObjectIDs(in: entityName, usingAsKey: localPrimaryKey, predicate: predicate) as [NSObject: NSManagedObjectID]`

Always returns an empty dictionary and thus nothing gets written to t

[2016-12-27 09:45] RJiryes opened #355 "Update reserved attributes link"
Great library guys, thanks!  Please update the reserved attributes link in the read me file as it is not working anymore. I've spent an hour trying to figure out a problem, and figured that it was probably a reserved attribute.

Thanks! 👍

[2017-01-10 17:52] jimijon opened #356 "Many to Many where the linking file is new."
Wondering if this is covered.

I have a set of Stores. I have a set of Products.
The Products are fully populated.

When syncing a store, I also pull in the storeProducts in the JSON. Inside the JSON for storeProducts there is a productCode.

Can the relationship between storeProduct -> Product be created. Or do I have to process these records afterwards to fetch the product and create the relatio

[2017-01-10 19:25] MojtabaHs commented on #356
Yes, if you set productCode as primary key in Product entity and storeProduct is a relation.

[2017-01-10 19:37] MojtabaHs opened #357 "Lazy relation ?"
Hey

I have a situation here that relations are lazy.

take a look at this please:

[code]

later on...

[code]

on syncing this, the previous relation deletes and this is not excepted.

The exception will be:

[code]

Any suggestions ?

[2017-01-10 21:15] jimijon commented on #356
Hmmm, in my storeProduct table I have productNFCode. This points to nfCode in my Product table.

Is there a way to tell Sync to use productNFCode and map it to nfCode?

[2017-01-10 21:37] jimijon commented on #356
I just tried making hyper.remoteKey = "nfCode" to no avail.

[2017-01-10 23:30] 3lvis commented on #357
Hi @MojtabaHs,

If you sync the second JSON, of course it will replace the contents of the first one, that's how Sync works. It diffs the local with the remote and acts on it.

If you want to keep the old contents try using only insert and update. Something like this:

[code]

I hope this fixes your problem, otherwise just let me know. :)

[2017-01-10 23:44] MojtabaHs commented on #357
Operations are .Insert and .Update already. @3lvis I check this things before posting here ;)
Dude, Don't close issues without confirm of opener too fast.

[2017-01-10 23:48] MojtabaHs commented on #356
This will done by setting primary key and remote key automatically. Perhaps a look on your data model and a sample of JSON response could help to resolve your issue faster ;)

[2017-01-11 00:20] 3lvis commented on #357
@MojtabaHs There's no issue in reopening if the problem is not fixed. Could you post your Core Data model, please? Wanna check out if it's a many-to-many relationship or just to-many.

[2017-01-11 05:14] MojtabaHs commented on #357
It's meny to meny @3lvis. Setting operations only works on main object I think. Nested objects not respecting to it. I double checked.

[2017-01-11 18:08] jimijon commented on #356
As requested:

<img width="613" alt="screen shot 2017-01-11 at 12 06 02 pm" src="https://cloud.githubusercontent.com/assets/971445/21860504/82dc00ee-d7f6-11e6-9e84-43accc5353d8.png">

`{
      "id": "1",
      "sectionKey": "S",
...

      "announcements": "",
      "lastUpdate": "2017-01-05 02:02:37",
      "nfCode": "5sqf",
      "storeProducts": [
        {
          "id": "2",
          "store

[2017-01-17 12:49] mukulm24 opened #358 "Duplicate Entries enlisted sometimes"
Sometimes duplicate entries are seen. One record is seen . Twice.

[2017-01-17 13:04] 3lvis commented on #358
Hi Mukul,

Thanks for reporting this issue. Can I have some information to reproduce the issue? JSON file & Core Data model or sample project would help.

[2017-01-19 11:36] vito-royeca opened #359 "Update issues"
I have a many-to-many relationship between two entities. The app runs ok for about a day , but when it is run again the next day it encounters this error behaviour:

*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[NSMutableOrderedSet moveObjectsAtIndexes:toIndex:]: index 6 beyond bounds [0 .. 1]'
*** First throw call stack:
(
	0   CoreFoundation

[2017-01-19 11:50] 3lvis commented on #359
@jovito-royeca Could you share your Core Data file and JSON file to reproduce the issue? It seems like something related to update operations.

[2017-01-19 12:58] jovito-royeca commented on #359
Hi Elvis,

Attached are the [SQLite data files](https://github.com/SyncDB/Sync/files/716610/sqlite.zip),
[Core Data model](https://github.com/SyncDB/Sync/files/716616/Netzkino.xcdatamodeld.zip), and  [JSON data](https://github.com/SyncDB/Sync/files/716612/data.json.zip). Everytime the app starts, the json is downloaded from server and then inserted to Core Data via SyncDB:

`self.dataStack.perform

[2017-01-19 13:29] 3lvis commented on #359
Thanks <3, I'll have a look when I've got some time.

[2017-01-21 20:32] 3lvis commented on #355
Thanks for reporting this issue Ramzi. 💐

It was fixed here: https://github.com/SyncDB/Sync/commit/0ca78cdc488f963cc5ea78258c9db8f4e38c1bd4

[2017-01-21 20:32] #355 closed

[2017-01-25 16:06] jimijon opened #360 "Delete Operation for related items"
I am syncing a product with its images.

I never want sync to delete the products.
I Do want sync to delete the images if they don't exist.

Is this possible on one pass?

[2017-02-01 02:07] kristoff2016 opened #361 "Does it remove object from local if the server was removed the object ?"

[2017-02-01 05:06] 3lvis commented on #361
Hi! Yes, that's exactly what it does.

[2017-02-01 05:16] kristoff2016 commented on #361
Ok thanks, I'm going to use this

[2017-02-01 06:10] #361 closed

[2017-02-01 10:57] ihor-vovk-lohika opened #362 "Code signing failure while exporting archive"
We use Carthage to integrate Sync into our project.

![screen shot 2017-02-01 at 12 19 24 pm](https://cloud.githubusercontent.com/assets/24542091/22503941/9fbf10a2-e87c-11e6-8579-0075c3500a2b.png)

**Logs from IDEDistribution.critical.log:**

2017-02-01 10:44:01 +0000 [MT] Presenting: Error Domain=IDEFoundationErrorDomain Code=1 "Codesign failed" UserInfo={NSLocalizedDescription=Codesign failed}

[2017-02-01 11:00] 3lvis commented on #362
@ihor-vovk-lohika Can you share your entire Cartfile? I think it could be dependencies referencies other subdependencies.

Make sure you don't have `SyncDB/DATAStack` or `SyncDB/SYNCPropertyMapper` in your Cartfile.

[2017-02-01 11:06] ihor-vovk-lohika commented on #362
Sure. Here it is:

github "ReactiveX/RxSwift" ~> 3.0
github "Alamofire/Alamofire" ~> 4.0
github "CocoaLumberjack/CocoaLumberjack"
github "matthewpalmer/Locksmith"
github "kasketis/netfox" "swift3"
github "card-io/card.io-iOS-source"
github "araiev/JBChartView"
github "SyncDB/Sync"
github "SwiftyJSON/SwiftyJSON"

[2017-02-01 11:08] ihor-vovk-lohika commented on #362
Should $(SRCROOT)/Carthage/Build/iOS/DATAStack.framework and $(SRCROOT)/Carthage/Build/iOS/SYNCPropertyMapper.framework be added to the copy frameworks build phase? I tried with them and without but result is the same.

[2017-02-01 11:47] 3lvis commented on #362
Looking into it.

[2017-02-01 12:02] 3lvis commented on #362
Still checking for a proper way to solve this, probably the Carthage guys know more about it, how to archive when a project has framework dependencies.

I got it working by keeping the root `DATAStack.framework` and `SYNCPropertyMapper.framework`, but deleting the ones *inside* the `Sync.frameworks` folder.

[2017-02-01 12:02] 3lvis commented on #362
![instructions](https://cloud.githubusercontent.com/assets/1088217/22506059/ac228322-e87e-11e6-8f98-020b7e6dbf5f.png)

[2017-02-01 12:03] 3lvis commented on #362
![artboard2](https://cloud.githubusercontent.com/assets/1088217/22506073/c8001bea-e87e-11e6-80d3-598e84f288d2.png)

[2017-02-01 12:42] ihor-vovk-lohika commented on #362
Confirm. The solution works. Thank you much for very quick support!
If you find a better way to fix it, please update this ticket.

[2017-02-01 12:54] 3lvis commented on #362
Will do! And I'm glad you got it working.

[2017-02-04 08:24] 3lvis commented on #360
@jimijon Maybe something like this:

[code]

[2017-02-04 08:28] 3lvis commented on #358
Closing for lack of response.

[2017-02-04 08:28] #358 closed

[2017-02-04 08:32] 3lvis commented on #354
Hi @jim-dev2rights,

I think this could be related to many-to-many relationships, if you have an array of objects that references another element inside, you need to make sure that the referenced object already exists in the database. The easiest way is just by making sure that your JSON doesn't have references to other objects but instead it sends the full object.

I hope I explained myself well.

[2017-02-04 08:32] #354 closed

[2017-02-04 17:15] jimijon commented on #360
In your response you have "jsonProduct", which I assume contains a relationship with a list of jsonImages. How will the insertOrUpdate delete images?

How about a switch in the userInfo table/relationship for insert, update, delete?

[2017-02-04 18:09] 3lvis commented on #360
Actually, I think this should work

[code]

[2017-02-04 18:09] 3lvis commented on #360
Would you mind sharing your Core Data model and JSON if that doesn't work? I can double check what's going on.

[2017-02-08 00:48] rlester opened #366 "Managing Sync Using an Operation is Never Marked Finished"
In a project I am working on we are using an OperationQueue to manage the max number of concurrent operations since much of the syncing must be serial.

[code]

I am noticing that the operations are never marked as completed. After looking through the code I noticed that ```updateFinished```  is only called if an operation is [cancelled](https://github.com/SyncDB/Sync/blob/master/Source/Sync/Sync.

[2017-02-08 22:35] 3lvis commented on #366
Hi @rlester,

Darn, I need to double check what's going on in there. Thanks for reporting this issue!

[2017-02-09 08:59] dneykov opened #367 "Ignoring JSON fields"
Hi,
I'm wondering is it possible to ignore some of the JSON fields when trying to sync with Core Data.
If there are fields in JSON which are missing my Entity Sync.changes is not working.

Thanks.

[2017-02-10 15:11] ArdentZeal opened #368 "infinite loop in hyp_dictionary() with relationships"
Hello I am new to sync and started implementing the basics.

I ran into a problem I do not know how to fix.
If I use of of my NSManagedobjects and call .hyp_dictionary() on it and it does not have a relationship, I get a perfect JSON response. As soon as I add a relationship to it and call .hyp_dictionary() again, I get an infinity loop and a corresponding crash after 13xxx calls.

I suspected a w

[2017-02-10 19:09] ArdentZeal commented on #368
I think it might be the same issue described here.

https://github.com/SyncDB/SYNCPropertyMapper/issues/93

Sadly there is no solution in the closed thread.

[2017-02-10 19:33] 3lvis commented on #368
@ArdentZeal Hi,

Are you calling `hyp_dictionary` for Task, Tag or MapLocation? I'll try reproducing your issue.

I remember seeing something regarding infinite loops here: https://github.com/SyncDB/SYNCPropertyMapper/issues/112

The solution was to add a "hyper.nonExportable" flag to the relationship. https://github.com/SyncDB/SYNCPropertyMapper#excluding

[2017-02-10 19:34] ArdentZeal commented on #368
I did try all 3, and everything failed. Thanks for looking into this.

Sent from my iPhone

[2017-02-10 19:37] 3lvis commented on #367
@dneykov Hi,

This is a bit strange. If there's a JSON field that is not present in Core Data it should get ignored, if there's a field in Core Data but you don't get it in the JSON then it also gets ignored.

I can try to reproduce your use case but might be useful to clarify the issue.

[code]

[code]

You're saying that my example, won't work, right?

[2017-02-10 19:55] dneykov commented on #367
Hi,
no my case is the other way. Here is example:
JSON
[code]

Core Data
[code]
The example above will not be inserted, if I remove timestamp from the response everything will work. In my exact case there are more fields that should be ignored, this is just basic example.

Thanks.

[2017-02-10 19:56] ArdentZeal commented on #368
Hey 3lvis,

The solution was to add a "hyper.nonExportable" flag to the relationship.

This was the problem, the solution above is working.

Thank you very much.

[2017-02-10 19:56] #368 closed

[2017-02-10 20:00] 3lvis commented on #368
@ArdentZeal Great to hear. I'll add to the FAQ.

[2017-02-10 20:04] 3lvis commented on #368
Added! https://github.com/SyncDB/Sync/blob/master/README.md#infinite-loop-in-hyp_dictionary-with-relationships

[2017-02-10 20:05] 3lvis commented on #367
Thanks! I'll have a look.

[2017-02-10 20:52] 3lvis commented on #367
Hi Daniel,

I gave it a go and it seems to be working fine.

<img width="221" alt="screen shot 2017-02-10 at 21 51 40" src="https://cloud.githubusercontent.com/assets/1088217/22843723/1fc0d348-efdb-11e6-9d09-44f4732dd31f.png">

[code]

[2017-02-10 20:53] 3lvis commented on #367
https://github.com/SyncDB/Sync/pull/369

[2017-02-10 21:02] dneykov commented on #367
That is strange. I will give it another shot next week. Thanks for quick replies.

[2017-02-10 21:05] 3lvis commented on #367
No worries, looking forward to see what was the issue. Have a great weekend!

[2017-02-23 20:16] eman8519 opened #371 "Progress Delegate"
There doesn't seem to be a way to get progress updates for syncing.  I have a very large dataset that I'm syncing from, and I would like to provide user feedback on the syncing status.  I will be happy to work on this feature, but before doing so I want to be sure that I'm not missing an obvious way of doing this.

[2017-02-25 17:41] jetstar89 opened #372 "Sync with given parent entity does not success!!"
Hi 3lvis,
I tried to sync my changes with given parent entity but It doesn't success.
Could you update the example?

[2017-02-27 16:48] teripaquitinho opened #373 "relationships get deleted when syncing Many-To-Many objects"
Hi 3lvis,

First of all congrats on the great job you did with this library. I'm currently facing a problem and as I'm trying to sync elements which have a many to many relationship. The data model looks like this:

<img width="351" alt="screen shot 2017-02-27 at 17 34 56" src="https://cloud.githubusercontent.com/assets/483501/23369894/2591de4e-fd13-11e6-92d9-e1acc7d4512e.png">

*NOTE* that in my

[2017-02-27 19:02] teripaquitinho commented on #373
@3lvis I found it... apparently if I create an entity with the attribute `id` being a `String` the mapping for the reverse relationship does not work properly... Now I changed my configuration to accept `id` being a `Integer32` and everything works.

[2017-02-28 03:07] icefox57 opened #374 "About SwiftJson"
if i use SwiftJson  how can i  convert the result json to [[String: Any]] ?

let swiftjson = JSON(data: response.data)
 let json = swiftjson as! [[String : Any]]

Sync.changes(json, inEntityNamed:"HomeTask", dataStack: appDelegate.dataStack) { error in
                    let request = NSFetchRequest<NSFetchRequestResult>(entityName: "HomeTask")
                    let items = (try! appDelegate.da

[2017-02-28 09:54] dersvenhesse commented on #374
Do you mean [SwiftyJSON](https://github.com/SwiftyJSON/SwiftyJSON)?

In my opinion there is no need to convert your `response` to `JSON` and convert it back directly to `[[String : Any]]`. Why don't you just use `response.data as! [[String : Any]]` directly?

If you intent to stay with SwiftyJSON their methods like `rawData()` or `rawString()` might come handy.

[2017-02-28 15:23] teripaquitinho commented on #269
Hi @norikachi  I am experiencing the same issue...

I managed to solve it by removing all empty arrays in the dictionary before passing it to the sync function...

[code]

where  `emptyRemoved` is placed within an extension for `Dictionary` as suggested here http://stackoverflow.com/a/35787010

[code]

Did you find a better solution for this?

@3lvis i believe this should be the default behaviour

[2017-02-28 18:38] padlocked17 opened #375 "Many-to-Many Sync Issue"
I'm running into an issue where I can't get Sync to recognize or build relationships between Many-to_many Tables.

My JSON looks like the following where "id" of 4865 is the main post and contains a to-many relationship with "custom_meta.wpfc_series"

    [
      {
        "id": 4865,
        "title": {
          "rendered": "Significant Trouble Part I"
            },
        "custom_meta": {

[2017-03-01 00:00] markst opened #376 "JSON:API Support"
Is it possible to use JSON:API formatted responses for mapping?
jsonapi.org

[2017-03-01 00:32] padlocked17 commented on #376
I don't see any reason why not.  It looks very straight-forward and super clean.  I wish the JSON that I was being served looked that nice.

[2017-03-01 04:06] phedlund opened #377 "Carthage build fails"
[code]

[2017-03-01 14:45] lluisgerard commented on #362
I'm also having this issue and my project requires to be built on circle servers. I can fix this locally but carthage downloads dependencies on the server as well, and I can't remove these manually. Is it possible to tell carthage to NOT install dependencies to avoid having to manually remove these and therefore making this compatible with whatever automation we have in place?

Thanks!

[2017-03-02 02:50] markst commented on #376
Perhaps this issue is more appropriate for https://github.com/SyncDB/SYNCPropertyMapper

[2017-03-02 06:08] markst commented on #376
I suppose it wouldn't be too complicated to implement.

I'd need to check for nested `attributes` as follows:
[code]

`SYNCPropertyMapper` would need to support hyphenated-case else I'd have to add all remote keys for multi word attributes.

First pass would have to map the attributes of the objects `relationships` to provide the linkage for the `included` which would have to be mapped on second p

[2017-03-02 16:38] teripaquitinho commented on #375
check here https://github.com/SyncDB/Sync/issues/373, might be helpful.

[2017-03-03 17:52] rhelba commented on #373
I have been banging my head on what looks to be the same issue for the past couple of days as well. Is there an upcoming fix for this? If not, will have to look for alternatives – switching to `Integer 32` ids is not an option at this stage in the project. Otherwise I'm really impressed with the Sync library, so would prefer to use it going forward as well. Thanks for your efforts, @3lvis!

[2017-03-04 15:55] 3lvis commented on #374
Thanks for clarifying this @dersvenhesse!

[2017-03-04 22:54] padlocked17 commented on #375
Thanks @teripaquitinho .  I looked at your write-up and unfortunately, I've already got mine set to integers.

Unfortunately I can't even get a single relationship to exist.

[2017-03-07 07:27] tcordoba commented on #366
Hi,
I'm having the same issue here. Any update regarding this problem?
Thanks
Regards

[2017-03-08 00:33] 3lvis commented on #362
I've been playing with removing all the dependencies from Sync but damn, it's way more work than it seems. Might be good to check how other Carthage libraries are handling this.

[2017-03-08 00:34] 3lvis commented on #367
Closing this for now. Let me know if you need any other feedback.

[2017-03-08 00:34] #367 closed

[2017-03-08 00:35] 3lvis commented on #371
Hi @eman8519,

Not sure if this fixes your issue but you could use Core Data's notification system to be notified of progress.

https://github.com/SyncDB/Sync#logging-changes

[2017-03-08 00:36] 3lvis commented on #366
Haven't had the chance to look into it, but might be related to the operation status not being set properly internally.

[2017-03-08 00:41] 3lvis commented on #372
Hi Huy!

That's strange, got the unit test working fine.

https://github.com/SyncDB/Sync/blob/master/Tests/Sync/SyncTests.swift#L242-L269

[2017-03-08 01:22] 3lvis commented on #376
Hi @markst,

We don't have support for it out of the box, adding support for it doesn't seem like a bad idea, though. Sadly, all the APIs that I've used don't use that, that's the main reason it hasn't been prioritized.

[2017-03-08 01:23] 3lvis commented on #377
Hi!

Which command were you running for that to happen?

[2017-03-08 16:32] phedlund commented on #377
[code]

[2017-03-08 19:39] eman8519 commented on #371
Thanks @3lvis I will close this for now, and perhaps use the above mentioned as a base for a progress handler I may add in the future (if it is even possible).  I dug in a bit more and found some bottle necks in the DATAFilter class that I've submitted a PR for I have plans to further optimize that class when I have a little more spare time to work on it.  Thank you for your response.

[2017-03-08 19:39] #371 closed

[2017-03-09 09:33] jetstar89 commented on #372
This is my code
`self.dataStack.performInNewBackgroundContext({ (context) in
                if let parent = ParentEntity.extFind(in: context, by: itemId) {
                    Sync.changes(change, inEntityNamed: "ChildEntity", predicate: nil, parent: parent, inContext: context, completion: { (error) in
                        if error != nil {
                            completion(Result.failure

[2017-03-15 12:17] tcordoba commented on #366
Hi,
I think I have fixed the issue. I have added `self.updateFinished(true)` to the file Sync.swift. I you found this correct let me know and I will push the code to the repository.

`    func perform(using context: NSManagedObjectContext) {
        do {
            try Sync.changes(self.changes, inEntityNamed: self.entityName, predicate: self.predicate, parent: self.parent, parentRelationship: se

[2017-03-16 14:34] 3lvis commented on #372
@jetstar89 Could you try doing it this way?

https://github.com/SyncDB/Sync/blob/master/Tests/Sync/SyncTests.swift#L242-L269

Meaning get the parent in the main context, then use the method

[code]

[2017-03-16 14:55] jetstar89 commented on #372
thanks 3lvis,
I tried, and It works when using main context. But I wonder why it doesn't work when using background context?

[2017-03-16 19:27] 3lvis commented on #377
Should be fixed in 3.0.0

https://github.com/SyncDB/Sync/releases/tag/3.0.0

[2017-03-16 19:28] #377 closed

[2017-03-16 19:28] 3lvis commented on #362
Should be fixed in 3.0.0

https://github.com/SyncDB/Sync/releases/tag/3.0.0

[2017-03-16 19:28] #362 closed

[2017-03-20 22:20] 3lvis commented on #375
The issue is most likely that deep mapping, meaning using "custom_meta.wpfc_series" for relationships is not very well supported in Sync. We did the work for attributes not for relationships.

[2017-03-20 23:03] 3lvis opened #387 "[Feature request] Add support for deep mapping for relationships"
- [x] to-many (fixed in https://github.com/SyncDB/Sync/pull/385)
- [ ] to-one
- [ ] to-many simplified
- [ ] to-one simplified

[2017-03-20 23:05] #375 closed

[2017-03-20 23:05] 3lvis commented on #375
@padlocked17 Should be fixed now

[2017-03-21 15:03] pgawlowski opened #389 ".Insert .Update issue"
Let's assume JSONModel objects CartEntity, CartEntry - both got correct primaryKeys.

In CoreData CartEntryEntity got a relation to CartEntity, in JSONModel not.

I'm preparing data like this:
[code]
next
`        Sync.changes([dictionary], inEntityNamed: entity, dataStack: self.dataStack!, operations: [ .Update, .Insert], completion: { (error) in
            completion()
        })
`

and everyth

[2017-03-21 17:49] 3lvis commented on #389
@pgawlowski Hi! Having an screenshot of your JSON model and the JSON that you're using will help me to reproduce your issue, could you help me sharing that?

[2017-03-21 18:47] 3lvis commented on #376
Gonna be closing this for now, unless someone else is willing to work on it I don't think it's happening.

[2017-03-21 18:47] #376 closed

[2017-03-22 07:48] pgawlowski commented on #389
Printed dictionary structure I'm trying to update
`[
  "quantity": 13,
  "cart": [
    "entries": <__NSSingleObjectArrayI0x61800000f800>({
      code=4812254;product={
        code=4812254;description="";manufacturer=Canon;name="500D + 18-55mm IS + EF-S 55-250 IS";price={
          currencyIso=USD;formattedValue="$927.89";priceType=BUY;value="927.89";
        };stock={
          stockLevel=349;sto

[2017-03-25 14:35] andersblehr commented on #373
I ended up rolling my own framework to work around this: [andersblehr/JSONCache](https://github.com/andersblehr/JSONCache). Some overlap with Sync, with some added features that I felt were missing, such as producing JSON for persisting data to the backend.

[2017-03-25 17:53] 3lvis commented on #373
Hi @andersblehr,

I'm glad Sync helped you getting started in open sourcing your work! Looking forward to borrowing some features back :)

If you ever feeling like contributing back you're completely welcome.

[2017-03-25 21:52] andersblehr commented on #373
Thanks, @3lvis – borrow away :)

[2017-03-26 12:29] 3lvis commented on #373
@andersblehr Btw, it is possible to produce JSON out of NSManagedObjects https://github.com/SyncDB/Sync#json-exporting.

[2017-03-26 12:46] andersblehr commented on #373
Cheers for the pointer. I did look into this. The primary reason for moving away from Sync was the above bug, not lack of JSON generation features. That said, I spun my own JSON generation anyhow, as our workflow is to only persist ('cache') objects to Core Data once they had been secured – and been assigned an id – on the backend. I considered instantiating temporary `NSManagedObject` instances e

[2017-03-29 19:27] mzgnr commented on #387
Hi @3lvis do you need any help for this issue? I would like to implement to-one for one of my projects.

[2017-03-30 06:44] 3lvis commented on #387
@mzgnr Help on this would be fantastic! Should be similar than https://github.com/SyncDB/Sync/pull/385 but in this method instead.

https://github.com/SyncDB/Sync/blob/master/Source/Sync/NSManagedObject%2BSync.swift#L328

[2017-03-30 11:23] jassimkm opened #395 "Help Me to sync this Json"
HI ,
Some body please help me to Sync this JSON, I want branch class , department and doctors

[code]

[2017-03-30 11:38] 3lvis commented on #395
Hi @jassimkm,

Anything that's specially difficult?

[2017-03-31 04:18] jassimkm commented on #395
![screen shot 2017-03-31 at 9 45 50 am](https://cloud.githubusercontent.com/assets/9147385/24536271/f72047c4-15f6-11e7-9c70-8e904e3f8975.png)

Please see my data model. What am I doing wrong.
Here is my code
 let fileName = "sample.json"
        let url = URL(string: fileName)!
        let filePath = Bundle.main.path(forResource: url.deletingPathExtension().absoluteString, ofType: url.pathExtensio

[2017-04-10 16:35] rlester commented on #366
@tcordoba I tried out your changes and it seems to resolve the issue only my side. Mind open a pull request?

[2017-04-17 23:19] achirkof commented on #204
@3lvis Hi!
Today I met same problem when I decided to move all my synchronisation to Sync. Before I use Sync only for part of my app model and part of them I managed by "hand".
I would say it is very common situation when you have JSON with object or array of objects without `id`.
In my case JSON looks like this:
[code]
I don't need `id`'s for `userWeight` in my application and add it only to be a

[2017-04-18 04:50] xTheRamon commented on #204
Setting the date as the primary key is the solution here though. Your approach was right. We'll only have to find out what went wrong. Why didn't it work? Did you use ’YES’ as the value? Did you set a remote key too? I believe it is necessary to set both.

PS. The Any (’id’) object returned from Binary data can simply be typecasted. But let's take the above approach! 👍🏼

[2017-04-18 09:41] achirkof commented on #204
Hi @xTheRamon !
Yes, the idea to use Date field as id make sense. I set only property `sync.isPrimaryKey` equal to `true` for `measuredAt` and didn't set `sync.remoteKey` because remote field name in JSON equal to name of the field in core data entity. I thought it only needs when field name different. I will set also `sync.remoteKey` and check tonight.

About second approach. After unarchive the

[2017-04-18 09:51] xTheRamon commented on #204
@achirkof Yeah! I believe for `isPrimaryKey` you explicitly need to set `remoteKey` too.
I would definitely try this approach since you want to sort values too.

Regarding the second approach, well, the value you printed is already an array. You probably have something like this:

[code]

The only thing you need to do is:
[code]

[2017-04-18 11:05] achirkof commented on #204
My difficulty is in type of `fitnesProfile` entity because it is array of single value:
[code]
Now `userFitnesProfile` is array of single `FitnesProfile`. After that i do:
[code]
Then `weight` is `__NSArrayI`. As I understand it is Obj-C `NSArray` type. And after I can't typecast it. I have no access to Xcode right now to check. I will try both approaches tonight.

[2017-04-18 18:54] achirkof commented on #204
@xTheRamon you will be right. When I set both properties `isPrimaryKey` and `remoteKey` for `measuredAt` field synchronisation works as expected.

About second approach. I can't get subscripts of `weight[0]` because type `Any` have no subscriptions. And I don't understand how to cast it to `Array`. I also have no any methods to do anything with `weight`.

![screen shot 2017-04-18 at 21 50 10](http

[2017-04-18 20:31] 3lvis commented on #204
Hi!

You should be able to cast the result of unarchiveObject to Array.

Something like this:

[code]

[2017-04-18 20:37] achirkof commented on #204
@3lvis unfortunately can't

![screen shot 2017-04-18 at 23 35 48](https://cloud.githubusercontent.com/assets/1292136/25151882/e01ffff4-248f-11e7-8925-fee16c760032.png)

[2017-04-19 10:23] dneykov opened #396 "Sync 2.* Warnings"
Hi,
is it possible to fix Xcode 8.3 warnings for Sync 2 also. Because my deployment target is 8.0 and I cannot update to Sync 3

Remark: There is mistake in Sync 3 README. It says iOS 8.0 or above but in podspec file min is iOS 9.0

Thanks.

[2017-04-19 10:26] 3lvis commented on #396
@dneykov Updated, now it says iOS 9.

[2017-04-19 10:45] dneykov commented on #396
That was quick :)
If I have time I can make PR to fix the warnings in 2.*

[2017-04-19 10:54] dneykov commented on #396
I cannot use 2.7.1 because it requires iOS 9.0.
I thought iOS 9.0 is required for Sync 3+

[2017-04-19 10:55] 3lvis commented on #396
One sec changing 3.* to be iOS 8.

[2017-04-19 10:57] dneykov commented on #396
This is awesome.
I never had so quick response on GitHub :)

[2017-04-19 10:57] 3lvis commented on #396
Ready!

https://github.com/SyncDB/Sync/releases/tag/3.2.2

[2017-04-19 10:57] #396 closed

[2017-04-24 13:26] dneykov commented on #204
I'm stuck with same problem cannot use unarchiveObject.
Any advice?

[2017-04-24 13:34] xTheRamon commented on #204
@dneykov please see https://github.com/SyncDB/Sync/issues/204#issuecomment-294754585, this is the recommended way to solve this 'bug'.

[2017-04-24 13:35] achirkof commented on #204
@dneykov no, I have decided to use separate entity.

[2017-04-24 13:59] dneykov commented on #204
My situation is little bit different. Here is my json:

[code]

I have options as Binary Data and I want to access them as Dictionary as it says here https://github.com/SyncDB/Sync#retrieving-mapped-dictionaries
Is returning Any and I cannot convert it to anything.

[2017-04-25 06:41] dneykov commented on #204
Finally it works. Here is my solution.

[code]

[2017-04-25 07:39] 3lvis commented on #204
I see, looks like the solution was casting to `[String: String]`.

[2017-04-25 08:04] 3lvis commented on #204
Updated the README https://github.com/SyncDB/Sync/blob/master/README.md#retrieving-mapped-arrays

[2017-04-28 13:27] Zarakas opened #398 "Dropping memoryStack doesn't recreate persistentStore"
Hey,

in the current version of Sync 3.2.3 dropping a memoryStack via "drop()" results in a DataStack without persistentStore:

**Illegal attempt to save to a file that was never opened. "This NSPersistentStoreCoordinator has no persistent stores (unknown).  It cannot perform a save operation.". No last error recorded.**

Even if I use the completion block an perform mein new inserts after it fire

[2017-04-28 23:52] 3lvis commented on #398
Hi @Zarakas,

In what iOS version are you?

[2017-04-29 10:09] Zarakas commented on #398
Hey @3lvis ,

version is iOS 10.3.2

[2017-05-09 12:19] jkblgithub opened #399 ""true" in Json ignored"
My json includes "true" or "false" for bool fields. However, values with true are set as false in Core Data when calling` [Sync changes: inEntityName ...]` Is there a workaround for this please?

[2017-05-12 09:02] jetstar89 opened #400 "Take too long for saving change to local db"
Hi 3lvis,
I am using SyncDB, in some cases it takes 7-10 seconds to finish saving change.
Is there any way to reduce saving time?
Thanks and Regards,

[2017-05-13 08:01] methebao opened #401 "Mapping for one to many Simplified"
Hi man,
I have this json and I model my database :
 + regions : Region entity
 + cities: City Entity
When mapping, I mapped Regions, cities successfully. But I do not know how to map through ID ( like region_id ) . It mean when I have a key with array of Integer. How to create relationships, how to like this id to each entity.

JSON:

[2017-05-13 17:42] 3lvis commented on #400
Hi @jetstar89,

I hope you're having a nice weekend :) Can I get some more information in the operation that you're doing? Having your Core Data model and an example of your JSON file might help a lot to profile the save.

Also, is it blocking your main thread or you don't have problems with that?

[2017-05-13 17:45] 3lvis commented on #401
Hi @methebao,

Gonna try to check it out soon, shouldn't be hard to implement. :)

[2017-05-13 18:19] jetstar89 commented on #400
Hi 3lvis, It isn't blocking my main thread, cos I save in background thread.
But it takes quite much time for completion.

[2017-05-14 11:41] 3lvis commented on #400
@jetstar89 Could you help me providing an example project I can use to reproduce this issue?

Thanks in advance :)

[2017-05-14 11:47] jetstar89 commented on #400
Hi 3lvis, could we have a private channel, Like slack, skype or any thing else.
Regards,

[2017-05-14 20:31] 3lvis commented on #400
@jetstar89 you can write me in a privat channel in https://gitter.im/SyncDB/Sync

[2017-05-24 04:50] jkblgithub commented on #399
Has this library now been abandoned?

[2017-05-24 06:04] 3lvis commented on #399
Hi @jkblgithub,

Sorry for not being more responsive, just not a lot of time to look into issues these days between a new job and learning Norwegian, pretty much out of my home from 8 am to 10 pm.

Forking the project and adding a failing unit test will help a lot to get this issue resolved since it's usually the part that takes most time when fixing issues.

[2017-05-28 15:04] cannaz commented on #359
some news about this issue? I have the same problem when I restart the app and I import the same json. Thanks

[2017-05-31 10:49] dneykov opened #402 "Cannot sync doubles"
Sometimes doubles are returning nil here is an example of JSON

[code]

In Core Data are Double and in the model are NSNumber?
Sometimes both are nil sometimes just "lon" nil
Thanks

[2017-05-31 11:16] dneykov commented on #402
Never mind I was checking before sync completion

[2017-05-31 11:16] #402 closed

[2017-05-31 22:49] 3lvis commented on #402
I'm glad you got this working :)

[2017-06-01 08:12] jovito-royeca commented on #359
I was able to fix the error by modifying the one-to-many relationship arrangement from Ordered to Not Ordered.

[2017-06-06 11:19] webersson opened #403 "OSX"
Could anyone tell me how to setup Sync on a OS X project?
How to set the AppDelegate File?

I´m trying for days no.
There is no tutorial to be found.

Thank you so much!

[2017-06-16 08:43] jay-cohen opened #404 "Cannot convert value of type 'DATAStack' to expected argument type 'DataStack'"
Trying to performa sync operation and getting the following error:
`Cannot convert value of type 'DATAStack' to expected argument type 'DataStack`

[code]

Initializing the dataStack as follows:
`var coreDataStack: DATAStack = DATAStack(modelName: "database")`

[2017-06-16 08:50] jay-cohen commented on #404
Managed to solve it - DATAStack not needed as an import

[2017-06-16 08:50] #404 closed

[2017-06-16 14:25] 3lvis commented on #404
<3 I'm glad you got it working

[2017-06-17 09:54] MicMat68 opened #405 "Sync JSON very very very too long"
Hi,

One model, 7 entities, many relationships, 100,000 rows max, but between 15 and 25 minutes for init core data...
I check id, index, but i don't understand why.
I receive JSON from firebase.

What i have to check? (sorry my english)

Edit : problems grows up with many relationships. For an entity with 300 000 rows, more one hour to sync...

[2017-06-17 18:02] MicMat68 commented on #405
I think json structure firebase has a part of responsability.

Relationships one-to-many simplified with format :
attributs :
-key_firebase1: true
-key_firebase2: true

[2017-06-17 19:53] 3lvis commented on #405
@MicMat68 Wow, that's a lot of data. I think using plain Core Data the issue would be similar, not sure if it's something Sync related.

[2017-06-18 07:38] MicMat68 commented on #405
After the first init, it's work fine.
I will preload data in app, but for development, it's painful.

With 2 entities and a relationship on-to-many, it's work fine, but with a third entity, it's very increasing...

[2017-06-20 12:21] 3lvis commented on #405
:( not sure what we can do about it. 300 000 could be considered an edge case.

[2017-06-25 08:25] lm2343635 opened #406 "Set operations in Objective-C"
How can I set operations: [.insert, .update] in Objective-C
[code]
I mean I want to use this method in Objective-C, but I cannot find it. @3lvis

[2017-06-25 11:15] 3lvis commented on #406
Hi @lm2343635,

It's using OptionSet which isn't available in Objective-C. We would have to make a bridge API using Objective-C enums and methods that can be accessed on Objective-C. Shouldn't be hard to make, I can see if I have time next week but I can't promise anything, if you're willing to work on it, it would be very nice!

Here's where the enum is defined. https://github.com/SyncDB/Sync/blo

[2017-06-25 11:44] lm2343635 commented on #406
Thank you for you replying. I've solve this problem in such way:
https://github.com/lm2343635/Grouper/blob/2bdb6c113a36fcffd5f77d526bb03067661b2787/Core/Support/Sync%2BObjC.swift
But I do not think it is a good solution to this problem.
I have know what you said. I am very pleasure to make a transfer file using enums in Objective-C. I will make a pull request to you.(^ . ^)
Best wishes.

[2017-06-25 15:03] lm2343635 commented on #406
New pull request has been submitted. @3lvis

[2017-06-26 08:40] 3lvis commented on #406
Fixed on https://github.com/SyncDB/Sync/releases/tag/3.3.0, still needs a CocoaPods release.

[2017-06-26 09:39] lm2343635 commented on #406
Cloud you please release 3.3 on CocoaPods. Thanks!

[2017-06-26 10:11] 3lvis commented on #406
Need to wait until I arrive home, this computer doesn't have CocoaPods trunk set up.

[2017-06-26 21:35] 3lvis commented on #406
Ready on CocoaPods!

[2017-06-26 21:35] #406 closed

[2017-06-27 08:25] #372 closed

[2017-06-28 14:51] jimijon opened #408 "Upgraded to 3x from 2x: Relationships aren't being created."
I have that edge case where I use my own "code" for all primary indexes. Hence the use of hyper.isRemoteKey and hyper.remoteKey.

It worked fine in the 2 version and now it doesn't create the relationships in the 3 version.

[2017-06-28 22:56] 3lvis commented on #408
Hi @jimijon,

Could you help me giving some information or sample project to reproduce your issue? Thanks!

[2017-06-29 18:02] jimijon commented on #408
Well it's pretty big application, etc. With the v3 it seems to import records but something goes awry and the relationships are not there, plus other weirdness. Are you sure v3 works well with"

hyper.isRemoteKey
hyper.remoteKey

in all my records?

I also noticed it went from DATAStack to DataStack. Maybe something there?

[2017-06-29 20:30] 3lvis commented on #408
@jimijon all the old tests are still passing so nothing broke as far as I was concerned =/

[2017-06-29 20:44] jimijon commented on #408
do your tests only use a string key? And not an id or remoteId ?

[2017-06-29 21:50] 3lvis commented on #408
Hi! The current tests test pretty much everything.

Sync Tests:
https://github.com/SyncDB/Sync/blob/master/Tests/Sync/SyncTests.swift

Entire tests folder:
https://github.com/SyncDB/Sync/tree/master/Tests

[2017-06-29 23:41] jimijon commented on #408
Where in the tests do you read the user info settings?

[2017-06-30 06:42] 3lvis commented on #408
That's included in the Core Data model, for example here.

<img width="1364" alt="screen shot 2017-06-30 at 08 41 57" src="https://user-images.githubusercontent.com/1088217/27724003-032ddf0c-5d70-11e7-9b8c-dc930c6b8d76.png">

[2017-06-30 14:29] jimijon commented on #408
Ok see the model.

How come there are two user info remoteKeys?

a) current —>   sync.remoteKey
b) old        —> hyper.remoteKey

Won’t these interfere? Does it make a difference using “hype” or “sync” ?   I have been using hyper.

ALSO:

There is no “hyper.isPrimaryKey” for “current”.

Thoughts?
James

[2017-06-30 15:04] ValeriiVV opened #409 "one-to-many relationships don't work"
SOLVED
Hey all, I can't get an access to any of my one-to-many relationships... The server sends me normal JSON, but after I've saved it via SyncDB - I'm trying to get an access to relationships, but they are always = nil
These are my attached files:
1. My Schema
2. My JSON-response
3. Printed out product that I fetched from Core Data (as you can see - all relationships are faulted)
4. Printed out

[2017-07-02 13:44] ValeriiVV commented on #409
SOLVED:
The reason was that I named my attribute "tag_id" (like in my json response), but I should had named it "tagID".

[2017-07-02 16:49] 3lvis commented on #409
I'm glad you got it working @ValeriiVV! Sorry for the late response :)

[2017-07-02 16:49] #409 closed

[2017-07-15 06:00] alijaza opened #411 "Mapping issues with JSON"
Hello, I have a relatively straightforward model with two entities: conversations and messages

Each conversation has a "To Many" relationship with messages. When I fetch the conversations, the JSON response includes some data about the "lastMessage" of the conversation as follows:

[code]

I'm having trouble with two issues:

(1) messages are returned with a remoteKey of 'id' while the 'lastMessa

[2017-07-15 10:44] 3lvis commented on #411
Hi @alijaza,

You could have a relationship like this:

`Conversation` has many `messages`
`Conversation` has one `lastMessage`

Here messages and last message are two different entities.

[2017-07-15 14:10] alijaza commented on #411
Thanks for the quick reply. I thought about this solution but I see two issues:
(i) My messages responses have the usual key 'id' while the lastMessage has a different key ('messageId'). Any way to handle this without an API update?
(ii) I would have to update the 'lastMessage' attribute every time a new message comes in. Any way to avoid this and read this directly into the 'conversation.messages

[2017-07-15 14:53] 3lvis commented on #411
@alijaza I'm afraid Sync doesn't support your use case out of the box, I would suggest you pre-process your JSON in your app so it fits with what's expected by Sync or roll your own implementation based on the basic Sync functionality. Sorry for not being more helpful.

[2017-07-18 07:06] alijaza commented on #411
Thanks @3lvis for your quick replies and also for this awesome tool. One more issue I came across is that my data comes paginated in sets of 20 results at a time. Sync's default behavior when including deletes seems to erase all of my objects except the current page of data. Is there any way for Sync to handle deletes only in the case that they are somehow (?) marked for deletion (and NOT delete a

[2017-07-18 11:21] 3lvis commented on #411
Hi @alijaza,

I believe you could achieve this by using the predicate, the predicate tells Sync which items should use for the diffing part, for example if you have 100 local items you could tell sync to avoid syncing with those elements. I don't have a demo project for that right now but that should work.

[2017-07-19 06:32] alijaza commented on #411
@3lvis, I used predicates and things are working great! Yet another issue has arisen though (sorry!). Somehow my related objects are being created for each new object, but they aren't being created for an existing object. In other words, given the following JSON:

[code]

It seems if the conversation already exists but the related "message" does not exist, Sync doesn't create the message (?). I co

[2017-07-19 10:28] allemattio opened #412 "Missing PrimaryKey causes error evaluating nil"
Hi,
I'm doing some error checking in my app.
I have to check for various errors in JSON, and in some cases I need to check for a missing primary key in a child relation of type one-to-many.

Here is an example of my json:
[code]

This causes a crash in line 55 of DataFilter.swift:
[code]

Wouldn't it be nice to handle this error and pass it to the caller of the Sync.changes instead of make the app

[2017-07-19 20:46] #411 closed

[2017-07-23 07:05] alijaza opened #413 "Four items in JSON, only 3 are saved, no error"
Hello, I am calling Sync as follows:

[code]

My JSON has 4 items and it appears that they are all properly marked for insertion by the time the following Sync method (Sync.swift:127) calls 'context.save()':

[code]

Here are the 4 items that are tagged for insertion at this point:

[code]

Consistently, only three of the items end up being inserted and after 48 hours of looking at this I cannot f

[2017-07-23 22:21] alijaza commented on #413
Ok, I believe I found the root of the problem so I'm describing here in case it benefits anyone else: Each of these objects is a message within a conversation. Before actually fetching these from the server I get the conversation object AND the latest message of the conversation. I sync the conversation and the last message, but the "last message" comes WITHOUT the phoneNumber field, which means t

[2017-07-24 18:36] alijaza commented on #401
Pinging for an update on this, if you have one @3lvis. Thanks!

[2017-07-24 19:05] #413 closed

[2017-07-27 07:08] aamir-nazir opened #414 "Can we have AutoIncrement id as PrimaryKey?"
I need to Sync following JSON. For some reason Rest API not appending actual database **id** in response( id is primary key of Product Model).

[code]

[2017-07-27 09:29] dersvenhesse commented on #414
I suppose an auto increment will not suit your case either.

The second time your JSON will be inserted with the IDs `3` and `4`. So the exisiting `products` in CoreDate won't be an updated when auto incrementing. Meaning you'll need a way to recognize existing entries, e.g. by name. But that will be basically the same as using `name` as ID in Sync.

Alternatively you should update your API to del

[2017-07-27 14:47] 3lvis commented on #414
I can concur with what @dersvenhesse. Having a primary key is a key part of how Sync works, this primary key doesn't have to be an integer, it can be anything that can be used to differentiate one element from another.

[2017-07-27 14:47] 3lvis commented on #413
@alijaza Thanks for describing your solution!

[2017-07-29 07:45] 3lvis commented on #414
@aamir-nazir Closing this for now, let me know if you have any questions.

[2017-07-29 07:45] #414 closed

[2017-07-31 08:27] busu90 opened #415 "Export relationships by id"
Is there a way to export a objects relationship by id. So if i have a City object that refrences a Country object by a many to one relationship i can get a json like:
{
   cityId: 1,
   cityName: "name",
   countryId: 1
}
I don't want a full nested object.

[2017-07-31 13:03] 3lvis commented on #415
@busu90 Hi! Sync doesn't have a way to do that, you would have to get the full nested object and get the one that you need.

[2017-08-06 14:11] batjo opened #417 "Sync shouldn't delete objects when there's a many-to-many relationship"
Consider the following json:

[code]

The second object has no tags, and therefore an empty array is send by the server. However as soon as the second object is stored in CoreData it also removes the tag with id 10. Forcing the first object to lose his tag

[2017-08-08 06:09] mrDyos opened #419 "Sync ignores data which has a null value isPrimaryKey"
File: DataFilter.swift
[code]
First line contains the values of primaryKey from the data.
Second line contains not-empty values of primaryKey from the data.
IMHO If remotePrimaryKeys.count not equals remotePrimaryKeysWithoutNils.count need generate exception.

[2017-08-10 05:53] 3lvis commented on #417
Fixed in https://github.com/3lvis/Sync/pull/418

[2017-08-10 05:53] #417 closed

[2017-08-10 05:54] 3lvis commented on #373
A proposed fix was submitted here, please give it a try and let me know if there are any issues: https://github.com/3lvis/Sync/pull/418

Thanks for you patience <3

[2017-08-10 05:54] #373 closed

[2017-08-10 05:54] 3lvis commented on #269
A proposed fix was submitted here, please give it a try and let me know if there are any issues: https://github.com/3lvis/Sync/pull/418

Thanks for you patience <3

[2017-08-10 05:54] #269 closed

[2017-08-11 05:49] 3lvis commented on #415
Closing until I hear back from @busu90.

[2017-08-11 05:49] #415 closed

[2017-08-11 05:50] 3lvis commented on #387
I believe this should be fixed now in master.

[2017-08-11 05:50] #387 closed

[2017-08-11 05:51] 3lvis commented on #399
Hi @jkblgithub,

Any chance to get a failing test or a project that reproduces this?

[2017-08-11 05:51] 3lvis commented on #395
Hi @jassimkm,

Sorry for the lack of response, did you get it working?

[2017-08-11 05:54] 3lvis commented on #408
Have a look at the tests, please, I believe the problem might be something else. Having a failing unit test or a project to reproduce this issue would help a lot to get it fixed. Thanks and sorry for taking so long in replying :)

[2017-08-11 05:55] 3lvis commented on #419
@mrDyos This is expected behavior sync we've got reports that having null ids would create an exception. So we went for just discarding objects with NSNull ids.

[2017-08-11 05:57] 3lvis commented on #412
Hi @allemattio,

Making the sync process to fail and pass an error was something quite challenging, that's most likely why it wasn't done like that before.

[2017-08-11 05:58] 3lvis commented on #405
Closing since this should be considered an edge case. Sorry for that.

[2017-08-11 05:58] #405 closed

[2017-08-11 06:29] jassimkm commented on #395
Yes thank you

[2017-08-11 07:01] #395 closed

[2017-08-11 08:28] batjo commented on #227
Hi @3lvis I'm having the same issue and I think I found a way to fix this. The only thing is I'm not sure where I should add the `insertOrUpdate` parameter. First I though about adding an extra Operation but that doesn't play nice with the `.all` operation. But adding an extra argument to the sync function also doesn't seem a good idea. Any thoughts?

[2017-08-11 08:39] 3lvis commented on #227
Hi @batjo! Any chance to get a failing unit test?

[2017-08-11 08:46] batjo commented on #227
Of course, please have a look here: https://github.com/3lvis/Sync/tree/fix/227

[2017-08-11 09:04] 3lvis commented on #227
What about something like this?

[code]

Of course, this assumes that you either get an endpoint that returns objects just for a certain status or you do some preprocessing to remove objects with a certain status.

[2017-08-11 10:01] batjo commented on #227
Thanks, this works indeed.

Only thing that I still find hard is that currently I use an attribute called `synced` to determine if an object has local changes. If the object has local changes, I want to ignore updates from the backend on this object. Therefore I use the predicate but that generates duplicate primaryKeys (this issue). In my project the predicate would look like this:
[code]

But I

[2017-08-14 21:24] bilics commented on #109
Hi, great library - thanks!

I am trying to use NSNotifications to update the UI (a progress bar).

However, NSManagedObjectContextObjectsDidChangeNotification only gets called at the very end
 - after all objects have been added (or updated). Since I am updating ~10.000 objects, the user keeps waiting for the UI to start moving...

Is there a way I can force the notifications to be fired during e

[2017-08-15 07:30] 3lvis commented on #227
@batjo I think pushing local elements first sounds like the most sensible approach to keep your local database always in sync.

[2017-08-18 07:21] 3lvis commented on #109
Hi @bilics, Sync uses the built-in notification system by Core Data to send notifications. I'm not sure if adding another layer of notifications would be a good thing to do at this point. Maybe changing your Core Data stack would let you achieve what you are looking for. Sorry for not being more helpful :)

[2017-08-18 13:47] celiagomezdev opened #420 "After changing attribute in Model - fetching throws no results from dataStack"
Hi there,

First of all thanks for this pod, it has been very useful so far.

I'm having now a big problem that I don't know how to solve, but I'm not really sure if it's problem of Sync or is something I'm missing from Core Data itself (as I'm a newbie in all this).

I've been using dataStack context as you explained in the FAQ. Everything working perfectly, I've saved many entries to my model, f

[2017-08-18 13:55] 3lvis commented on #420
Hi @celiagomezdev 👋

I'm sorry but once you change the model schema and run the app the cached data will be wiped out and you need to download it again. The reason DataStack does this is that it assumes that the source of truth lives in your backend and instead of having corrupted data it removes everything and expects to download everything from scratch.

[2017-08-18 14:25] celiagomezdev commented on #420
Oh ok, that means I've lost all the data. I will start again then :( Thank you very much for answering that fast.

Should then never change any attribute after imported the data. How can I secure the data somehow to prevent this in the future?

The initial problem is that I wanted to map one of the attributes set as 'Binary Data' as an [String]. I've tried this but I didn't managed (I don't know i

[2017-08-18 15:16] celiagomezdev commented on #420
@3lvis thanks a lot for your fast reply, I understand now! I'm still figuring out how databases and core data works. I was not doing it properly from the beginning.

[2017-08-18 15:16] #420 closed

[2017-08-18 18:31] 3lvis commented on #420
You're welcome :) Just send me a DM on Twitter if I can help in anything else. https://twitter.com/3lvis

[2017-09-13 16:32] alijaza opened #422 "Sync object with insert/update/delete, but do not destroy existing relations"
Hello, is there a way to insert/update/delete an object but ONLY update it's related entities? For example, a Conversation entity may have a to-many relationship with Messages. In this case, if you fetch a Conversation object from the server you may only want to get the last message even though other messages may exist and be cached already. If I try to Sync this Conversation, will the messages th

[2017-09-15 01:36] mrDyos commented on #419
[code]

You combine a filtered list of **remotePrimaryKeysWithoutNils** and not a filtered list of **changes**. At the output, it may turn out that **primaryKey** does not match the **change**.
[example](http://swift.sandbox.bluemix.net/#/repl/59bb2dd9580e611f70b04e34)

[2017-09-19 12:23] kleber11 commented on #398
I have the same error. Any ideas?

[2017-09-19 13:55] 3lvis commented on #398
@kleber11 could you try this branch? `fix/persistent-store-not-recreating`

https://github.com/3lvis/Sync/pull/423

[2017-09-19 14:01] 3lvis commented on #419
Interesting, I'll give it a try :)

[2017-09-20 07:23] kleber11 commented on #398
@3lvis thanks. It works perfectly! :)

[2017-09-20 08:13] 3lvis commented on #398
I'll make a new release with that feature then :)

[2017-09-20 08:13] #398 closed

[2017-09-20 19:48] 3lvis commented on #398
https://github.com/3lvis/Sync/releases/tag/3.3.1

[2017-09-21 20:34] tlowrimore opened #425 "`carthage build Sync --platform iOS` fails after upgrading to Xcode 9/Swift 4"
Hi,

I'm receiving the following error when build Sync, after upgrading to Xcode 9/Swift 4:

[code]

It appears the builds for arm7 and arm64 are failing, according to the `xcodebuild` log.  Here's what I'm seeing:

[code]

[2017-09-22 07:02] 3lvis commented on #425
Hi! Try pointing to master in your Cartfile, will be making a Xcode 9/Swift 4 release later today.

[2017-09-22 08:04] 3lvis commented on #425
Check Sync 4 https://github.com/3lvis/Sync/releases/tag/4.0.0

[2017-09-22 08:04] #425 closed

[2017-09-22 15:04] tlowrimore commented on #425
Hey Elvis,

Thanks so much for the quick response!

Cheers!

[2017-10-05 06:33] jassimkm opened #426 "Expecting upgrade to swift 4"
Good job

[2017-10-05 21:38] 3lvis commented on #426
Hi @jassimkm, this update has been available for some time :)

https://github.com/3lvis/Sync/releases/tag/4.0.0

[2017-10-05 21:38] #426 closed

[2017-10-09 16:13] sagargondaliya opened #427 "Paging of records override existing records"
We have around more then 3000 records, so we are fetching it by paging of 100 records per page and syncing it in database, but when we fetch another 100 records and sync it, then rather then adding it to table , it override the records.

Here is my code, can we missing something ?

`func syncProduct(){
        self.productDataSynced = false

        //Updated sync date time
        var parameters:

[2017-10-10 19:18] alijaza commented on #422
@3lvis would you mind commenting on this when you have a minute? Thank you!

[2017-10-11 07:19] 3lvis commented on #422
Hi @alijaza! I think we've got a similar request before. We don't have support for it out of the box. I think using predicates for this could be possible. 🤔

[2017-10-11 07:42] 3lvis commented on #422
I'll think about this and get back to you :)

[2017-10-11 09:43] 3lvis commented on #422
Hi, I don't think this would be possible with predicates, using predicates we could avoid doing any changes to related entities but if you want to update them then I think we will have to add a new OperationOption https://github.com/3lvis/Sync/blob/master/Source/Sync/Sync.swift#L19-L30.

[2017-10-11 12:05] MichalAlgor opened #428 "Syncing abstract entieties"
Hi!
I have problem when syncing abstract entities.
My model looks similar to the 239 model from tests:
<img width="568" alt="zrzut ekranu 2017-10-11 o 13 35 50" src="https://user-images.githubusercontent.com/14600264/31439499-a5f216e6-ae8c-11e7-8360-9d9b8bb77f42.png">
But in my application I need to operate on passengers. So when I have this JSON:

	 {
		 "id": 7,
		 "name": "Kimi Raikkonen",
		 "

[2017-10-16 10:14] mailforkumar opened #429 "insert records with predicate of User.DeptId != User.EmpId"
Have an use case similar to replace all records with new JSON array where DeptId==EmpID, but did not see that working.

let **predicate**= NSPredicate(format: "DeptId != EmpId")
Sync.changes(json, inEntityNamed: "User", predicate: **predicate**, parent: nil, inContext: backgroundContext, completion: { error in
                   ...
                    completion(error)
                  ....

[2017-10-23 00:47] iballistic commented on #422
Hi,

I have a similar issue but do not use predicates. I have changed my schema and made sure all entities have a primary key - not sure if it is related.

For some reason,  existing relations are broken after importing new data. My use case is that I backup data on one device and restore it to another device which has existing records.

Could you please let me know if I am missing anything? This

[2017-10-23 04:50] 3lvis commented on #422
@iballistic I'm afraid this might not be related, Sync uses CoreData's lightweight importing when you change your schema, if it's not possible to auto-migrate the data, it wipes out the entire dataset, CoreData's out-of-the-box solution here is to crash your app. Might be useful to verify that this is indeed a failure in the migration. If you come to this point then it was a failure in migration.

[2017-10-23 05:11] iballistic commented on #422
thank you @3lvis

I am sorry confusion, the schema changes were done prior to any export/import process. That is just to make sure I have primary keys for all my entities.
As far as I can tell my schema is 100% the same across the board, in my case data is not wiped out, just foreign keys are set to null where ever relation exists.

[2017-10-23 05:23] 3lvis commented on #422
@iballistic Could you please make a new issue with the JSON and a picture of your schema? Thanks :)

[2017-10-23 05:30] iballistic commented on #422
will do,  thank you very much! I will try to create a small app and reproduce in smaller scale and share.

[2017-10-24 04:02] iballistic opened #431 "Sync.changes breaks relation in the existing records."
Sync.changes(json, inEntityNamed: "EntityUser", inContext: appDelegate.persistentContainer.viewContext)  breaks relation in existing records. Test 3 was created before the import. I am running version Sync-3.3.1. I can provide a sample project if it is required.

![dbview](https://user-images.githubusercontent.com/33011532/31924286-5de2ae46-b83d-11e7-9e2b-12cd9a2cee96.png)
![schema](https://user-i

[2017-10-24 04:12] iballistic commented on #431
Code is used to import:
            let from : URL = appDelegate.applicationDocumentsDirectory.appendingPathComponent("Import.json")
            let data = try! Data(contentsOf: URL(fileURLWithPath:  from.path))
            let json = try! JSONSerialization.jsonObject(with: data, options: []) as! [[String: Any]]
            Sync.changes(json, inEntityNamed: "EntityUser", inContext: appDelegate.per

[2017-10-24 04:29] 3lvis commented on #431
Hi! I wasn't able to reproduce the issue, could you check the code?

https://github.com/3lvis/Sync/pull/432

[2017-10-24 04:33] 3lvis commented on #429
Hi @mailforkumar,

Not sure if this is a Sync related issue or a Core Data specific one. To see if I understood correctly. After filling your User with elements you want to replace all the elements where `DeptId` (a field in your model) are different from `EmpId` another field in your model? Maybe having an example of your JSON file and Core Data model could also help to give even more information

[2017-10-24 04:35] 3lvis commented on #428
Hi @MichalAlgor,

Does it work if you name your relationship `racecar` instead of `car`?

	 {
		 "id": 7,
		 "name": "Kimi Raikkonen",
		 "racecar":{
			 "id": 31,
			 "max_speed": 370,
		 }
	 }

[2017-10-24 04:39] 3lvis commented on #427
Hi @sagargondaliya,

This has been mentioned before, when Sync gets new data it will try to diff the data that is getting with the local data, and removes the local elements that aren't found in your JSON, it does this because Sync tries to match what you have on your servers. If you want to stop this behaviour you need to use a predicate, a predicate basically tells Sync: "Hey,  locally only Sync

[2017-10-24 04:44] 3lvis commented on #422
Work in progress branch to solve this: https://github.com/3lvis/Sync/pull/433. Gonna include a unit test so it's easier to contribute into completing this. Let me know if that's something you're interested in @alijaza :)

[2017-10-24 04:55] 3lvis commented on #419
I wasn't able to see the difference... hopefully we can get back this on track if @mrDyos is still looking for this change. Sorry for taking long in replying.

[2017-10-24 04:55] #419 closed

[2017-10-24 05:14] 3lvis commented on #412
Was able to verify here that this isn't an issue anymore: https://github.com/3lvis/Sync/pull/434

[2017-10-24 05:14] #412 closed

[2017-10-24 05:15] 3lvis commented on #408
Haven't seen any other issues related to this so might be an isolated case and not something related to the library, closing unless anything changes.

[2017-10-24 05:15] #408 closed

[2017-10-24 05:17] 3lvis commented on #403
Sadly, I haven't had enough time to work on this, if anyone else would like to look into it I'll be happy to provide support. In my opinion should be straightforward to have a demo using NSFetchedResultsController.

[2017-10-24 05:33] 3lvis commented on #401
For the record: this should be possible, check the tests for `test375toOneSimplified`

https://github.com/3lvis/Sync/issues/375

[2017-10-24 05:33] #401 closed

[2017-10-24 05:36] 3lvis commented on #400
Haven't seen any other issues related to this so might be an isolated case and not something related to the library, closing unless anything changes.

[2017-10-24 05:36] #400 closed

[2017-10-24 05:37] 3lvis commented on #399
Haven't seen any other issues related to this so might be an isolated case and not something related to the library, closing unless anything changes.

[2017-10-24 05:37] #399 closed

[2017-10-24 05:42] 3lvis commented on #360
It's been sometime after this issue was opened, let's open a new one if it's still relevant.

[2017-10-24 05:42] #360 closed

[2017-10-24 05:44] 3lvis commented on #357
It's been sometime after this issue was opened, let's open a new one if it's still relevant.

[2017-10-24 05:44] #357 closed

[2017-10-24 05:45] 3lvis commented on #356
It's been sometime after this issue was opened, let's open a new one if it's still relevant.

[2017-10-24 05:45] #356 closed

[2017-10-24 05:45] 3lvis commented on #353
This shouldn't be a problem anymore.

[2017-10-24 05:45] #353 closed

[2017-10-24 05:46] #366 closed

[2017-10-24 05:49] 3lvis commented on #227
Haven't seen any other issues related to this so might be an isolated case and not something related to the library, closing unless anything changes.

[2017-10-24 05:49] #227 closed

[2017-10-24 17:04] MichalAlgor commented on #428
Probably, but my database is allready structured that way. Also halving it this way makes it easy to use in my usecases.

[2017-10-24 18:48] 3lvis commented on #428
Thanks for getting back to me. I'm not sure how we could make it work given the constraints. My only suggestion is that you perform some JSON pre-processing so it changes the key before calling Sync. If you have any other ideas let me know :).

[2017-10-25 02:37] iballistic commented on #431
Yes, I will be happy to check whatever is required. I presume I need to check out #432 and modify and commit? Sorry I have not done this before...

Regardless I can tell what you are doing differently. This must be a two-step process. Either create a record before importing or use two new files that I am attaching. First import1. json, and then import2.json, after you import import2.json all relat

[2017-10-25 05:08] 3lvis commented on #431
Thanks for the extra info. I’ll have a look. :)

[2017-10-26 14:17] Baza207 commented on #425
@3lvis Might be good to update the Readme for the Cartage line to `github "3lvis/Sync" ~> 4.0` as 3.0 fails to build in Xcode 9 at the moment (4.0 worked fine once I found this though 😉).

[2017-10-26 18:59] 3lvis commented on #425
@Baza207 Thanks James! I'll make the change now.

[2017-10-27 11:56] pgawlowski commented on #431
Same issue :( Any news?

[2017-10-30 20:27] 3lvis commented on #431
Hi pulled your changes into https://github.com/3lvis/Sync/pull/432.

I think there is a misunderstanding and Sync is doing what it's supposed to. In your second JSON none of the first elements is present, meaning Sync believes it was removed from the database. If you want Sync to assume that the new elements are just meant to be inserted or updated and not deleted you can do the following:

[code]

[2017-10-30 20:27] #431 closed

[2017-10-30 20:28] 3lvis commented on #429
Closing for now for lack of response, will reopen once we get more info.

[2017-10-30 20:28] #429 closed

[2017-10-30 20:28] 3lvis commented on #428
Closing for now, waiting to hear back from @MichalAlgor.

[2017-10-30 20:28] #428 closed

[2017-10-30 20:30] 3lvis commented on #427
I believe using operations could solve your issue as well, of course assuming you don't want to remove records and do the removing part in a separate process.

[code]

I hope this helps, otherwise let me know and we'll figure it out.

[2017-10-30 20:30] #427 closed

[2017-10-30 20:32] iballistic commented on #431
oh great! thank you very much! It makes sense

[2017-10-30 22:04] 3lvis commented on #422
Did a first go at this, should be working for `one-to-many` now.

[2017-10-30 22:11] 3lvis commented on #389
Hi @pgawlowski,

I know it's been some time and I'm not able to reproduce the issue, just hoping it was fixed in the newest release.

[2017-10-30 22:11] #389 closed

[2017-10-30 22:19] 3lvis commented on #347
Works fine on master.

[2017-10-30 22:19] #347 closed

[2017-10-30 22:23] 3lvis commented on #265
I believe this works fine in master.

[2017-10-30 22:23] #265 closed

[2017-10-30 22:24] 3lvis commented on #237
Closing this and leaving the PR.

[2017-10-30 22:24] #237 closed

[2017-10-31 07:41] dneykov opened #436 "Xcode 9 and iOS 11 problem"
Hi,
I'm using this awesome library for a while but after updating to Xcode 9 I have following message in the console when inserting/updating/deleting:

[code]

And everything is working as expected. Anyone can explain what are these messages for?
Thanks.

[2017-10-31 09:44] 3lvis commented on #436
Hi! Found the same problem here:

https://github.com/magicalpanda/MagicalRecord/issues/461

Can you try upgrading to the latest version of Sync and wiping derived data and simulator data?

I think the problem is related to dropping the database, we rolled back the method that we were using on Sync 3.3.1, so I hope you don't get the same warning again.

[2017-10-31 10:11] dneykov commented on #436
Hi,

I was using 4.0.1 and just updated to 4.0.2 `Installing Sync 4.0.2 (was 4.0.1)` and delete derived data but warnings still appears. I'm using real device for testing.

Thanks.

[2017-11-01 16:31] altyus opened #437 "Completion would fire after first store is dropped"
https://github.com/3lvis/Sync/blob/7c7cb8ead7b906a4e91735f69b355ab685976853/Source/DataStack/DataStack.swift#L302

[2017-11-01 20:05] Lailan opened #438 "Can someone help me how to sync this json with many relationships?"
Hi!
I have this json, and I trying sync with the CoreData.
The problem is: Only is save the "Programa" and "Fichas" (the first relationship) and "Atividades, Series and Ajustes" are not saved in CoreData.
Can someone help me how to sync this json?
Thanks a lot.

[code]

[2017-11-01 20:23] 3lvis commented on #438
Hi @Lailan

Could you share a screenshot of your Core Data model as well?

[2017-11-02 21:43] #437 closed

[2017-11-02 21:45] 3lvis commented on #437
Fixed, thanks @altyus!

[2017-11-03 04:18] windexb opened #440 "Help Wanted – Datastack.sync JSON Array of Dictionaries"
I’m having a problem even doing a basic sync with this library.  I’ve looked through issues and sample code and still no luck.  What’s even more interesting is that I no longer can fetch my user data from core data after I assumed I botched the sync.

Goal: I’m trying to simply update one user after a fetch data from the server. What I think I’m struggling with is the sync parameter changes: [[Str

[2017-11-03 09:47] 3lvis commented on #440
There you go, I hope it helps!

https://github.com/3lvis/Sync/pull/441

Basically two changes were required to the Core Data model.

- clientID
Needs `sync.isPrimaryKey` equal to `yes`

- id
Needs `sync.remoteKey` equal to `_id`

[2017-11-03 09:47] #440 closed

[2017-11-03 09:48] 3lvis commented on #438
Hi @Lailan,

Closing until we get more info :) Hopefully the issue was resolved.

[2017-11-03 09:58] Lailan commented on #438
Hi @3lvis, thanks for the awesome support!
Sorry for the delay in reply, but it was a holiday here at work yesterday and I could not get the data model.

So, here is it.
![screenshot 2017-11-03_07-56-56](https://user-images.githubusercontent.com/14180424/32368365-b48d59d0-c06c-11e7-9b98-7992a2be191b.png)

[2017-11-06 21:21] iOSLucas opened #442 "Can you create a Swift example or doc with Alamofire request? The example doesn't work and i want to use Sync and I can't understand."

[2017-11-06 23:49] 3lvis commented on #442
Added demo project including Alamofire, I hope it helps :)

https://github.com/3lvis/Sync/tree/master/iOSDemo

[2017-11-06 23:49] #442 closed

[2017-11-06 23:59] 3lvis commented on #436
Hi @dneykov,

Sadly, I'm not able to reproduce your issue. 😕

[2017-11-07 01:31] 3lvis commented on #438
I was able to reproduce your issue, I'll see what I can do.

https://github.com/3lvis/Sync/pull/446

[2017-11-07 10:12] Lailan commented on #438
@3lvis Thanks so much for your help. You're awesome!

[2017-11-07 14:32] batjo opened #447 "Duplicate entries even though primary key is the same"
I'm trying to sync the following json:

[code]

In this example, a Website has tags and categories. Since there can be lots of tags, only the most recent ones are being send. Categories can have a defaultTag.

When I sync the above JSON I end up with 2 tags, both with id: 10.

Btw I just became a Patreon, thanks for your open source libraries, they are awesome!

[2017-11-07 22:19] 3lvis commented on #447
Woah! Thanks for your support Bart :). You're awesome 🌹.

[2017-11-07 22:24] 3lvis commented on #447
Hi Bart,

The issue here was that since your website can have many tags and this tag can have many websites then there should be a many-to-many relationship. After updating to this model the tests pass again.

[2017-11-07 22:25] 3lvis commented on #447
<img width="546" alt="screen shot 2017-11-07 at 23 24 01" src="https://user-images.githubusercontent.com/1088217/32521201-e9715472-c412-11e7-9e5d-6dd4f1242357.png">

[2017-11-08 07:27] batjo commented on #447
Hi 3lvis thanks for having a look. In my case each website has it's own tags and they are not shared between websites. So although a website can have many tags, a tag belongs to only 1 website.

Is there a specific reason why I need to model this has many-to-many?

[2017-11-09 07:17] dneykov commented on #436
Any suggestions where to look about the warnings?

[2017-11-09 12:37] max-pfeiffer opened #449 "true in JSON is still ignored"
I just had the same issue:  https://github.com/3lvis/Sync/issues/399
Using the latest V4.0.3.

I was banging my head at the wall for an hour since I found out that the JSON processing in the sync library is the problem.

When I have true values in my JSON this is not set correctly on Boolean propertis in core data objects.

I will try and provide a pull request with a test to reproduce that issue,

[2017-11-09 19:56] 3lvis commented on #447
Hi @batjo,

I remember this issue has to do with diffing and the fact that in order to syncronize tags between multiple tables then we need to use many-to-many, if we use many-to-one, when diffing the best way to ensure that we are only deleting tags that you want to delete is if we make an exclusive tag for the relationship.

[2017-11-09 20:03] 3lvis commented on #447
But I guess in your case if you don't include a tag inside "recent_tags" then we are supposed to delete it? Or what was your logic for diffing in this case?

[2017-11-11 09:17] 3lvis commented on #447
Reopening until we find a good alternative.

[2017-11-13 13:18] iOSLucas opened #450 "Problems with JSON without id and with multiple relashionships"
This is my coreData template and after the JSON server response. I put inbox_totalCount as primaryKey and rename it to inboxTotalCount in CoreData, but bd is still empty. I was able to login with sync, but this request is not working.

<img width="1245" alt="captura de tela 2017-11-13 as 10 59 12" src="https://user-images.githubusercontent.com/28456076/32726906-d6a769c8-c861-11e7-9ab7-c4ef325034ce

[2017-11-13 18:18] 3lvis commented on #450
For the `inboxTotalCount` attribute sync will look for `inbox_total_count` or `inboxTotalCount` in your JSON but you only have `inbox_totalCount`. To enable Sync to work with this case you need to be explicit about the used remoteKey. So, adding `sync.remoteKey` equal to `inbox_totalCount ` to your User Info should do the job.

[2017-11-14 13:49] keyvan1361 opened #451 "i get duplicated records!"
i am using the latest sync version
i have no idea what i am doing wrong!
each time i run the following in my app delegate i get new duplicated records
i have hyper.isPrimaryKey on my id column in core data model
the json file is also fine
`
let dataStack = DataStack(modelName: "myModel", bundle: Bundle.main, storeType: .sqLite, storeName: "myModel")

if let items = response.result.value  as? [[Str

[2017-11-14 18:50] batjo commented on #447
Yes in my case tags that aren't included in "recent_tags" should be deleted. I guess for now I just use a many-to-many relationship as I don't see any downsides to it other then that my core data model differs slightly from the web server model.

[2017-11-17 20:11] #451 closed

[2017-11-20 17:10] max-pfeiffer commented on #449
@3lvis : made a pull request with a test: https://github.com/3lvis/Sync/pull/452

[2017-11-20 21:18] kikanny opened #453 "To-many ordered relationship crash"
Hey 3lvis, looks like there is a bug with an ordered relationship in the sync_toManyRelationship method.
[code]
In the code above, I'm getting range out of bounds crash in the moveObjects call if remoteIndex is greater than the max index in relatedObjects. This makes sense considering there is no check in place. I'm confused about the purpose of this block of code? I was thinking of just adding a

[2017-11-22 21:23] siempay opened #454 "no documentation? I can't figure out how to use this"
I have a `model.xcodedatamodeld` in a framework integrated in my app
and I want to sync objects to my model!
how can I do that ?
what is dataStack ? you do not use it in your example !

what I understood is something like this
`DataStack(name:"Model").sync(usersJson, inEntityNamed: Users.entity().name!, completion: { (e) in				})`
but it can not find the Model
`2017-11-22 21:13:47.527082+0000 app3

[2017-11-23 06:28] 3lvis commented on #454
Hi Brahim,

If your Core Data model is located inside your framework you need to do this.

[code]

[2017-11-23 06:29] 3lvis commented on #454
I updated the iOSDemo to use DataStack instead of persistency container: https://github.com/3lvis/Sync/blob/master/iOSDemo/Library/Fetchers/Fetcher.swift

[2017-11-23 06:29] #450 closed

[2017-11-23 10:04] siempay commented on #454
do I have to use dataStack? and if I do! will I have to use it for all communication with my model?
like adding, updating, deleting and fetching from my model will go through it ?

[2017-11-23 10:51] siempay commented on #454
when I do fetch with mainContext or viewContext even if I don't know the difference between theme, I get a list of `[User]` with length of 2 as I inserted (my json from server has two users in it) but when I try to access to any property (i.e id or name) i get nil even

[2017-11-24 18:50] zanderxyz commented on #422
Hi,

I'm having a very similar problem. I have a model similar to the following:

Entities:
Group has one-to-many relationship with Plan
Plan has one-to-many relationship with Participant
Participant has many-to-one relationship with User

Example JSON
{
  "id": 1,
  "name": "Group 1",
  "plans": [
    {
      "id": 1,
      "name": "Plan 1",
      "participants": [
        {
          "id": 1,

[2017-11-25 02:32] donghd commented on #447
@3lvis , @batjo :  I have same problem when sync 1 file (total: 19 leads , 4 stages) with Leads - Stage (many-to-one  relationship), it creates many Stages with same ID (that expected to one with unique ID), now I changed to (many-to-many), but it only saved the last connection (19th lead-stage, in json file), and still create duplicate Stages (8 stages, expected 4 stages) with same ID. Anyway, I

[2017-11-25 14:38] 3lvis commented on #454
like adding, updating, deleting and fetching from my model will go through it ?

You don't have to but is better if you do, DataStack is an abstraction over Core Data's boilerplate.

[2017-11-25 14:39] 3lvis commented on #454
Could you share a sample of your implementation so I can check the issues?

[2017-11-27 09:27] batjo commented on #447
I think the main issue here is that Sync doesn't know the `Tag` belongs to a `Website`, when it's in a `Category`. So the frist tags gets synced correctly and belongs to a Website, while the second tag doesn't have a Website according to sync.

So in the database it looks like this:

id | website
-- |--------
10 | 1
10 | null

For now I fixed this by preprocessing all the json and assigning a webs

[2017-11-27 09:36] donghd commented on #447
I am considering and will test as below, that may work
- Sync  4 stages firstly (new different json data)
- Sync 19 leads with core data's stage with json's stage_id to linked to 1 of 4 pre-created stages record, that mean Sync only create relationship, to avoid create new stage's records.
that may be same as your comments @batjo

[2017-11-27 10:52] siempay commented on #454
about this last one, sorry it was my bad, It was that attributes names did not match the ones in from the server. so I get nil in some but I get a value in others who were matched

[2017-11-28 02:02] donghd commented on #447
I have "Invalid expression" when refer such as lead.stage, even I did Sync data model lead's stage with json data's stage_id value. How should I fix?
 @batjo : as you mention you sync Tag's website (with json data {website_id: value}), can you access data model Website from Tag such as : Tag.website as Website  ??

[2017-11-28 06:17] shiangyichen opened #456 "Is there way to set the remotePrimaryKey for camelCase?"
I set hyper.isPrimaryKey for my attribute "productId", but it save nothing to database, then i trace the code, find that remotePrimaryKey is "product_id" not "productId"

In NSEntityDescription+PrimaryKey.h - sync_remotePrimaryKey
it seems that default format is hyp_snakeCase, Is there way to set the remotePrimaryKey for camelCase?
Thanks so much!

[2017-11-28 21:00] batjo commented on #447
Yes I get the complete website object with tag.website

[2017-11-29 07:15] donghd commented on #447
Yes, I can see it work in simple case. However Sync doesn't recognize existing 'id', it always create new one with same 'id', even I will operations: [.insert, .update] . It is quite difficult incase we use parent_id to link to Model itself.

[2017-11-29 18:14] 3lvis commented on #454
That's correct they should be either snake_case or the same as your Core Data model.

Example:
Core Data field: userID
JSON: user_id or userID

[2017-11-29 22:50] 3lvis commented on #449
Modified the query and seems to be working. I wonder what was the issue. https://github.com/3lvis/Sync/pull/455/commits/5c93bf01082aace2a1cf0c79ad4e97276eb9e9d3

[2017-11-29 22:52] 3lvis commented on #456
Hi! You can set both. `sync.isPrimaryKey` and `sync.remoteKey`

[2017-11-30 03:11] shiangyichen commented on #456
@3lvis  Thank you for your response. But i set the remoteKey & isPrimaryKey, it seems sync_remotePrimaryKey() would translate to snackcase automatically, it will cause nil result...
If i change the sync_remotePrimaryKey() in file NSEntityDescription+PrimaryKey.m to [primaryKeyAttribute.name hyp_camelCase], it work fine. So is there a method or option  like inflectionType for remotePrimaryKey  to c

[2017-11-30 07:44] 3lvis commented on #456
I think I see what’s going on now. Could you share with me your JSON and Core Data model, please?

[2017-11-30 19:21] jimijon opened #457 "I have a two relationships... object-->object-->object"
Ok, how I am supposed to do this (it worked in the 2x version)

I have 25K Products which have a relationship to Subcategory which has a relationship to Category.

I don't want my JSON to have all that in one call.

So I first sync subcategories with related to one category. This works.
Next I sync product with just a relationship to Subcategory. This then nils out the relationship from from produ

[2017-11-30 19:42] 3lvis commented on #457
Hi James,

I think I understand what you mean, having an example of your JSON and Core Data model would help me a lot.

This is what I understood so far.

## Step 1: Add category with ID 1
[code]

## Step 2: Sync subcategories of category with ID 1
[code]

[code]

## Step 3: Sync product with subcategory
[code]

[code]

Then if you do, product.subcategory.category it gives nil instead of giving th

[2017-11-30 19:43] 3lvis commented on #454
Let me know if this was resolved so we can close this issue, otherwise I'm happy to help :)

[2017-11-30 19:48] 3lvis commented on #453
Hi @kikanny,

First of all, sorry for taking so long to reply. Could you help me out with a way to reproduce this so I can add a unit test?

[2017-11-30 19:48] 3lvis commented on #453
If I understood correctly, it means that the index of the element coming from the server is after the element located in the database?

[2017-11-30 19:55] 3lvis commented on #436
I'm not sure how I would be able to help here, this seems like a Core Data related issue more than anything.

[2017-11-30 19:55] #436 closed

[2017-11-30 20:04] jimijon commented on #457
It’s pretty big…. but yes, you have it correct here as you described.

[2017-11-30 21:03] siempay commented on #454
just one thing, so if i have in my model file an attribute called **`someAttributeName`**,
it is gonna be mapped with both of these

- `{ "someAttributeName" : "some value"}`

- `{ "some_attribute_name" : "some value"}`

[2017-11-30 21:40] 3lvis commented on #454
That's correct but there are two exceptions: reserved attributes and acronyms.

I'm pasting the section about attribute mapping from the README here.

### Attribute Mapping

Your attributes should match their JSON counterparts in `camelCase` notation instead of `snake_case`. For example `first_name` in the JSON maps to `firstName` in Core Data and `address` in the JSON maps to `address` in Core Da

[2017-12-01 06:42] donghd commented on #447
@3lvis : I would like to report the issue as below:
Task:
we need to sync Partner, with relationship to itself, to parent-partner(via json 'parent_id')
Issue:
1. It cannot sync correctly one time cause, parent_id's partner is not yet existed before, so it also save relationship 'parent' is null in core data.

2. So I separate into 2 time.
var update1: Store parent-partner (normally it has 'parent_

[2017-12-01 18:18] #454 closed

[2017-12-03 06:46] 3lvis commented on #449
Closing for now until we get more feedback.

[2017-12-03 06:46] #449 closed

[2017-12-04 17:35] jimijon commented on #457
Any news?

[2017-12-07 10:03] 3lvis commented on #457
Hi @jimijon,

Haven't had the chance to look into it yet but would be helpful to get a unit test that reflects the issue.

[2017-12-14 00:53] jimijon commented on #457
I created the unit test in my fork. Really would like to get this working again.

[2017-12-14 10:59] 3lvis commented on #457
Hi @jimijon,

I can't seem to find it, could you share the link?

https://github.com/jimijon/Sync/branches/all

[2017-12-14 16:16] jimijon commented on #457
D’oh, forgot to push.

Should be there now with a pull request.

[2017-12-18 12:17] aamir-nazir opened #460 "How can we map nested json key?"

[2017-12-18 14:15] 3lvis commented on #460
## Deep mapping

[code]

In this example, if you want to avoid creating a Core Data entity for the company, you could map straight to the company's name. By adding this to the *User Info* of your `companyName` field:

[code]

https://github.com/3lvis/Sync/blob/d8e7f24664e82b166585206fcf84919b0f0eb171/docs/PropertyMapper.md#deep-mapping

[2017-12-18 14:17] aamir-nazir commented on #460
Yeah I expecting same format but didn't tried, Thank you for very quick response.

[2017-12-18 18:01] 3lvis commented on #460
I hope it works out, otherwise I'll reopen this issue :)

[2017-12-18 18:01] #460 closed

[2017-12-19 16:12] aalikhokhar opened #461 "Saving Json data in Two entities having relation Fails on alternate "fetching and storing" Help!"
Hello,
I am storing json data into two entities as FormInfo and FormQuestions having relation. I am fetching json data from server at every  login and store into given entities. Sync store it perfectly first time and if I logout from app and while login fetching json again same function called to store data but it fails to store without any error or crash. Even I have checked Sqlite file. Thanks
B

[2017-12-19 22:21] 3lvis commented on #461
Hi @aalikhokhar,

I'm not sure what could be failing, would it be possible to get a unit test or a sample project reproducing the error? Would be of great help. Thanks in advance.

[2017-12-20 11:05] aalikhokhar commented on #461
Issue fixed if I delete both entities records when logging out. And when loging in again Sync Inserts Fine.

[2017-12-20 12:06] zhihuilong commented on #454
I just want to map firstName(JSON) to firstName(Core Data). Is there any solutions to achieve this? @3lvis

[2017-12-20 12:09] zhihuilong commented on #454
It's really annoying that you cannot map two value which has the same name.

[2017-12-20 13:04] 3lvis commented on #454
@zhihuilong firstName to firstName should just work.

[2017-12-20 13:05] 3lvis commented on #454
I need to update the documentation to point this out but now we support snake_case and camelCase in the JSON.

[2017-12-20 13:05] 3lvis commented on #461
I see :), closing this then.

[2017-12-20 13:05] #461 closed

[2017-12-30 08:51] krasnodar95 opened #462 "App crashed when try to sync invalid object"
The Entity has not optional relation. From the server comes json where this field is == null(i.e. not valid). When you try to synchronize, the application crashes(Moreover xcode crashes, but this is hardly a library problem).

[2017-12-30 15:46] jimijon commented on #457
Any news on this?

[2018-01-02 13:41] aamir-nazir opened #463 "Update associated entity's object."
I need to update `Product id: 5` thats associated to User object, but I need to keep all existing associated Products. I tried using `operations: [.insert, .update]`. This destroys all existing associations.

[code]

[2018-01-02 14:54] dneykov opened #464 "How to ignore local data so it's not deleted when sync"
Hi guys,

Happy New Year.

I have a project where I use Sync to synchronize with my server. Downloading data from the server and editing this data and send it back to the server. I have the option to edit data on the devices and I'm using flag `offline` to indicate if there is locally changed data to avoid override from the server. This works great using predicate `predicate: NSPredicate(format: "

[2018-01-02 15:25] dneykov commented on #464
Sorry for opening this issue is totally logical error, nothing related to the library.

[2018-01-02 15:25] #464 closed

[2018-01-02 18:13] 3lvis commented on #464
Nice to hear that you got this fixed, Daniel. Happy new year!

[2018-01-03 07:59] aamir-nazir commented on #463
@3lvis do you mind commenting on this?

[2018-01-03 15:12] 3lvis commented on #463
Hi @aamir-nazir,

Sadly at the moment the .insert, .update will only work for the users, the products will do all three operations: insert, update and delete. I saw your comment on #433, I think that would solve your problem but I haven't had time to wrap it up.

[2018-01-03 15:13] 3lvis commented on #463
Could you try that branch and see if it fixes your issue?

[2018-01-04 15:24] frankkienl opened #465 "crash when syncing large amounts of data; managedObjectContext == nil, workaround"
When the app is syncing large amounts of data, and the user requests a sync that will replace/update/delete data that is being synced, the app crashes.

I traced the crash back to:
`guard let managedObjectContext = managedObjectContext else { abort() }`
https://github.com/3lvis/Sync/blob/master/Source/Sync/NSManagedObject%2BSync.swift#L226

Sometimes, the managedObjectContext is nil, therefore cra

[2018-01-04 17:39] aamir-nazir opened #466 "Crash when calling sync on Objects which have multiple has_many associations."
Following is the stack trace. Only calling sync once for saving/updating objects, but not sure why this recursive calls are happening. May be those calls are updating/creating new/existing associations.
[code]

[2018-01-06 08:10] 3lvis commented on #456
Closing for now, will reopen once we get more information.

[2018-01-06 08:10] #456 closed

[2018-01-06 08:11] 3lvis commented on #466
Hi!

I've never seen this before. Would you mind sharing the JSON and Core Data model that is causing this issue?

[2018-01-06 08:24] 3lvis commented on #465
Hi Frank,

Thanks for this fix, I believe what you share is correct, doesn't really make much sense to use the managedObjectContext when provided by a parameter. The reason was that the context as a parameter was introduced later to fix a different issue and pass it down to one of the methods called inside this method, since at the moment I didn't find any use cases that required the change I didn

[2018-01-06 08:32] 3lvis commented on #403
Closing this for now, Sync should work on all the platforms, sadly at this time, I won't be able to find the time to work on making an example for macOS.

[2018-01-06 08:32] #403 closed

[2018-01-08 10:53] frankkienl commented on #465
I'll see what I can do.

It was hard to reproduce with the real app,  it happend only sometimes and only when using the real database. So it might not be easy to make it happen in a unit test.

If I'm able to create a minimal app, with minimal testdata that can still reproduce the error, I'll share it ;-)

[2018-01-11 20:19] yonat commented on #372
@3lvis I encountered a similar problem, but it was not solved by using the main context. Instead, I found that Sync expects the child objects JSON to contain a `<parent>_id` field. I think that's probably a mistake, no?

Anyway, I use this workaround:

[code]

[2018-01-11 23:24] 3lvis commented on #372
Hi @yonat!

Interesting workaround, would you mind sharing a little bit more of your use case? How does the child JSON and parent JSON look like? I would be happy to include your case as a unit test to make sure we support that case in the future!

[2018-01-12 07:07] yonat commented on #372
Thanks for responding!

My use case:
I have separate server requests for each type of entity. So for the parent I may get:

[code]

Then I send a separate request to get 6's children, and the response would be something like:

[code]

So the parent's JSON does not include its children IDs, and the children's JSON does not include they're parent ID.

(I can't change the server code, have to use wha

[2018-01-12 09:43] 3lvis commented on #372
Thanks for the extra info! I'll hope to have some time to reproduce it :)

[2018-01-13 16:40] yonat commented on #372
Just bumped into another issue:

Syncing children of one parent, deletes the children of all other parents.
So now my workaround looks like this:

[code]

[2018-01-16 18:47] Lailan commented on #438
@3lvis Good afternoon. Any news about this issue?

[2018-01-17 07:45] ewstrand opened #469 "Sync crashes for new native UUID primary key introduced in iOS 11"
When using the new UUID native type for primary key apps using sync will load once but it is failing in a silent fashion since all of the id fields are set as NULL which leads to the app crashing on all subsequent loads.

[2018-01-17 09:08] 3lvis commented on #469
Hi @ewstrand,

I'm not sure I understand could you share a code example?

[2018-01-17 21:40] ewstrand commented on #469
In my app and also in the sample code "iOS Demo" sync does not seem to parse in the uuid string of form "5042fbd9-f85b-4422-b276-02f949f1bc59" even when you change the type of the entity id property to the type of UUID. I modified the sample program as follows:

I changed the project target to iOS 11 for support for the new UUID type in core data, I changed the data model as follows:

![screen sho

[2018-01-30 19:15] batjo commented on #457
Hi @jimijon, I was having the same issue and was able to fix it. Please check my changes: https://github.com/3lvis/Sync/commit/112520071007f83c8af48328fc477d705f97cdc4 and let me know if that fixed your issue as well

[2018-01-30 19:20] batjo commented on #447
Hi @donghd, I think I fixed your issue, please check both these pull requests (you need them both) and let me know if that solved your issue:  #471 #459

[2018-01-30 19:23] batjo commented on #438
Please check #446 there was an issue with your json. You can still sync it by adding a `sync.remoteKey` to the entity.

[2018-01-30 19:23] #438 closed

[2018-01-30 23:37] #457 closed

[2018-01-31 07:10] batjo commented on #422
Both issues should be fixed in the master branch. If you still have problems syncing json, please reopen at if possible add a failing test case. Thanks!

[2018-01-31 07:10] #422 closed

[2018-01-31 07:11] batjo commented on #463
This has been merged in the master branch now. If you still have problems please reopen.

[2018-01-31 07:11] #463 closed

[2018-01-31 07:12] batjo commented on #462
Any Swift code will crash when you assign a nil value to a non-optional so I don't think this is related to Sync. You could change your model to be an optional or you can do some JSON preprocessing and throw an exception when invalid data is coming from the server.

[2018-01-31 07:12] #462 closed

[2018-01-31 10:52] #447 closed

[2018-01-31 10:52] #465 closed

[2018-01-31 22:02] ewstrand commented on #469
Ok I tracked down the error and I have a fix. The problem was in the "NSManagedObject+PropertyMapperHelpers.m" file; it was missing a case for handling the UUID type. Here is the file with the fixes:

[NSManagedObject+PropertyMapperHelpers.m.zip](https://github.com/3lvis/Sync/files/1683461/NSManagedObject.PropertyMapperHelpers.m.zip)

my added fixes are on lines: 26,27 , 210,211 , 233,234

[2018-02-01 05:56] 3lvis commented on #469
@ewstrand thanks for your contribution!

https://github.com/3lvis/Sync/pull/472

[2018-02-08 18:33] siempay opened #474 "is there a way to export an object with relations with a constraint ?"
consider a  `User: { ... , comments: <relation>}`
is there a way to do something like export a `User` with comments that satisfy a condition?
i.e :
 `let user = User(); user.export(){ user in
   some condition
}`

[2018-02-08 21:34] 3lvis commented on #474
Hi @siempay,

We don't have support for that or have considered until now.

[2018-02-09 12:26] siempay commented on #474
one more question:
about this `If you want to use id for the remote primary key you also have to add the flag sync.remoteKey and write id as the value.`
I did not understand it!
what I wanna do is to create a primary key (i.e localKey), and keep the attribute `id` as a remote key that want to update when I sync an object
example :
T1 : `user = User() // { id: 0, localKey:1, ....}`
T2 : `user.sync(

[2018-02-09 12:28] kaszap82 opened #475 "Missing required module 'Sync.NSEntityDescription_PrimaryKey'"
Hi!

Could you help me please, I get this error at the import Sync line in my project. I used Sync 2 years ago, and now I tried to convert my project the swift3. I use the latest version of sync.

[2018-02-09 12:30] 3lvis commented on #475
Hi @kaszap82,

Could you try adding

`import Sync` in the top of your project?

[2018-02-09 12:34] kaszap82 commented on #475
At the top of a swift file? (same issue) Or how do you mean "top of the project"?

[2018-02-09 13:30] 3lvis commented on #475
what about

`import Sync.NSEntityDescription_PrimaryKey` at the top of the file?

[2018-02-09 13:34] kaszap82 commented on #475
Not working: No such module 'Sync.NSEntityDescription_PrimaryKey', I check the header search path, and there is the ${PODS_ROOT} recursive, so I think it can be find in this way.

[2018-02-09 15:02] kaszap82 commented on #475
Sorry, it's an old project, I think there was a project config error, because now it's working. Sorry again, and thanks for your time!

[2018-02-09 15:02] #475 closed

[2018-02-09 16:16] 3lvis commented on #475
I'm glad you got it working and sorry for breaking so much of your code!

[2018-02-09 23:03] achirkof opened #476 "Sync crashes retrieving related data"
Hi @3lvis and @batjo!

I have found that changes made during last 10 days breaks the Sync. I have to rollback my project to commit `6361a7b` which is working well.
I'm prepared a [little app to reproduce a bug](https://github.com/achirkof/Sync_bug_reproduce.git). You can grub it and run to catch the crash.

If you put an Exception breakpoint you'll catch error `Sync_bug_reproduce[12030:871819] -[_

[2018-02-10 08:13] 3lvis commented on #476
Hi @achirkof,

Thanks for reporting this issue :) Fix incoming

https://github.com/3lvis/Sync/pull/477

[2018-02-10 08:20] #476 closed

[2018-02-10 09:36] achirkof commented on #476
Thanks @3lvis !
I’ll check it a little bit later today.

[2018-02-10 12:41] 3lvis commented on #474
Hi @siempay,

As I understand, in your JSON you have `id` and in Core Data you have `customID`?

Or could you help me understand what's your JSON primary key and your Core Data primary key?

[2018-02-10 12:41] #469 closed

[2018-02-10 12:41] 3lvis commented on #466
Closing for lack of activity.

[2018-02-10 12:41] #466 closed

[2018-02-10 12:43] 3lvis commented on #453
I'm sure this is still an issue sadly I haven't been working much with sorted relationships, I usually use unsorted relationships then sort using NSFetchResultsController and NSSortDescriptors.

[2018-02-10 19:42] siempay commented on #474
primary key of core data is `customID` and for the json is id, that is why I was think of sending this `customID` with the json, and then make the server return it back.
so I would send and object `user = {id:0, customID:2,....}` and then the server will store the object user and return it back as `user = { id:1, cosutomID:2, ....}`, I dont know what are the best practices

[2018-02-11 01:53] 3lvis commented on #474
Does this work?

Core Data:
customID (sync.isPrimaryKey: YES) (sync.remoteKey: id)

[2018-02-12 17:55] siempay commented on #474
I am the one who asked the question hhhh, but it worked, setting the `customID` to (sync.isPrimaryKey: YES), and keeping the `id` as is, (not adding any `(sync.remoteKey: id)`) .

[2018-02-12 18:00] JanRajtr opened #478 "Relation ID and nested object in JSON at same time"
Hello,

I am currently trying to implement Sync unfortunately I stuck with following scenario. API returns this JSON:
[code]

In this example the Sync ignores the nested object "weather" because , regarding the "weather_id", it does not exist in the time of syncing. This makes sense, however Sync skips also the nested JSON object "weather" in this case. Does exist any solution for this scenario? I

[2018-02-13 13:38] 3lvis commented on #474
Perfect! Let me know if I can help with anything else :)

[2018-02-13 13:38] #474 closed

[2018-02-13 14:30] rajtharan-g opened #479 "Date formatter issue while mapping with core data"
I'm getting the response JSON from API in the format like given below
"2018-02-13T12:08:54.839216Z"

 But when I fetch the date from core data after saving it and if I print the date in the format as "yyyy-MM-dd'T'HH:mm:ss.SSSSSS'Z'", the I'm getting the value as shown below
"2018-02-13T12:08:54.000000Z"
The value after seconds is not getting mapped correctly. Or is there any way to set the date f

[2018-02-13 16:32] kikanny commented on #453
@3lvis I'm sorry! I got very busy and forgot about this. For now, I've removed this block of code in our apps. To give you an idea, I've modified the 237.json file to the following.

`[
 {
    "id": 1,
    "slides": [
      {
        "id": 3
      },
      {
        "id": 2
      },
      {
       "id": 1
      }
    ]
 }
]
`
Now, if you run the test327OrderedToMany() test, you should see the out

[2018-02-13 23:03] achirkof commented on #476
Hi @3lvis !
It's strange, but pointing to `pod 'Sync', '~> 4'` I still have this issue. Only if I pointing directly to commit issue not appear.

[2018-02-14 00:50] 3lvis commented on #476
@achirkof The fix is not released yet, need to make a new release :)

[2018-02-19 12:47] batjo opened #480 "Issue #477 introduced a new bug"
For example consider the following json:

[code]

With the new fix in place this causes reports to have 0 historyItems, while before the fix there would be 6 historyItems divided over 2 reports.

[2018-02-20 15:22] joeboyscout04 opened #482 "Export with different remote key doesn't respect nested attributes."
Great library.  I recently ran into an error with the exporting of JSON and thought I'd share it.

Considering a simple json:
`{
    "id": 6,
    "name": "Shawn Merrill",
    "contact": {
      "email": "myemail@gmail.com"
    }
  }`

it is possible to flatten out the JSON in the Core data model completely to remove the nesting for "contact.email" property.  This removes an extra attribute and mod

[2018-02-20 22:58] 3lvis commented on #482
Nice catch, @joeboyscout04!

[2018-02-21 10:56] iOSUser110 opened #483 "Trying a lot but the syncing is not working"
reponse from service is there , but sync is not happining ??

[2018-02-21 11:23] 3lvis commented on #483
Hi @iOSUser110,

Would you mind sharing an example of your JSON as well as your Core Data model?

[2018-02-21 22:16] Drenov opened #484 "Deletion of ManagedObjects leads to deletion of its inheritance objects"
There are two ManagedObjects:
- Foo: NSManagedObjects
- Bar: Foo

This code, used for deletion, works normally, only objects of Foo removed:

[code]
But when try to delete Foo objects via:

[code]
The SQL table becomes empty. There are no Foo, nor Bar.

Is such behaviour expected?

[2018-02-22 08:49] joeboyscout04 commented on #482
I think I got it fixed. Let me know how it looks to you.

[2018-02-23 08:46] 3lvis commented on #484
Hi @Drenov, I think this is because of the way you've setup the Core Data Delete Rules, could you verify if changing the Delete Rule to "Nullify" helps?

![figure-core-data-relationships-delete-rules-1](https://user-images.githubusercontent.com/1088217/36585473-4ca8ae18-187e-11e8-9d08-fb200d3ec27f.jpg)

More info on deletion rules here: https://cocoacasts.com/core-data-relationships-and-delete-rul

[2018-02-27 08:23] max-pfeiffer opened #486 "DataStack and NSBatchUpdateRequest"
This is just a question to clarify: looking at the DataStack source and comments I learned that you should use a backgroundContext to modify objects. You should not use the main context.

To my understanding this is not true for the batch requests introduced in iOS 8 because these are bypassing the NSManagedObjectContext. Changes are written directly to the persistent store. This is a least what t

[2018-03-01 21:09] Sydney-o9 opened #487 "* What to do when we use Object Inheritance?"
Awesome work with `Sync` - quick question.

With entity inheritance, I have been unsuccessful so far, does Sync support persistance such as:

[code]

With a simple inheritance graph, where `Car` is an abstract parent and `Subaru` and `RaceCar` inherit from the base class

[code]

 I could not get sync to persist data to the child classes, only fields on the base class are persisted.

Any ideas?

-

[2018-03-01 23:09] JupiterJones commented on #483
I've been having a similar issue (on and off) and it's always been a problem with my data model.

Is there a way to get greater visibility - some context about what caused the error?

ps Thanks for the awesome framework. :)

[2018-03-05 00:45] JupiterJones opened #488 "export() includes <__NSArrayM 0x1c045d190> on first toMany relationship"
I'm exporting an NSManagedObject with a toMany relationship. The first toMany relationship ends up in the string as follows:

[code]

However, it only appears on the first toMany export. All other toMany relationships export as expected.

Also, you'll notice that everything other than the top level object exports as key = value, rather than key : value.

I've had a quick look at the Sync source bu

[2018-03-06 23:50] jimijon opened #490 "Large import doesn't seem to finish writing all records"
Hello -

I am doing large imports 500 records at a time. My log file says it imports all the records. Then I to a FetchCount and it is short about a few thousand records. However, if I force the same update again it seems to write the remaining records. Am I missing some "commit" type concept?

Here is my code:

[code]

I tried both contexts as you see above

Finally:

[code]

Any ideas?

[2018-03-07 02:18] JupiterJones commented on #488
My own stupid mistake looking at the Xcode debug print of the export rather than the resulting encoded string.

Closing this issue.

[2018-03-07 02:18] #488 closed

[2018-03-07 04:14] Sydney-o9 commented on #487
Something similar to this basically:

https://github.com/evermeer/EVReflection#what-to-do-when-you-use-object-inheritance

This is not supported yet - is it?

[2018-03-07 09:15] 3lvis commented on #487
Hi @Sydney-o9! Good question and sorry for the late reply, I've been on vacations 🏖. I do remember we added some support for inheritance but as you mention it might not cover your case. Could you please make a unit test with a fork to see if I can add a fix for it? Thank you in advance.

[2018-03-07 09:16] 3lvis commented on #488
I'm glad you got it working, @JupiterJones <3

[2018-03-07 09:28] 3lvis commented on #490
Hi @jimijon this is *very* strange. Maybe you can try after adding the new sync operations.

[code]

[2018-03-07 11:00] 3lvis commented on #483
Sadly, this is all hidden behind Core Data's magic. But you can log what changes are done by Core Data following these steps: https://github.com/3lvis/Sync/blob/master/docs/faq.md#logging-changes

[2018-03-07 14:33] jimijon commented on #490
That didn't do anything. Maybe it is the .wal file. Is there a way to pass parameters to the data stack?

@{NSSQLitePragmasOption: @{@"journal_mode": @"delete"}}

Thanks

[2018-03-08 16:13] #480 closed

[2018-03-20 02:55] joshxplor opened #491 "Crash on inMemory sync"
I keep getting this crash

works well with sqlite persistent store.

     [{
          "sampleId":1,
          "somePropertyArray":[{
                                 "arrayId":2,
                                 "anotherArrayProperty":[{
                                                           "anotherArrayId":3
                                                         }]

[2018-03-20 07:26] Drenov commented on #484
Hello @3lvis, I've found reasons for that. It is normal native Core Data behaviour for inherited objects. So the decision is to use base class as abstract.

[2018-03-20 07:26] #484 closed

[2018-03-20 11:31] 3lvis commented on #484
I'm glad you were able to fix this issue @Drenov, let me know if I can help in anything else :)

[2018-03-20 11:32] 3lvis commented on #491
Hi @joshxplor,

Can you help us reproducing the issue by adding a unit test or sharing your Core Data model?

[2018-03-20 11:55] joshxplor commented on #491
@3lvis

Will provide a unit test. I did fork this project and run the test, but seems that the NSManagedObject+Sync is different with the current version?

on line 327 of the fork it was using `childPredicate = NSPredicate(format: "%K IN %@ OR %K = %@", entity.sync_localPrimaryKey(), ids, inverseEntityName, self)` in the current version though it uses this `childPredicate = NSPredicate(format: "AN

[2018-03-28 18:50] rebe1one commented on #491
I am also running into some issues with these new changes when running this in an in-memory store. I'm having a little trouble understanding the need for the ANY operator here. Since the first parameter in the predicate is the local primary key I can only imagine ANY working if it was actually an array, but the general use case is probably not going to be. Is there something I'm misunderstanding h

[2018-03-30 18:29] Lio1986 opened #492 "Module compiled with Swift 4.0.3 cannot be imported in Swift 4.1"
Hello @3lvis ,

I updated to the latest Xcode 9.3 version and now I keep getting following error:

I already updated the settings in Preferences -> Locations -> Command Line Tools but still not working.

[2018-04-03 13:56] 3lvis commented on #492
Fixed in the latest version, sorry for the delay :)

https://github.com/3lvis/Sync/releases/tag/4.1.3

[2018-04-03 13:56] #492 closed

[2018-04-10 12:18] pgawlowski commented on #478
@JanRajtr

Hello,
Managed to handle your problem? I've got quite similar issue, however it is not creating any kind of nested relationship, not only the one with same ID's. Maybe you can give a some sort of hint how to move forward.

[2018-04-10 15:11] JanRajtr commented on #478
Hello,
well my workaround at this moment was to implement controllers in API which returns all objects in advance. Anyway I have been thinking about it and in my some of next versions of my app I would be able to remove the attribute with "id" from main object, because I hopefully will not need it anymore. It does not solve the issue but at least works on consistent APIs and I don't need to cache

[2018-04-10 15:19] siempay opened #495 "fresh installation error"
I just installed 4.1.3 and got this
is it my swift version ?
![capture d ecran 2018-04-10 a 15 55 12](https://user-images.githubusercontent.com/14646888/38564868-ebb39d1a-3cd7-11e8-8bfb-a0725fa31ba0.png)

[2018-04-10 21:45] 3lvis commented on #495
That is quite strange, might be some derived data or CocoaPods caching issue.

[2018-04-12 18:43] pgawlowski opened #496 "Self reference relationship"
Hello @3lvis,

Sync problems once again. This time relationship is like you can see here
<img width="193" alt="screen shot 2018-04-12 at 20 41 48" src="https://user-images.githubusercontent.com/9845024/38697353-0755a3b8-3e92-11e8-811d-cf24e48b2f1e.png">
<img width="257" alt="screen shot 2018-04-12 at 20 41 51" src="https://user-images.githubusercontent.com/9845024/38697361-0a536a1e-3e92-11e8-816a-

[2018-04-13 12:14] TonyNikolov opened #497 "Simple One-To-Many relationship not working"
I have simple relationship of Human to Pets. The Human object is always saved, but the pet objects never. If i change the relationship to one-to-one, its working fine. Here are the models and the actual objects i use to test.
[actual objects](https://gist.github.com/TonyNikolov/acb3a20b99186803fbe57240eaf19733)
![sync](https://user-images.githubusercontent.com/16781124/38734131-1cd710aa-3f2d-11e8-

[2018-04-14 10:02] 3lvis commented on #496
Hi @pgawlowski,

Can you help me with a unit test? Thanks for your time :)

[2018-04-15 05:36] #482 closed

[2018-04-17 07:42] pgawlowski commented on #496
@3lvis What exactly you're expecting from my side? I can prepare sample JSON, rest of settings are right on the screens :) Let me know about details, I will prepare ASAP.

[2018-04-17 09:51] 3lvis commented on #496
Send me a sample JSON, I can set up the rest of the test :)

[2018-04-17 10:03] pgawlowski commented on #496
It an be like that

`{
  "id": "106",
  "name": "Components",
  "url": "/categories/106",
  "subcategories": [
    {
      "id": "816",
      "name": "Power Supplies",
      "url": "/categories/816",
      "subcategories": [
        {
          "id": "814",
          "name": "Rechargeable Batteries",
          "url": "/categories/814",
          "subcategories": [

          ]
        },
        {

[2018-04-17 12:14] pgawlowski commented on #496
@3lvis Found the reason. Somehow we forgot to use:
insertRelationships, updateRelationships
+ parent reference

[2018-04-19 11:37] 3lvis commented on #496
I'm glad you found the problem 👏

[2018-04-19 13:31] BrenoVin opened #498 "Question - Using Sync in my production app"
Hi, I have an app which I already use core data without sync, I manage the CoreData data by myself, and now I'm thinking to use Sync. There's any problem ?!

[2018-04-19 22:26] 3lvis commented on #498
Hi @BrenoVin,

Should be completely compatible. :) I can see how using Sync in your project would provide a battle tested, unit tested solution and you'll get to remove a bunch of code :)

[2018-04-23 11:33] joeboyscout04 commented on #491
I've gotten this same error under similar conditions...I think it may have something to do with the data being on different threads.

[2018-04-24 08:34] Jonge opened #499 "Parent not assigned when Sync is used as operation"
Hey again @3lvis,

Just updated to latest Sync from an old version and it seems that syncing parent with operations is again broken.

Here are the test cases: https://github.com/Jonge/Sync/tree/bug-operation-parent

Method `testParentWithOperation()` fails, while `testParentWithoutOperation()` succeeds. They are the same apart from using Sync as operation vs `changes(...)`.

Not sure yet what coul

[2018-04-24 09:35] Jonge commented on #499
OK so the issue is that `parentRelationship` is nil and is not automatically created.

The workaround is to do something like this in the `perform(...)` method in Sync.swift. (Which is ugly but works.)

[code]

[2018-04-24 16:03] Jonge opened #500 "Excessive Core Data notifications when syncing with relationships"
Hey,

I use `NSFetchedResultsController` with Sync.

I found that when you have JSON objects with relationships and call Sync, Core Data notifications (and therefore also `NSFetchedResultsControllerDelegate` methods) are called way too often -- after syncing every relationship object. This results in:
- janky UI, because the rows are inserted/updated one by one;
- performance issues, because the U

[2018-04-24 17:57] batjo commented on #500
I noticed the same problems, didn't know it was because of the many Notifications. Would be nice if there's a solution that passes all the tests

[2018-04-26 06:34] 3lvis commented on #500
This is another alternative to solve performance issues. https://github.com/3lvis/performance

[2018-05-02 11:03] montechristof opened #501 "localPrimaryKey crash."
Thank you for the great library. I seem to have found myself in a sort of a pickle. Upon syncing Sync generates a crash(see image). However as far as i can tell, the Managed Object that is getting parsed has an id(which i also set in user info as primary key to eliminate all the possibilities). Could you please advise how to fix this issue?
![screen shot 2018-05-02 at 12 00 27](https://user-images

[2018-05-02 11:07] xxstefanoxx opened #502 "Export json problem"
hi, i've try the export function but return a non json like this
[code]

where i wrong?
thanks

[2018-05-02 11:29] 3lvis commented on #502
Hi! That's how the console prints arrays, if you want a prettier version use:

[code]

[2018-05-02 12:25] montechristof commented on #501
Hi @3lvis,
I'll cook up a uni test when i get have time, however this behaviour does not happen if i delete the app from the phone, and reinstall it. The JSON data is the same in both cases, the only possible difference is that no Measure(the entity it crashes on) in core data prior to syncing. This leads me to believe that there is a problem with my model/contexts

[2018-05-02 13:25] petkrein commented on #436
Hi @3lvis,

have the same warnings when dropping first and updating.

[2018-05-02 14:07] montechristof commented on #501
Issue was fixed by adding a discardable value to the primaryKey.
Please close and delete.

[2018-05-02 14:07] #501 closed

[2018-05-02 16:05] 3lvis commented on #501
👏

[2018-05-02 16:51] 3lvis commented on #436
I wonder what the problem is, I haven't been able to reproduce this myself

[2018-05-03 02:37] Arvoreniad opened #503 "ExportOption to skip serializing null columns"
Hi! Love this project, it's been very helpful for streamlining the serialization process in our iOS app.

An issue we've encountered is that a few of our models have a number of columns that may be null in certain cases, and we would like to avoid serializing these if they have no value. As far as I can see in the docs (forgive me if I've overlooked it), there isn't a feature that caters to this.

[2018-05-08 07:35] xxstefanoxx commented on #502
thanks!

[2018-05-08 07:39] xxstefanoxx opened #504 "Sync Problem"
Hi, i've a problem with sync from json, I riceve error:
Cannot convert value of type 'String' to expected argument type '[[String : Any]]'
this is my json:
[code]
thanks

[2018-05-09 04:45] 3lvis commented on #504
Hi! Can you share your Core Data model as well?

[2018-05-09 04:45] #502 closed

[2018-05-10 09:38] gabzsa commented on #495
Same problem.

[2018-05-11 22:36] bonebox commented on #497
I'm having the same issue. It seems to have been introduced somewhere between versions `4.0.3` and `4.1.3`.  It was working fine with `4.0.3` and have the issue after updating to `4.1.3`.  Reverting to `4.0.3` fixes it again.

[2018-05-12 05:57] 3lvis commented on #497
Thanks for reporting 🤦‍♂️!

[2018-05-18 14:40] petkrein opened #505 "SYNC support Codeable, Decodeable?"
Hey Elvis,

will sync someday support Codeable, Decodeable?

[https://developer.apple.com/documentation/foundation/archives_and_serialization/encoding_and_decoding_custom_types](https://developer.apple.com/documentation/foundation/archives_and_serialization/encoding_and_decoding_custom_types)

[2018-05-19 06:45] 3lvis commented on #505
Hi @petkrein!

What's a good question, I haven't got around thinking how it could work. Right now Core Data makes it very easy since I can inspect the objects and attributes using the Core Data model. In order to make it work with Decodable I would have to generate somehow a relationship model to be able to do the Sync. If you have any ideas on how to do this I would be happy to collaborate on it.

[2018-05-28 10:48] rajtharan-g commented on #479
@3lvis Any update on this issue please...Help wanted

[2018-05-29 10:54] 3lvis commented on #479
Hi @rajtharan-g,

Sadly I haven't got the time for it but check the DateParser class (and tests), so you can add a fix for it. https://github.com/3lvis/Sync/tree/master/Source/DateParser

[2018-06-03 14:58] agottardo opened #507 "export() should encode NSURL in the Core Data Model as String"
I just started using Sync a couple hours ago and I already love it. Keeping this in mind, maybe this issue is not really an issue, and I'm simply using the library in the wrong way.

At [WWDC 2017](https://developer.apple.com/videos/play/wwdc2017/210/), CoreData gained support for URI types (NSURL). I'm now using this feature in my app, instead of storing URLs as Strings as I traditionally used to

[2018-06-04 07:24] allemattio opened #508 "Problem with UUID in Core Data Model"
Hi

I'm using Sync in my app.
With XCode 9.2 everything was(and is still) working fine, but since XCode 9.3 the same code, without edits, crashes.

I don't know if its XCode 9.3 or swift 4.2 that is causing the issue.

The latest XCode update(9.3) introduced some new types for the fields, including UUID.
I was using an uuid in some of my models, and the entities with uuids cannot be synced using S

[2018-06-04 07:34] Proper-Job commented on #508
Hi @allemattio
Are you aware of the [acronym normalization](https://github.com/3lvis/Sync#attribute-mapping).
What is your CoreData  entity's property name?

[2018-06-04 07:47] allemattio commented on #508
Hi @Proper-Job
Thanks,
My entity field name is uuid and is the same as the key of the json that I'm trying to sync.
I'm aware of the hyper.remoteKey property and I'm using it in other fields, but this not seems to be the problem here.
Debugging I've found that the value from the JSON is found, but Sync is unable to valorize the field on the Core Data entity in order to persist it.

As I've said, t

[2018-06-04 13:44] schwuk commented on #497
This was affecting our project as well, and downgrading has resolved the issue. Will try and dig deeper.

[2018-06-05 08:19] palla89 commented on #508
Hi, I'm in the same working team of @allemattio and I'd like to add some details to the problem:

If we try with Xcode 9.2 in the NSManagedObject+SYNCPropertyMapperHelpers.m, the attributedClass for the key "uuid" (which is a String in our CoreData Model)

`Class attributedClass = NSClassFromString([attributeDescription attributeValueClassName]);`

returns NSString (correct). If I run the same exa

[2018-06-05 15:22] saraseif opened #509 "Taking Coredata related operations off main thread"
Hello guys!

According to best practices, it is better to do heavy Coredata operations in the background, not to cause any possible performance drops, or UI blocks.

I feel like you are doing some database access in the main thread:
Class: Helper, function: fetchEntity, is calling displayBlogSelector which is fetching an object from mainContext
Class: Fetcher, function: fetchLocalUsers

and also i

[2018-06-08 14:09] mariusschoenefeld opened #510 "Sync is syncing but does nothing"
I guess configured everything like in the guide, but sync won't actually sync my data.

[code]

I attached my Core data model.

The code I am using is this:

[code]

Its printing an empty array.

[2018-06-09 14:57] 3lvis commented on #508
Should be working now https://github.com/3lvis/Sync/pull/511

[2018-06-09 14:57] 3lvis commented on #508
:)

[2018-06-09 14:58] 3lvis commented on #508
Thanks for your patience and let me know how it goes 🔥

[2018-06-09 15:00] 3lvis commented on #509
Hi @saraseif!

My recommendation is *never* do calls from the main thread. Another recommendation is: use NSFetchedResultsController when possible. I've got a nice wrapper that should simplify things. https://github.com/3lvis/datasource

Let me know if I can clarify anything and have a great day! :)

[2018-06-09 15:01] 3lvis commented on #510
Hi @mariusschoenefeld,

My guess is that the primary key hasn't been configured properly. Check the PrimaryKey section on the README for more information: https://github.com/3lvis/Sync#primary-key

Let me know if this doesn't solve your problem and I'll dig into it.

[2018-06-11 05:55] rajtharan-g commented on #479
Im closing the issue as it got solved in the above pull request.

[2018-06-11 05:55] #479 closed

[2018-06-13 11:40] mariusschoenefeld commented on #510
Hey  @3lvis,

sorry for the delay. I think I configured everything right. I added my data model below:
![bildschirmfoto 2018-06-08 um 16 07 09](https://user-images.githubusercontent.com/17689671/41349182-5b93781c-6f0f-11e8-9712-0777917f9793.png)

[2018-06-14 07:48] bhallamohit opened #513 "Dynamic key at runtime from JSON"
Hi

Is there any way to handle , key which changes as per response from API?

                         }
                                },
                                "responses": {
                                    **"730476"**: { // this is a id of model that will be different for each model.
                                        "skipIf": false
                                    },

[2018-06-18 06:20] 3lvis commented on #513
Hi!

Sadly not, you would have to preprocess the JSON so the key is static. You could also save the entire responses as data then convert it into a dictionary.

[2018-06-27 15:46] palla89 commented on #508
Hi! Sorry for the delay. We tried now the fix but unfortunately the result is maybe worse than before xD
Now it doesn't works also in 9.2, when I check the result after the hyp_fill function, the 'uuid' in 9.2 is now uuid = "(...not nil..)" and then It crashes (before it worked) while if I try on newer XCode version, the uuid after the hyp_fill is just nil once again :(

We really can't understand

[2018-06-28 11:56] arasu01 opened #514 "Relation object not parsing."
[code]

I'm receiving response as above. When trying to use sync, objects under "itens" array are not saving in core data.

![screen shot 2018-06-28 at 5 25 41 pm](https://user-images.githubusercontent.com/6689319/42032770-521711f0-7af8-11e8-9026-be511d53653c.png)

Please let me know how to fix it.

[2018-06-28 14:07] palla89 commented on #508
I think the problem could be in this piece of code:

[code]

The variable attributedClass is still nil when try to read uuid class.
This code is in "NSManagedObject+PropertyMapperHelpers.m" file.

Hope this helps to resolve the issue.

Thank you!

[2018-07-04 08:15] 3lvis commented on #508
Hi Alberto!

It works fine in the unit tests so there might be something different in your scenario. Could you check the unit tests added in https://github.com/3lvis/Sync/pull/511/files or if possible, isolate your issue so I can find what the problem is?

[2018-07-04 08:17] 3lvis commented on #514
Hi @arasu01,

It's most likely a naming issue. I'll see if I can find some time to reproduce this but you might want to check the README for how to handle camel case vs snake case.

[2018-07-04 08:40] palla89 commented on #508
We'll try to isolate the issue and let you know, but we are really struggling to understand why it used to work with the 9.2 flawlessly and with the minor 9.3 Xcode upgrade, without any other code change, it stopped to work. It's really a mystery to us

[2018-07-05 12:20] 3lvis commented on #508
What about Xcode 9.4?

[2018-07-05 12:41] palla89 commented on #508
Same thing with 9.4 :(

[2018-07-12 06:11] patriksharma commented on #510
same happening to me. its coming NIL , did you find any solution @mariusschoenefeld

[2018-07-19 05:34] arrchhy commented on #510
this is frustrating. Error is nil though nothing is written into Core Data.

[2018-07-19 05:36] patriksharma commented on #510
@arrchhy I have solved it. You need to set sync.remotekey as suggested above. Make sure your remote key name should be same as coming from API

[2018-07-19 05:55] arrchhy commented on #510
Okay I solved it by reading the demo source. the context in sync is `self.dataStack.viewContext` and not the one you normally set up in your app delegate. would have been nice to mention this in readme.

[2018-07-19 09:19] 3lvis commented on #510
Hi @arrchhy! Looks like your issue was different than the remote key. Could you expand a bit so I can add it to the README?

Thanks 🙏

[2018-07-19 18:10] himu243 opened #515 "Issue in Syncing Large Data"
Im fetching large response  data from service call. Service is sending response in pages and in one page, there is 5000 records. I ve applied the logic in such a way that while device is fetching data from page 2, data of page 1 is getting saved using **dataStack.sync** . But, when i see the database, data of page 1 is missing and is saved only pages 2 and 3.
![screen shot 2018-07-19 at 11 38 00 p

[2018-07-20 10:11] arrchhy commented on #510
@3lvis oh I was just using the wrong viewContext. I had had already a coredata layer in the app (initalised in app delegate). I had the misconception that Sync shared the same context as my existing core data layer.

[2018-07-20 10:13] arrchhy commented on #510
@3lvis By the way thanks man for such awesome library! 💪💪💪💪
It's super good  👍

[2018-07-20 10:42] 3lvis commented on #510
I see! I'm glad you got it working. Have an epic weekend 🎉

[2018-07-20 10:42] #510 closed

[2018-07-20 12:42] 3lvis commented on #515
Hi @himu243! To get some inside in how Sync works you can refer to the following guide: https://github.com/3lvis/Sync/blob/master/docs/how-it-works.md

Basically, what is happening is that Sync compares your JSON against your Core Data items, then it makes a diff and deletes, inserts and updates the relevant items. In your case the new JSON is comparing your items from the first page, since they a

[2018-07-20 20:46] 3lvis commented on #490
Fixed in https://github.com/3lvis/Sync/pull/494

___
###### Like Sync? Don't forget to support this and other projects in [Patreon](https://www.patreon.com/3lvis)!

[2018-07-20 20:46] #490 closed

[2018-07-22 02:59] MattiasBurstrom opened #520 "No update with operations"
I'm not seeing any updates when specifying only [.insert, .update] operations. When calling to just sync entity with the array of data it deletes everything and insert the new ones... so if I call for a subset of data from the remote and just want to update the existing records and keep the rest, it deletes everything and only the subset is inserted. How can I update just some records and keep the

[2018-07-23 08:37] 3lvis commented on #520
Hi! I think the issue could be related that now there's

[code]

[2018-07-23 08:41] 3lvis commented on #513
Closing since this feature at the moment doesn't form part of Sync's plans.

[2018-07-23 08:41] #513 closed

[2018-07-23 08:41] 3lvis commented on #509
Closing since the issue appears to be resolved.

[2018-07-23 08:41] #509 closed

[2018-07-24 00:20] jimijon opened #521 "Where did my sql files go?"
self.dataStack = DataStack(modelName: "GF-Model", bundle: Bundle.main, storeType: .sqLite, storeName: "NFDB-6.0")

I used to see them in my Document directory but now they are gone.

NSSearchPathForDirectoriesInDomains(.documentDirectory, .userDomainMask, true).last! as String

4.1.3 --> 4.2 broke this

[2018-07-24 09:06] 3lvis commented on #521
@jimijon damn, I think I found the issue v

[2018-07-24 09:48] 3lvis commented on #521
Hi James, I've made a new release please let me know if this fixes your issue.

https://github.com/3lvis/Sync/releases/tag/4.2.1

Also in order to make the tests run in the CI I had to switch between caches folder and documents folder so might be better if you could use 	`FileManager.sqliteDirectoryURL`.

Fix for CircleCI here: https://github.com/3lvis/Sync/pull/518/files

[2018-07-24 13:44] jimijon commented on #521
It’s back! Thanks for the prompt fix.

[2018-07-24 20:13] #521 closed

[2018-07-31 09:30] himanshuNetsol opened #523 "Converting back to JSON"
Hi,
Can we convert back from Core Data model object to JSON Dictionary using Sync?

[2018-07-31 09:54] 3lvis commented on #523
Hi @himanshuNetsol!

Yes, you can! Check https://github.com/3lvis/Sync#json-exporting.
___
###### Like Sync? Don't forget to support this and other projects in [Patreon](https://www.patreon.com/3lvis)!

[2018-07-31 09:54] #523 closed

[2018-07-31 21:21] himanshuNetsol opened #524 "Crashing on Exporting model having a To-Many relationship"
I have two Core Data models, having To-Many relationship and inverse relation as well. Whenever, im trying to export the model, its getting crashed. Can u pls help me out with this?
Thanks
![screen shot 2018-08-01 at 2 45 12 am](https://user-images.githubusercontent.com/37396038/43487948-ccedcab6-9535-11e8-8201-184e99c30271.png)

[2018-08-01 07:38] 3lvis commented on #524
Hi! Could you please share your data model and your JSON so I can reproduce the issue?

[2018-08-01 09:08] himanshuNetsol commented on #524
Hi, Can u please share ur email id so that i can share resources with u??
Thanks

[2018-08-01 10:09] 3lvis commented on #524
@himanshuNetsol elvisnunez@me.com

[2018-08-02 06:59] 3lvis commented on #524
Got your files! I'll look into it when I get some time :)

[2018-08-04 18:49] himanshuNetsol commented on #524
Sure.. Thanks

[2018-08-07 11:53] fshbn commented on #524
Same here.

[2018-08-07 11:58] 3lvis commented on #524
Damn.

[2018-08-07 11:58] 3lvis commented on #524
I'll try to set some time aside today to get to the bottom of this.

[2018-08-07 12:37] himanshuNetsol commented on #524
Also, when im trying to sync large batch of data using  **dataStack.sync** , data  to-many relationship is not getting saved in the database. Only the data in master table is getting inserted. Im using these options :
        dataStack.sync(dataArray, inEntityNamed: table.rawValue, operations: [.insert, .update, .insertRelationships, .updateRelationships])
But, when i make an entry with  dataStack

[2018-08-08 13:26] himanshuNetsol commented on #524
@3lvis . Can i get any possible help on above? :-)

[2018-08-10 07:37] 3lvis commented on #524
@himanshuNetsol From your model I can see two things, your relationship is called "cakeOrder" but is a to-many, should it be a to-one? Also you are using "customerId", "storeLocationId" and so on when Sync expects "customerID" and  "storeLocationID" for example. "ID" instead of "Id".

[2018-08-10 07:50] himanshuNetsol commented on #524
hi @3lvis , Thanks for u time and reply. Yes, agree, But i'm using **sync.remoteKey** for all those cases , and providing their respective remote keys . Should'nt it make a difference??

[2018-08-10 07:52] himanshuNetsol commented on #524
And, cakeOrder in an array , and should'nt it be a to-many relationship?

[2018-08-10 07:59] 3lvis commented on #524
Changed orderId to just id and seems like it works https://github.com/3lvis/Sync/pull/525

[2018-08-10 08:00] 3lvis commented on #524
<img width="494" alt="screen shot 2018-08-10 at 09 59 59" src="https://user-images.githubusercontent.com/1088217/43945969-26c75cf0-9c84-11e8-9849-83e5853415fe.png">

[2018-08-10 08:00] 3lvis commented on #524
@fshbn Could you please make a separate issue with your JSON file and Core Data model to see if I can reproduce it?

[2018-08-10 10:31] 3lvis commented on #524
@himanshuNetsol Hi, I'm having a hard time reproducing your issue, I'm going to need an isolated project so I can inspect the problem. Could you help me with that?

[2018-08-10 10:32] 3lvis commented on #520
Closing for lack of feedback.

[2018-08-10 10:32] #520 closed

[2018-08-10 10:32] 3lvis commented on #508
Closing for lack of feedback.

[2018-08-10 10:32] #508 closed

[2018-08-10 10:32] 3lvis commented on #515
Closing for lack of feedback.

[2018-08-10 10:32] #515 closed

[2018-08-15 21:46] himanshuNetsol commented on #524
Hi @3lvis , It worked on Changing the name from orderId to Id. Also, i've to change the relationShip table's primary key name from rawCakeId to id. The Relationship is getting filling up. Haven't tested export() though after changing.

[2018-08-16 05:40] 3lvis commented on #524
@himanshuNetsol that's good news!

[2018-08-16 06:32] himanshuNetsol commented on #524
Yeah.. Indeed .. Thanks to you.. Also, i'll get back to u after completely testing export()

[2018-08-16 12:58] Lailan commented on #359
Thanks @jovito-royeca
This reply solved to me too!

[2018-08-19 12:46] 3lvis commented on #359
I'll double check the issue with the ordered relationship but in general Sync works better with not ordered since that's what I use :(.

[2018-08-19 12:46] #524 closed

[2018-08-19 12:46] 3lvis commented on #524
🎉

[2018-08-23 08:07] Konrad77 commented on #497
Tried latest version (4.2.1) but one to many doesn't work in that version. Downgraded to 4.0.3 again and it worked like a charm.

[2018-08-23 13:29] aman198 opened #526 "How to fetch complete list of data from Any Table(Entity)"
s
This the code what we are using to fetch specific id Data.

 let value =   try self.appDelegate.dackStack.fetch(6, inEntityNamed: "User")
 We want to fetch all data inside that Table ("User")

[2018-08-23 15:35] rebe1one commented on #497
Looks like in the [4.1.0](https://github.com/3lvis/Sync/releases/tag/4.1.0) some specific relationship options were added, and @TonyNikolov you're syncing with only [.insert, .update] but you need to add .insertRelationships and .updateRelationships as well in order for the entities to be properly linked.

[2018-08-23 20:51] 3lvis commented on #497
I can see how that should have been a breaking change. My bad.

[2018-08-23 20:56] bilics commented on #520
Hi!

How do I use these options with Objective C ?

Thanks!

[2018-08-23 20:58] 3lvis commented on #520
@bilics We don't have Objective-C support for that, but you can create a Swift extension for your class and have the Swift method there, then it will work fine :)

[2018-08-23 21:01] bilics commented on #520
Thanks @3lvis!

I am kinda new to this... can you give me some pointers or tutorials so I can dig through ?

Thanks again

[2018-08-23 21:04] 3lvis commented on #520
Mmm, I don't know if any tutorials for this but..

MyClass.m

[code]

### MyClass.swift
[code]

[2018-08-23 21:10] bilics commented on #520
Thanks!! I will go from here and post back if I find any problems.

[2018-08-23 21:33] 3lvis commented on #526
The fetch method is properly documented but you could also check the FetchTests for an idea on how to use it.

<img width="541" alt="screen shot 2018-08-23 at 23 33 00" src="https://user-images.githubusercontent.com/1088217/44553154-e4926880-a72c-11e8-82e7-e636c999633c.png">

https://github.com/3lvis/Sync/blob/master/Tests/Sync/FetchTests.swift

[2018-08-23 21:43] 3lvis commented on #497
I know it's a bit late but I think it's the right thing to do. If you update to 4.3.0 you'll get the same functionality as before 4.1.0 plus all the bug fixes that happened after this.

If you want the new functionality you'll have to jump to 5.0.0.

# Release notes for 4.3.0
https://github.com/3lvis/Sync/releases/tag/4.3.0

# Release notes for 5.0.0
https://github.com/3lvis/Sync/releases/tag/5.0.

[2018-08-23 22:41] crock opened #528 "Cannot load underlying module for 'Sync'"
I have added Sync to my Podfile and installed it successfully or so I thought.
[code]

[2018-08-24 05:42] 3lvis commented on #528
Hi @crock!

It's working for me, I think cleaning and destroying DerivedData might be helpful.

I made a CocoaPodsTest repo for you to check out:
https://github.com/3lvis/Sync/pull/529

Let me know if this helps and have a nice day! :)

[2018-08-24 07:28] 3lvis commented on #507
I believe this was fixed as in 4.2.0: https://github.com/3lvis/Sync/releases/tag/4.2.0

[2018-08-24 07:28] #507 closed

[2018-08-24 07:29] 3lvis commented on #505
Closing since this isn't part of the roadmap at the moment, but thanks for your feedback @petkrein! Happy to help in anything else.

[2018-08-24 07:29] #505 closed

[2018-08-24 07:30] 3lvis commented on #495
Works fine for me, did a fresh install and everything seems to be working.

https://github.com/3lvis/Sync/pull/529

[2018-08-24 07:30] #495 closed

[2018-08-24 07:46] 3lvis commented on #503
Hi @Arvoreniad,

Sorry for the realllllyyyy long wait, but yes, I think this is something we could actually do, I'll close the PR for now if you are still interested on it, I'll be happy to revisit.

[2018-08-24 07:46] #503 closed

[2018-08-24 07:47] 3lvis commented on #500
Difficult part here is that we don't handle notifications that's done by Core Data, if you have any other suggestions I'll be happy to look at it. <3

[2018-08-24 07:47] #500 closed

[2018-08-24 07:48] 3lvis commented on #528
Closing for now, let me know if this is still an issue.

[2018-08-24 07:48] #528 closed

[2018-08-24 07:48] 3lvis commented on #497
Closing for now, let me know if this is still an issue.

[2018-08-24 07:48] #497 closed

[2018-08-24 07:48] 3lvis commented on #526
Closing for now, let me know if this is still an issue.

___
###### Like Sync? Don't forget to support this and other projects in [Patreon](https://www.patreon.com/3lvis)!

[2018-08-24 07:48] #526 closed

[2018-08-24 07:49] 3lvis commented on #504
Closing for now, let me know if this is still an issue.

[2018-08-24 07:49] #504 closed

[2018-08-24 07:49] 3lvis commented on #498
Closing for now, let me know if this is still an issue.

[2018-08-24 07:49] #498 closed

[2018-08-24 07:49] #496 closed

[2018-08-24 07:49] 3lvis commented on #483
Closing for now, let me know if this is still an issue.

[2018-08-24 07:49] #483 closed

[2018-08-24 07:50] #487 closed

[2018-08-24 08:13] Jonge commented on #500
I understand. Well the notifications are sent every time you `save()` the main context. In theory, we should merge to the main context and `save()` it only after syncing all objects.

However, DataStack uses notifications and merges to main context on every background context save, and I don't see an easy way to change that currently.

[2018-08-24 08:18] 3lvis commented on #500
The problem with not saving is the relationships, you saw how the tests break when you stop saving...

[2018-08-24 08:31] Jonge commented on #500
Yes, I know. :(

Sorry I only have theoretical knowledge here, but it should be possible to have an "intermediate" context, fetch and update the relationships there, then merge into main context. But again, doesn't seem easy to do with the notifications merging it into main context every time.

I might try looking at this in-depth, mainly how the relationships are fetched and updated.

[2018-08-24 09:06] 3lvis commented on #500
The main challenge right now with not merging is many-to-many. If you don't merge when you get to the many-to-many operation then Sync doesn't know about the new relationships so it doesn't work. In theory we could potentially see if there's a many-to-many operation involved and if not then avoid merging until the very end.

[2018-08-24 15:33] agottardo commented on #507
Yes, indeed. Thanks!

[2018-09-03 15:23] DennisKragekjaer opened #530 "Usage, how to"
Hi.

Im new to Sync, love Sync, and all seemed to work fine for my use case, but then my use case changed to this:

User logs in, getting data from server and mapping to core data model, all good. He then changes som data, and then maybe log out.

He later logs in again, getting data from server again.

I'm a little confused on how to use Sync in this scenarium: I want to keep the old changes of d

[2018-09-08 17:56] #530 closed

[2018-09-09 08:01] 3lvis commented on #530
Sorry for not replying before Dennis, I hope you figure it out.

[2018-09-11 12:39] dneykov opened #531 "Performance issue when syncing"
Hi,

I'm using Sync for dropdowns in a form. I have about 15 fields and the relations are the options about 12k-15k. When sync process starts memory jumps to 500-600MB and takes few minutes. I'm wondering if this is Core Data problem or I can do something to speed it up.
Response that I get is not that big is about 900KB and response time is 1.5-2 seconds but Syncing is very slow.
I'm using Sync i

[2018-09-11 12:43] 3lvis commented on #531
Hi @dneykov,

When performance is an issue, I would advise you to try a solution closer to your problem instead of Sync, sadly Sync trades convenience for performance, I have tried to make it more performant but I think I have reached the point where more performance will come at the cost of maintenance.

[2018-09-11 12:55] dneykov commented on #531
Hi @3lvis,

Thanks for your quick reply. Sync is great library. Can you give me any advise how can I achieve that? Will be better if I iterate over my response and insert everything manually?

[2018-09-12 19:46] bonebox opened #532 "Crash when converting some ISO8601 date strings"
After updating to `5.0.0` (from `4.0.3`) my app started crashing with the below stack trace. I traced it back to Sync when it attempts to convert an ISO8601 date string that has a 2 decimal place millisecond precision, ie. `2017-12-22T18:10:14.07Z`.  If the string has a 3 decimal place millisecond precision it works as intended, ie. `2017-12-22T17:51:01.104Z`.

[code]