[2015-03-03 08:19] kostiakoval opened #14 "Add model naming convention to readme"
- Property naming: `id` and `remoteID`
- Parent children Relationship naming: 'notes' and 'parentNote` or just `note`

[2015-03-03 08:48] NSElvis commented on #14
@kostiakoval It's there https://github.com/hyperoslo/Sync#nsmanagedobject-hyppropertymapper

I think relationships and inverse can be named in any way, can't remember adding a convention for that

:)

[2015-03-03 08:52] kostiakoval opened #15 "Add ability to sync object with custom property names"
![screen shot 2015-03-03 at 09 51 39](https://cloud.githubusercontent.com/assets/1086260/6459048/eb1bba20-c18a-11e4-9344-dd6a17d13577.png)
I would like to be able sync JSON to this Person object with custom properties names
children ->> Person (to many of type Person)
parents ->> Person (to many of type Person)

[2015-03-03 08:58] kostiakoval commented on #14
@NSElvis  It seams like not.
You are using  relationship.name as Entity name. so if I name my relationship
`bigNumber` instead of `number` it wont parse it, because it will look for Entity `Bignumber`

[code]

[2015-03-03 09:00] NSElvis commented on #15
So a `child` has many `parents` (but it's a person) and a `parent` has many `childs` (he's also a person).

How would you represent this on a JSON? Something like this?

[code]

[2015-03-03 09:07] kostiakoval commented on #15
yes like that + parents, similar to children
[code]

[2015-03-03 09:13] NSElvis commented on #15
@kostiakoval Thanks :) I'll take a look

[2015-03-03 09:14] kostiakoval opened #16 "Sync is crashing when syncing children JSON to Object with not existing relationship"
I have a Model with many Relationship. In the JSON I have a simpler model without all relationship

When I Sync numbers, it crashes because trying to set Parent `unit` property on Number (unit is relationship to OrganizationUnit, but I don't want to sync organisations here, just numbers)

Model Example :
![screen shot 2015-03-03 at 09 12 52](https://cloud.githubusercontent.com/assets/1086260/64585

[2015-03-03 09:14] kostiakoval commented on #16
It was hard to describe that problem :(

[2015-03-03 09:16] kostiakoval commented on #15
I mean it's always nice to give declarative names for properties like parents, children, etc not just it should be the same as Entity name

[2015-03-03 09:16] NSElvis commented on #16
@kostiakoval thanks for adding the JSON and the model, both help a lot to reproduce the issue. Maybe this should be a requirement in our contribution guidelines.

You are *awesome* :star2:

[2015-03-03 09:26] NSElvis commented on #14
@kostiakoval Oh, understood. I'll verify and update the readme.

[2015-03-03 09:29] NSElvis commented on #15
Totally agree :+1:

[2015-03-03 12:19] #16 closed

[2015-03-05 06:56] NSElvis opened #19 "Add new demo based on Designer News"
Main endpoint:
https://news.layervault.com/?format=json

- [x] Show posts
- [x] Show comments for a post

[2015-03-19 13:21] kostiakoval opened #21 "Update DATAStack to 3.0.0"

[2015-03-19 13:58] #21 closed

[2015-03-19 14:04] kostiakoval commented on #15
This one should be working now with latest fix

[2015-03-19 14:07] NSElvis commented on #15
Awesome!

[2015-03-19 14:11] kostiakoval commented on #15
I would prefer to ass test maybe for that?

[2015-03-19 14:11] #15 closed

[2015-03-19 14:15] NSElvis commented on #14
@kostiakoval I wonder if this is fixed too

[2015-03-19 14:30] kostiakoval opened #23 "Add support for custom mapping in relationships"
Is seams like it crashing now

[2015-03-19 14:34] NSElvis commented on #23
It's not :) Only possible for attributes

[2015-03-19 14:35] kostiakoval commented on #23
failed: caught "NSInvalidArgumentException", "-[NSRelationshipDescription attributeValueClassName]: unrecognized selector sent to instance 0x7bf662c0"

![screen shot 2015-03-19 at 15 35 10](https://cloud.githubusercontent.com/assets/1086260/6732664/9481f1a0-ce4d-11e4-8dc6-c9e59e124dc8.png)

[2015-03-19 14:37] kostiakoval commented on #14
@NSElvis  but this one was changed in lat PR, so it's not valid anymore.
Just close this one

[2015-03-19 14:38] NSElvis commented on #14
ok :)

[2015-03-19 14:38] #14 closed

[2015-03-19 14:38] kostiakoval commented on #14
`unit` -> maps properly to `OrganizationUnit` now
![screen shot 2015-03-19 at 15 37 31](https://cloud.githubusercontent.com/assets/1086260/6732720/e988f7a2-ce4d-11e4-854d-589c64a657ea.png)

[2015-03-19 14:41] NSElvis commented on #14
sweet

[2015-03-24 21:00] RamonGilabert opened #26 "URL example in README"
When you tap in the link 'see another example' it takes you to a 404 page, the link should be:

https://github.com/hyperoslo/Sync/blob/master/Examples/AppNet/Example/Networking.m#L41

Now it's: https://github.com/hyperoslo/Sync/blob/master/Example/Example/Networking.m#L41

[2015-03-26 15:55] NSElvis commented on #26
Fixed

[2015-03-26 15:55] #26 closed

[2015-03-26 23:02] NSElvis opened #30 "Support items that don't have a `id`"
Some JSON items don't provide an `id`, for example a Comment in Designer News API

https://news.layervault.com/?format=json

Any ideas on what would be the best way to approach this?

[2015-03-26 23:03] NSElvis commented on #30
I thought you could use concatenated attributes as a key.

For example `body + created_at` could be a key since joining them makes it "unique"

[2015-03-27 06:55] NSElvis opened #31 "Support custom primary keys"
At the moment we are using `id` for a primary key but that's not the case for all the backends.

The idea is to support something like the custom mappers =>https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/2.9

So adding a `@{@"sync.primary_key" : @"YES"}` would treat the selected attribute as a primary key

Linked to => https://github.com/hyperoslo/NSManagedObject-HYPPro

[2015-03-27 06:57] NSElvis commented on #23
At the moment we are only supporting custom mapping for attributes.

The idea is to support relationships too =>https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/2.9

[2015-03-27 07:01] NSElvis commented on #23
Linked to => https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/52

[2015-03-28 09:26] NSElvis commented on #30
For now making `body` the primaryKey would do the job

https://github.com/hyperoslo/Sync/issues/31

[2015-03-28 09:26] #30 closed

[2015-03-28 09:26] NSElvis commented on #19
Fixed! https://github.com/hyperoslo/Sync/tree/master/Examples/DesignerNews

[2015-03-28 09:26] #19 closed

[2015-03-30 18:18] RamonGilabert commented on #31
This was fixed here: #33 :dancers:

[2015-03-30 18:18] #31 closed

[2015-04-01 17:40] RamonGilabert opened #35 "Add support for custom mapping in relationships"
https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/52

[2015-04-01 17:42] #35 closed

[2015-04-01 23:01] 3lvis commented on #23
Fixed by @RamonGilabert on https://github.com/hyperoslo/Sync/pull/36

[2015-04-01 23:01] #23 closed

[2015-04-01 23:05] 3lvis opened #37 "Rethink API"
I've been wondering what if we changed the API to something more simple.

# New
[code]

# Old
[code]

[2015-04-02 08:01] jgorset commented on #37
Coming from Ruby, I like how the old one reads like a sentence. Maybe you could still do that with less verbosity, though.

[2015-04-02 08:02] jgorset commented on #37
Actually the first argument of the proposed syntax reads better (`Sync changes [...]`), but the second worse (`[...] entityName`).

[2015-04-02 08:03] jgorset commented on #37
So I'm totally bad at this, but what about…

[code]

[2015-04-02 08:06] jgorset commented on #37
Hell, if DATAStack does what I think it does, what about…

[code]

…? Too crazy?

[2015-04-02 08:13] 3lvis commented on #37
That's very Swift of you, we should totally change the API once we make a Swift bridge.

[2015-04-02 08:14] jgorset commented on #37
So ahead of my time, you know. ;-)

[2015-04-02 09:37] 3lvis opened #38 "Improve Core Data User Info keys"
We should add more consistency in our Core Data User Info keys, taking some inspiration from mogenerator we could do something like this => https://github.com/rentzsch/mogenerator/wiki/Core-Data-User-Info-Keys#attribute-key-value-pairs

##### Right now we have:

[code]

##### We could have:

[code]

[2015-04-02 15:46] #38 closed

[2015-04-02 15:53] RamonGilabert commented on #37
What about

[code]

[2015-04-02 16:40] 3lvis commented on #37
@RamonGilabert I like that!

[2015-04-02 16:46] RamonGilabert commented on #37
@3lvis I was thinking in adding just `changes inEntity dataStack` (or just stack) the user will see the placeholder saying, `entityName` so I think they'll know what to put.

[2015-04-02 17:04] 3lvis commented on #37
@RamonGilabert I haven't choose that direction because of NSEntityDescription, in a Core Data context when you say entity most of the time you are referring to a `NSEntityDescription` instance.

We could go for

[code]

[2015-04-02 17:05] RamonGilabert commented on #37
All right, let me finish a small surprise and I'll go for it! :dancers:

[2015-04-02 21:06] 3lvis commented on #37
Fixed on #40!

Thanks @RamonGilabert :star2:  :bouquet: :star2:

[2015-04-02 21:06] #37 closed

[2015-04-03 18:50] RamonGilabert opened #42 "Add support for UICollectionView"
Right now we only have support for UITableView, right?

[2015-04-03 22:41] 3lvis commented on #42
It doesn't matter what you use, this only saves into Core Data.

[2015-04-03 22:41] #42 closed

[2015-04-06 07:50] RamonGilabert opened #45 "Possibility to save the image completely"
Right now, we're saving the URL of the image, maybe someone wants to save all the image, for some user case, like doing a ProfileImage, and you don't want to network all the time.

I was thinking in a UserInfo key, `hyper.saveDataImage`, or something like that.

I guess the best explanation would be, process the image if the user wants to.

[2015-04-06 08:44] 3lvis commented on #45
It's an interesting idea, and probably would make this process a bit easier.

But downloading images should be done only when the user needs it, otherwise you'll end up storing a huge amount of images, using a lot of phone power for nothing.

The best way to download images in a UITableView for example is to start the download as soon as the user sees the view, and start the download only for the

[2015-04-06 08:50] RamonGilabert commented on #45
Right, but what about if we want to save the data of an image, as I said, a profile image for example, it would be like

[2015-04-06 09:00] 3lvis commented on #45
This could be a different project, might be better if we keep Sync with dates, strings and numbers.

:)

[2015-04-06 09:00] #45 closed

[2015-04-07 12:40] 3lvis opened #49 "Screencast"
I was thinking on making a screencast on how to make a Designer News client under 10 minutes using **Sync**.

- Create Xcode project (`Swift` + `Core Data`)
- Add `Podfile` (`Sync` + `DATASource` + `Networking`), run `pod install`
- Hook up TableView with `DATASource`
- Call `Sync` from the `ViewController`
- PROFIT

What do you guys think?

[2015-04-07 12:41] kostiakoval commented on #49
This would give huge buff!!  Great idea!

[2015-04-07 14:33] RamonGilabert commented on #49
I'll do it! :P

[2015-04-07 14:36] 3lvis commented on #49
@RamonGilabert I'm already on it :stuck_out_tongue:

[2015-04-07 17:25] RamonGilabert commented on #49
@3lvis awesome :)

[2015-04-08 08:52] zenangst commented on #49
:star2:

[2015-04-08 20:21] jgorset commented on #49
I'd watch this!

[2015-04-10 19:08] RamonGilabert opened #51 "Integrate networking"
I was thinking today, all the classes of the networking part are pretty similar if you use Apple's networking, so I was thinking in adding a method that let you just type Sync from that URL into this entityName, so the user, in the same ViewController for example, can just type:

[code]

Then we would do all the requests and stuff! :)

[2015-04-10 19:11] RamonGilabert commented on #51
Right, in the JSON you need which key it's going to contain your dictionary, so I guess the method would add a line: `withKeyInJSON:` or something.

[2015-04-10 20:21] 3lvis commented on #51
I really like how you think but sadly this spans over the scope of Sync.

But this seems like a wonderful idea for a project on top of what we have!

[2015-04-10 20:21] #51 closed

[2015-04-13 09:15] skywinder opened #56 "MagicalRecord integration"
Hi. Did you try to combine your project with [MagicalRecord](https://github.com/magicalpanda/MagicalRecord)?

I see, that it closely integrated with `DATAStack` and it seems, like quite bit different way to manage with  Core Data, than `Magical Record` implementation.

MR use simple method:
[code]
for initialisation of DataStack)

Is there any way to integrate `Sync` with `MagicalRecord`?

[2015-04-13 09:22] 3lvis commented on #56
Hi @skywinder, interesting thought, at the moment MagicalRecord and DATAStack clash and they couldn't live together.

Could be interesting to replace DATAStack with MagicalRecord thought.

We'll make a pros and cons list and think about it.

Personally I think MagicalRecord it's a pretty massive dependency that I would rather not have.

[2015-04-13 10:04] 3lvis commented on #56
@skywinder Any reason why you would prefer MagicalRecord over DATAStack?

[2015-04-13 10:31] skywinder commented on #56
According:
- [NShipster reference](http://nshipster.com/core-data-libraries-and-utilities/)
- According GithubStars
- A lot of references to it over the internet.

I tend believe that this most common "Core Data wrapper".
And a lot of apps already use it in their apps
As a particular case: I would like to use, `Sync` in my app too, but have no idea, how to integrate it with my project, that use Ma

[2015-04-13 10:35] 3lvis commented on #56
@skywinder Interesting points :point_up:

[2015-04-13 19:11] bmnick opened #58 "Custom primary keys with custom remoteKey values cause incorrect sync behavior"
When an attribute of an entity has both hyper.isPrimaryKey and hyper.remoteKey defined, an incorrect value is used for fetching existing objects from the database. -[NSEntityDescription(Sync) sync_remoteKey] doesn't take the hyper.remoteKey property into account.

For example, in my use case, I have a local property "imageId" and a remote JSON property for the primary key of "ImageId". I have "Ima

[2015-04-13 19:15] 3lvis commented on #58
Hi Ben!

Thanks for reporting this issue, I'll see if I can reproduce it.

Is there any reason why you would need to use `imageId` instead of the default `remoteID`?

[2015-04-13 19:17] bmnick commented on #58
Nope, no particular reason for the naming on the local side, that's just what was used when I wrote the original data layer.

[2015-04-13 19:21] 3lvis commented on #58
Fair enough :grin:

[2015-04-13 19:30] bmnick commented on #58
I've got a partially complete fix locally, let me polish it up a bit and I can send over a PR.

[2015-04-13 19:38] 3lvis commented on #58
@bmnick fantastic! Would be great to hear what do you think about us uppercasing acronyms? Looks like you use `imageId` while we use `imageID`.

https://github.com/hyperoslo/NSString-HYPNetworking#acronyms

[2015-04-13 19:49] bmnick commented on #58
I'm not opposed to either case style. Convention here at work is for objectId, but I believe that objectID is more conventional in Cocoa/Cocoa Touch overall. Downsides of working at a primarily non-iOS shop... :confused:

[2015-04-13 20:16] 3lvis commented on #56
Hi Petr! At the moment we will keep only supporting `DATAStack` it's pretty lightweight and it fits our needs.

We will reconsider it if we get more requests.

`DATAStack` [provides a simple way to create a Core Data stack](https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.h#L23), if there's anything you miss from MagicalRecord let us know and we could collaborate into make it more a

[2015-04-13 20:16] #56 closed

[2015-04-13 20:17] #58 closed

[2015-04-13 21:52] 3lvis commented on #58
@bmnick Does your JSON looks like this?

[code]

[2015-04-14 10:01] risp opened #62 "Attribute to skip syncing"
Would it be possible to add an attribute to an entity and based on the value the changes are not synced?

This is very useful in an app where you want to support offline usage. For example: If the user is makes changes to an object but the app has no internet connection, his changes are saved in core data. Now when he does a pull to refresh his changes will be overwritten. If there would be such a

[2015-04-14 10:09] 3lvis commented on #62
Hi Bart!

We'll add this to the README, but today you can achieve what you just mentioned by supplying a `NSPredicate`.

So for example you could say "Sync Users excluding offline ones".

[code]

Here your Users that have the `isOffline` flag set to `YES` will be skipped.

I hope this was helpful to you :)

[2015-04-14 10:09] #62 closed

[2015-04-14 10:13] 3lvis opened #63 "Improve README with NSPredicate usage"
Add a section explaining how to Sync some elements while excluding others. Related to #62.

You can exclude a few elements to be synced by providing a NSPredicate.

[code]

[2015-04-14 10:13] risp commented on #62
Great just what I was looking for! Thanks

[2015-04-14 10:14] 3lvis commented on #62
:tada: :smile: :tada:

[2015-04-14 16:32] risp opened #64 "Foreign key relationship"
Hi guys,

Really like this pod so far, nice work! I was wondering if foreign key relationship is supported. Say you have this json:

[code]

where the category would be a relation to a category and the teamMemberIDs a relation to multiple users.

[2015-04-14 16:37] 3lvis commented on #64
Hi @risp!

Yes we have support for that but your JSON would have to look a bit different.

[code]

Then in your Core Data Model you'll have

Project ----- (to one)----> Category
Project ----- (to many)----> Member

[2015-04-14 16:38] 3lvis commented on #64
Is that what you meant?

Take a look at the Tests project, it has various Core Data entities supporting all sorts of combinations.

We also have all sorts of `JSON` files that could help you as examples

https://github.com/hyperoslo/Sync/tree/master/Tests/Tests

[2015-04-14 16:49] risp commented on #64
Thanks, I found the `Tests` project already and it helped a lot. But in this case we designed our API to use as less bandwidth as possible so therefore we are only sending the `id` instead of the `object`. Of course in this example the difference in bandwidth is small but when there are a lot of objects in the response it increases fast.  It would be really nice if this could be supported as well

[2015-04-14 16:54] benvium opened #66 "JSON Mapping for child objects"
My goal is to map JSON which looks like this..

[code]

.. to an NSManagedObject that looks like this:

[code]

.. So that I can sync it using your library (which is great by the way).

There's nothing useful at the 'a' and 'b' levels, so I don't really want to create relationships for them.

I tried putting:

[code]

.. into the xcdatamodel file, but no luck.

Any ideas? I suppose I could pre-pro

[2015-04-14 16:54] 3lvis commented on #64
Oh, I totally understand why this is build.

@risp I see, what do you use the ids for? You still have to ask for their data right?

I agree, this is a common use case. Lets see if we can find a way to support it in Sync :)

[2015-04-14 17:07] 3lvis commented on #66
Hi Ben,

You're right, at the moment Sync requires you to have a `primary key` per JSON object. It doesn't really have to be `id`, it can be anything but by default it tries to use `id`.

At the moment you'll have to preprocess the JSON in order for Sync to work.

I hope this was useful for you :)

[2015-04-14 17:07] #66 closed

[2015-04-14 17:07] benvium commented on #66
Ok, thanks for the response.

[2015-04-14 17:54] #63 closed

[2015-04-14 18:33] 3lvis commented on #64
Let me know how we can help :)

[2015-04-14 18:33] #64 closed

[2015-04-15 08:07] risp commented on #64
Yes, that's right. In my project, objects have a category, project, paymentMethod. When the user logs in I preload these all so that from then on IDs can be used instead of the object.

[2015-04-15 08:16] 3lvis commented on #64
I think you can still use `Sync` and in your main `JSON` just skip this IDs, and then when you get to the object detail you'll retrieve the JSON with the full details.

I might be wrong but let me know if we can improve Sync in a way the is more helpful for you. :)

[2015-04-15 11:53] salimos commented on #49
already waiting 💖

[2015-04-15 11:53] zenangst commented on #49
@salimos for Travis?

[2015-04-15 11:57] 3lvis commented on #49
Oh no! Is this going to be fill with :+1: too?!

[2015-04-15 13:37] pettersamuelsen opened #68 "Crash with nil localKey and remoteID"
I have a json structure that looks something like this:

[code]
`foo` is a seperate entity with no primary key. The `NSFetchRequest` crashes in `safeObjectInContext:entityName:remoteID:` due to nil comparison in the `NSPredicate`: https://github.com/hyperoslo/Sync/blob/master/Source/Sync.m#L147

[2015-04-15 13:56] 3lvis commented on #68
Hi Petter!

It's a requirement that all JSON objects have a `remoteID` if they have a matching Core Data model.

You could either add a `remoteID` to `foo` or mark `bar` as primary key by doing.

[code]

![d](https://raw.githubusercontent.com/hyperoslo/Sync/master/Images/custom-primary-key-v2.png)

[2015-04-15 14:02] #68 closed

[2015-04-15 14:03] 3lvis commented on #68
I hope this was helful!

[2015-04-15 15:05] salimos commented on #49
@zenangst  actually the Screencast :D

[2015-04-16 12:20] pettersamuelsen commented on #68
Thanks for the quick reply, Elvis!
Is it required for all entities to have a primary key by design or are you open for a PR that will fix this?

[2015-04-16 13:17] 3lvis commented on #68
PR would be awesome!

[2015-04-17 17:16] bonebox opened #73 "Core Data Relationships"
Are there any plans to have this support relationships and nested entities by recursing through the JSON?

[2015-04-17 17:29] 3lvis commented on #73
Hi @bonebox,

It already does this, take a look at the DesignerNews Example => https://github.com/hyperoslo/Sync/tree/master/Examples/DesignerNews

There we have posts that have a to-many relationship to comments. If something is not clear please let me know. :)

[2015-04-17 18:53] bonebox commented on #73
Hi @3lvis,

Thanks for the reply.  The first problem I had was with primary keys.  My Core Data primary keys are different than `remoteID`, so I added the `hyper.isPrimaryKey` to the respective primary key attributes on my entities, as described in the README.  However, after doing this, the app crashes.  I noticed that Sync was trying to match my entity's primary key attributes to entityName_id i

[2015-04-17 18:58] bonebox commented on #73
To clarify, I have an entity called MKMarket that has the `items` relationship to many MKItem entities.

[2015-04-17 19:33] bonebox commented on #73
It turns out the issue is because my relationship is many-to-many, and apparently Sync currently only supports one-to-many.  So let me change my initial question: are there plans to support many-to-many relationships?

[2015-04-17 19:55] 3lvis commented on #73
This doesn't seem like a bug in Sync but more like we failing on clarifying how Sync works, sorry for that.

Might be helpful if you could provide me an example of the structure of both your model and your JSON.

From what I get your JSON looks something like this:

** A list of markets:**
[code]

And your data model has a Market ---(to-many)---> Item relationship.

The primary key both on Market

[2015-04-17 19:58] 3lvis commented on #73
Sorry, just saw your issue, let me take a look by adding an example to our tests project.

This is A **Market** can have many **Items** and an **Item** can belong to more than one **Market**.

[2015-04-17 20:04] bonebox commented on #73
Yes, that's exactly right.  When I removed the many relationship from item back to market, the data gets populated successfully.  But unfortunately in the data I need to model, an item can also exist in many markets, so I need to have a many-to-many relationship between them.

FYI, I'm currently using RESTKit to populate the data and it works with the many-to-many relationship, but I'd like to swi

[2015-04-17 20:09] bonebox commented on #73
Just for example, it's possible I could have something like this in the JSON:

[code]

[2015-04-17 20:29] 3lvis commented on #73
[I took a look at our examples located in the Tests project](https://github.com/hyperoslo/Sync/tree/master/Tests) and we have one for many-to-many.

It's a **Note** <--> **Tag** relationship, A **Note** has many **Tags** and a **Tag** points to many **Notes**.

The JSON looks like this:

[code]

The main Core Data Model looks like this:

# Model
![screen shot 2015-04-17 at 10 25 41 pm](https://clo

[2015-04-17 20:45] bonebox commented on #73
My model is set up very similar to that.  Are there any User Info key/value pairs that should be defined for the relationship?  How does Sync determine what the inverse relationship is?  My inverse relationship was originally called `market`, and I changed it to `markets` thinking that might be the issue, but I still get the same error.  From the error it seems as if it's looking for the `item` re

[2015-04-17 21:28] 3lvis commented on #73
I made a branch to look into this issue, I was able to reproduce it by adding custom local primary keys. Sync was optimized to work with a "convention over configuration" paradigm, that's why is easier to use if you follow certain "rules". A work around for your issue would be to move from `uniqueId` to `remoteID`.

I'll look closely into this issue and figure out what's wrong :)

Thanks for your

[2015-04-17 21:49] bonebox commented on #73
@3lvis thanks a lot for taking the time to work through this with me!  I totally understand the paradigm for Sync, and think it's a great idea.  I should mention that I did finally change all of my primary keys to `remoteID`, and in fact still get the same crash.  Now it looks like the following (only difference is reference to `items.remoteID` instead of `items.uniqueId`):
[code]
 FWIW, I do have

[2015-04-17 21:59] 3lvis commented on #73
That's quite interesting. I made the change to `remoteID` and everything works fine. => https://github.com/hyperoslo/Sync/blob/fix/many-to-many-markets/Tests/Tests/Tests.m#L431-L469

[2015-04-17 23:25] bonebox commented on #73
I ended up changing all my other attributes to match the JSON to further simplify things, and double-checked the sample project to ensure my settings match as closely as possible, and I still get the same crash. The only difference I can think of is I used mogenerator to create my model objects, so they are subclassed.  It might still be worth looking into the crash when using custom primary keys-

[2015-04-18 17:46] 3lvis commented on #73
@bonebox Do you have a stack trace by the way? Which method is the one that is crashing?

[2015-04-20 13:36] bonebox commented on #73
Here you go. It's occurring in `[NSManagedObjectContext performWithOptions:andBlock]` called from `[DATAStack performInNewBackgroundContext]` (line 250 of DATAStack.m).

[code]

[2015-04-20 13:53] 3lvis commented on #73
@bonebox Looks like you added `remoteID` to `Market` but not to `Item`, would mind checking again?

[2015-04-20 13:57] bonebox commented on #73
It is definitely on both. I just checked again to verify. Here's a screenshot in case you don't believe me ;)

![screen shot 2015-04-20 at 8 56 12 am](https://cloud.githubusercontent.com/assets/1120504/7231514/42288b6a-e73b-11e4-931b-16d5e1aa5633.png)

[2015-04-21 01:36] bonebox opened #79 "No primary key causes crash"
I noticed while attempting to integrate Sync into a separate project, that if I don't have either a remoteID property (and corresponding "id" property in the JSON) or hyper.isPrimaryKey specified for a property on that entity, that the app crashes with an EXC_BAD_ACCESS on line 148 of Sync.m.  It appears that the issue is that both remoteID and localKey are nil.  I then added an "id" property to e

[2015-04-21 07:29] 3lvis commented on #79
Hi @bonebox!

At the moment Sync requires your entities to have a primary key, this is important for diffing otherwise Sync doesn't know how to differentiate this entity with the others.

You're primary key doesn't have to be `remoteID`, `uniqueID` or anything like that. In the Designer News example we have a `Comment` entity that uses `body` as the primary key.

https://github.com/hyperoslo/Sync/

[2015-04-21 07:29] #79 closed

[2015-04-21 07:29] 3lvis commented on #79
@bonebox I'll improve the README to state that.

I hope this helps :)

[2015-04-21 12:58] bonebox commented on #79
Thanks for the clarification. So what happens if the body property of a Comment entity just so happens to have the same value as a completely different comment in the JSON?  If there are 2 of the same type of object that have the same value for a property designated as primary key, only one is kept, correct?  I may have a nested object off a root object that could potentially have the same propert

[2015-04-21 13:01] 3lvis commented on #79
It takes the parent in account too, so a child ID should be unique per parent, not globally.

I guess this would be different in a many-to-many relationship, in that case child IDs are required to be unique globally.

[2015-04-21 13:09] bonebox commented on #79
Ok, that's good to know.  Thanks again for the clarification!

[2015-04-21 21:00] bonebox opened #82 "1.0.2 causes crash"
I had Sync working with version 1.0.1, then updated to 1.0.2 today and now my app crashes with the below.  I reverted back to 1.0.1, and it works again.

[code]

[2015-04-21 21:59] 3lvis commented on #82
@bonebox Hey Jeremy! Damn, this sucks, could you provide me an example of your model and the JSON that you're using, please?

[2015-04-21 23:42] bonebox commented on #82
I think I figured out where the problem is occurring, and it actually exists in 1.0.1 as well, but just doesn't cause a crash. I have an entity that that has a one-to-many relationship with itself.  After performing the sync, I noticed that the parent object gets populated ok, but none of the child objects do.  There are 4 of them, which I think is where the `count of objects (4) differs from coun

[2015-04-22 05:17] 3lvis commented on #82
Thanks! I'll make a test case to reproduce the issue.

Have a great day (or night🌚)!

[2015-04-22 12:51] ashkan18 opened #84 "Many to Many Issue"
I had issues with Many to Many relationships. I found the problem happens at this line:
[code]
I noticed that we generate a predicate that points to the child but since it has relationshipName in it, it ends up being invalid predicate.

Here are the models diagram:
![models](https://cloud.githubusercontent.com/assets/1230819/7274747/79c8eee6-e8cd-11e4-9526-de105941d8bf.png)

The predicate that tha

[2015-04-22 12:54] 3lvis commented on #84
@ashkan18 Hi!

If you are posting about a crash in your application or a feature request, an example of your JSON and your Core Data model or a stacktrace would be really helpful for us to be able to reproduce your issue or understand your request.

[2015-04-22 13:03] ashkan18 commented on #84
Sorry I was still writing the issue that I accidentally submitted :)

[2015-04-22 13:14] 3lvis commented on #84
Thanks for explaining the issue is such detail, I'll look into it.

[2015-04-22 14:35] bonebox commented on #82
Well, I discovered the problem!

I have `hyper.isPrimaryKey` on the property `elementType` of the `Element` entity.  The corresponding JSON property is `type` (as you can see in my previous post), so I set it up this way according to the README since you have `type` listed as a reserved attribute.  Once I moved `hyper.isPrimaryKey` to a different property, it works!  So it seems there is a bug tha

[2015-04-23 07:53] 3lvis opened #86 "Ignore JSON objects with `null` primary keys"

[2015-04-23 08:01] attila-at-hyper commented on #86
Sync’s `changes:inEntityNamed:predicate:dataStack:completion:` crashes if first parameter (`NSArray *`) contains any `nil` values

[2015-04-23 15:41] bonebox opened #87 "Request - Support Storing JSON in Dictionaries/Arrays"
Sometimes JSON can look like the following, which is a dictionary with dynamic keys.

[code]

Or even a dictionary with a static key, but an array of objects (no keys):

[code]
These are obviously difficult to map into objects.  Core Data allows storing Dictionaries and Arrays as a transformable attribute type.  It would be great if Sync allowed storing a part of the JSON in this manner.

One way

[2015-04-23 18:40] 3lvis commented on #87
Hi @bonebox!

Very interesting write up, you have valid points and we indeed considered storing dictionaries and arrays, I hope is what you were looking for.

For mapping for arrays and dictionaries just set attributes as `Binary Data` on the Core Data modeler

![screen shot 2015-04-02 at 11 10 11 pm](https://cloud.githubusercontent.com/assets/1088217/6973785/7d3767dc-d98d-11e4-8add-9c9421b5ed47.p

[2015-04-23 18:40] #87 closed

[2015-04-23 22:28] bonebox commented on #87
Hey @3lvis, that sounds awesome! Unfortunately I can't seem to get it working.  The binary data attribute value remain nil after mapping.  Is there any other configuration that needs to be done?  Do you have a test project where this is working? Thanks!

[2015-04-23 22:38] bonebox commented on #87
Here's an actual example that's not working for me.  Trying to map `inputConfiguration` into a binary data (NSData) attribute.
![screen shot 2015-04-23 at 5 35 04 pm](https://cloud.githubusercontent.com/assets/1120504/7308984/411520de-e9df-11e4-983e-72e033294526.png)

[code]

[2015-04-24 05:41] 3lvis commented on #87
We use snake_case for the JSON, also for Sync `inputConfiguration ` is an entity with a `to-one` relationships with `just_a_hint`, it doesn't infer that if should take the contents from inside `justAHint`. The following should work.

[code]

[2015-04-24 05:54] 3lvis commented on #87
I've been thinking on supporting mapping depth entities like the one in your example but haven't got around into doing it.

For example if you had the following JSON:
[code]

Mapping the contents of `just_a_hint` to `input_configuration` could be done by adding the following key to the user info of your attribute:

[code]

And then when you want to make the JSON representation of your element:

[c

[2015-04-24 08:46] 3lvis opened #89 "Improve errors for missing primary keys"
When a primary key is missing `Sync` just crashes with a `localKey parameter not found` message.

Ideally the error should say "Local primary key not found, Sync uses `remoteID` by default but if you have another local primary key make sure to mark it with `"hyper.isPrimaryKey" : "YES"` in your attribute's user info.

[code]

[2015-04-24 08:55] 3lvis commented on #84
Hi @ashkan18, everything seems to be working fine for me, I tried your JSON and your Model and the new tests are passing.

https://github.com/hyperoslo/Sync/pull/90

I wonder if it's something that's been fixed in Sync `1.0.3`.

Would you mind verifying? Thanks!

[2015-04-24 09:06] 3lvis commented on #82
@bonebox We did a bunch of improvements for many-to-many relationships on [Sync 1.0.3](https://github.com/hyperoslo/Sync/releases/tag/1.0.3) would you mind verifying if this is still an issue? Thanks in advance :)

[2015-04-24 09:07] 3lvis commented on #49
Now that I know this is a good idea, no need to keep an issue on it. Will update when done.

[2015-04-24 09:07] #49 closed

[2015-04-24 13:34] ashkan18 commented on #84
@3lvis Works like a charm! Thanks man and great work!

[2015-04-24 13:38] 3lvis commented on #84
Thanks! 🍻
![giphy](https://cloud.githubusercontent.com/assets/1088217/7319728/e2f9e9d0-ea97-11e4-8dd5-3486ccbd8627.gif)

[2015-04-24 14:19] bonebox commented on #87
Ah, that did the trick!  I did remember reading that if the JSON uses snake_case then the core data equivalent needed to be camelCase, but didn't realize that snake_case was an actual requirement for the JSON key. Thankfully we control the JSON also, so I can have that updated.

That looks really cool!  Would it support having multiple entries in the dictionary?  For example:

[code]

Thanks again

[2015-04-24 14:22] 3lvis commented on #87
Interesting! I'll add this to the main task for reference.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/64

[2015-04-24 14:25] bonebox commented on #87
Awesome, thanks!!!

[2015-04-24 15:58] bonebox commented on #87
@3lvis Out of curiosity, is there reason for the snake_case requirement for JSON keys?  It seems like as long as the JSON key matches the core data attribute (with the exception of reserved types), that should work as well.

[2015-04-24 17:11] bonebox commented on #73
@3lvis just FYI, I updated to the latest (1.0.3) and still get this exact same crash when doing many-to-many.

[2015-04-24 17:18] ashkan18 commented on #84
hey @3lvis so our tests with latest code are passing but when I tried it in the actual app I ended up seeing the same issue again, I tracked down the issue and it seems the predicate i was talking about crashes on DATAStackSQLiteStoreType and it works fine when we use DATAStackInMemoryStoreType.

That kind of exactly matches the giphy you posted :)

[2015-04-24 19:25] ashkan18 commented on #84
in your test if you change line 19 in your Test.m to switch to SQLiteStore you'll see the test fails:
[code]

[2015-04-24 20:57] bonebox commented on #87
@3lvis I probably should have tried this before, but I was able to get it to work with the existing JSON key by simply doing `"hyper.remoteKey" : "inputConfiguration"`.

[2015-04-25 07:25] 3lvis commented on #87
@bonebox We tried to model Sync to work out of the box for the most used scenarios, you could say that it has been "optimized" to work with Ruby or Rails kind of backends. Having less options helps the app to have less ways to fail.

:smile:

[2015-04-25 07:47] 3lvis commented on #73
@bonebox Will have a look :)

[2015-04-25 07:52] 3lvis commented on #84
@ashkan18 Woah, that's weird. I was able to reproduce it. Will have a look :)

[2015-04-25 13:17] bonebox commented on #73
Thanks!!! Let me know if I can provide any other data that might be helpful to you.  FYI the screenshot above is the entire model, so it's not too complex, but there are quite a few markets and items in the JSON.

[2015-04-29 20:45] bonebox commented on #73
Wanted to check back in on this, and provide some additional data. Not sure if it helps or not, but I decided to attempt this with an in-memory store just to see what happened, and it still crashes, but with a different error:

[code]

[2015-04-29 20:59] 3lvis commented on #73
@bonebox could you try this with master? Pushed a few improvements a few days ago.

[2015-04-29 21:49] bonebox commented on #73
Hey @3lvis, well a bit of good news--the sync works now without crashing!  However, I still get a crash when I attempt a fetch request.  Here's the predicate I'm using (this worked previously when fetching after importing to Core Data via RestKit):
`request.predicate = NSPredicate(format: "ANY market.remoteID = %@", market.remoteID)
`
And the stack trace:

[code]

[2015-05-04 13:55] kostiakoval opened #93 "Add ability to cancel Sync operation"
I would like to be able to cancel Sync operation.
When I call sync It should probably return Sync Operation the would have a cancel method.
[code]

[2015-05-04 14:26] 3lvis commented on #93
Interesting :)

[2015-05-05 06:25] kostiakoval commented on #93
Yes I also was thinking about it

[2015-05-06 09:24] 3lvis commented on #84
Hi again @ashkan18! I took some time to work in this issues, I found a few issues with using SQLiteStore that should be fixed in `Sync 1.0.4`, let me know how it goes.

https://github.com/hyperoslo/Sync/releases/tag/1.0.4

[2015-05-06 09:24] #84 closed

[2015-05-06 09:35] 3lvis commented on #73
@bonebox Hi, found the problem in your predicate, you should use the relationship instead of the entity name. I changed the predicate from `market` to `markets` and works.

**This:**
[code]

**Instead of this:**
[code]

[2015-05-06 09:35] #73 closed

[2015-05-06 14:55] bonebox commented on #73
Wow, sorry for that!  Pretty obvious, I should have caught that. My original model was one-to-many, so the original relationship was called "market", after changing it to many-to-many, I didn't bother to change it to "markets" until I was working on integrating Sync and made further changes to the model to work better with Sync.  Totally forgot to update the stupid string references!

[2015-05-06 15:21] bonebox commented on #82
Hey @3lvis sorry, forgot about this.  I just tested it, and it does work using a reserved type as primary key.  What I found though, is in addition to specifying the `isPrimaryKey` value, you *also* have to specify the `remoteKey` value, otherwise it will crash.  That may be worth clarifying in the documentation, as it could be confusing for people, since they normally wouldn't need to specify `re

[2015-05-06 16:18] 3lvis commented on #82
Hi @bonebox, you're right. The documentation on using `isPrimaryKey` in addition to `remoteKey` could be improved. I'll make a PR fixing it :)

Thanks!

[2015-05-08 20:04] ashkan18 commented on #84
Thanks @3lvis ! works great!

[2015-05-10 06:48] 3lvis opened #101 "Improve documentation or include a FAQ"
- [x] Document using `hyper.primaryKey` in addition to `hyper.remoteKey`.
- [x] Document how uniquing works (many-to-many, one-to-many)
- [x] Document why a `parent` relationship is needed for recursive entities
- [x] Make F.A.Q.

[2015-05-10 06:48] 3lvis commented on #82
Moved to #101 (documentation missing)

[2015-05-10 06:48] #82 closed

[2015-05-10 06:56] 3lvis commented on #101
**Document using `hyper.primaryKey` in addition to `hyper.remoteKey`**:

Well, the thing is that if you add `hyper.primaryKey` it would uses the normal attribute for the local primary key, but the remote primary key is the snake_case representation of it. Some people might expect that the local keeps been the same (remoteID), or that the remote keeps been the same (id).

For example if you add the

[2015-05-10 07:04] 3lvis commented on #101
**Document how uniquing works (many-to-many, one-to-many):**

In a `one-to-many` relationship IDs are unique for a parent, but not between parents. For example in this example we have a list of posts where each post has many comments. When syncing posts 2 comment entries will be created:

[code]

[2015-05-19 20:23] tomvo opened #103 "[question] Database not updated second time"
I'm testing the sync functionality and all seems to work fine in my initial data request (viewDidLoad). I fetch the JSON from the server, pass it to Sync and my CoreData gets updated nicely.
However, when I make a change server side a few seconds later and do a refresh I can see the modified JSON coming in but Sync doesn't seem to sync the changes to the database?

Any idea what this might be?

[2015-05-19 21:02] 3lvis commented on #103
@tomvo Hi Tom! I'll update one of our demos to have a pull to refresh to make sure that updates are working properly.

Other thing, is important that you call `Sync` again only when you know the previous `Sync` operation has finished, otherwise Core Data might go nuts with threading.

[2015-05-20 07:11] tomvo commented on #103
I solved my problem, it had nothing to do with your library but it had to do with the `SwiftRecord` library. (https://github.com/arkverse/SwiftRecord) I was using that to fetch the new results in the `onComplete` request but it did not return the new values synced. I'll raise an issue there.

Thanks for your reply and all your efforts!

[2015-05-20 07:11] #103 closed

[2015-05-20 07:12] 3lvis commented on #103
@tomvo Don't worry! Have a great day :grin:

[2015-05-27 15:58] bonebox opened #106 "Inserting Additional Entities"
In our service, we can have multiple markets, but these markets are retrieved individually and separately, not as one large request.  I noticed that if I retrieve an initial market and insert it using Sync, then retrieve a subsequent (different) market and insert it, it removes the first market from Core Data, and so on, even if they have different `remoteID`s.  This is fine if you are feeding it

[2015-05-27 16:05] 3lvis commented on #106
Hi @bonebox, the `predicate` attribute might be helpful here. Giving a predicate to Sync it tells it to only sync the attributes that comply to the predicate. When a predicate is not present Sync will diff all the changes removing the elements that are not present in the JSON.

[2015-05-27 16:51] bonebox commented on #106
Hey @3lvis! Thanks for the info. I'm having trouble determining what the predicate would look like in this case.  I tried `let predicate = NSPredicate(format: "remoteID = %@", marketID)` which seemed to work at first--the second market entity was added without removing the first.  But then I also noticed that when I inserted the second market, the items in the first market got duplicated.  Syncing

[2015-05-27 17:05] bonebox commented on #106
Well the duplication I'm seeing seems to be somewhat random--I tried some different markets (that had fewer items) and it didn't occur with them.  The multiple markets get retrieved and subsequently Sync'd more or less concurrently--I'm wondering if that could be an issue?

[2015-05-27 19:00] 3lvis commented on #106
@bonebox How many entries there are in the JSON you're using for updating? 2 or 1?

I can make a test case in out tests projects to check what's the problem behind it, personally I've only used Sync for the main sync (the one with all the entries in the JSON). For updates I fetched the item in a background thread and made the updates there.

If this is something we can automate it would be fantast

[2015-05-27 19:44] bonebox commented on #106
@3lvis I was syncing a single market at a time, just testing with 2 of them, so 2 calls to the sync method.  Each market has varying items, but typically between 25-50.  The markets and items have a many-to-many relationship, not sure if that makes a difference.

The duplication issue was partially my own fault--I had set up a test and forgot to disable it so it was attempting to sync the same mar

[2015-05-27 19:49] bonebox commented on #106
Also wanted to mention that my app re-syncs the data whenever the page is refreshed, and that is working correctly (no duplicated items), so it seems that the issue has something to do with the sync method calls occurring so close together.  I did a test by wrapping the sync method call in a GCD synchronous queue and the duplication still occurred when doing the 4 concurrent calls to sync like I m

[2015-05-27 19:49] #106 closed

[2015-05-27 21:27] 3lvis commented on #106
@bonebox If you're using AFNetworking I would recommend something like AFUniqueGet, works quite well for multiple GET calls to the same resource.

https://github.com/3lvis/AFHTTPSessionManager-AFUniqueGET

[2015-05-27 21:44] 3lvis commented on #106
@bonebox Two or more syncs to the same entity shouldn't happen at the same time, there could be some inconsistency in the persistent store and you'll get crashes saying.

"Couldn't not fullfill fault.."

[2015-06-10 06:32] lukaszmargielewski opened #107 "Decouple from DATAStack. F.ex.: use <NSManagedObjectContextProvider> instead?"
This is just an idea:
I think, having the access to the proper NSManagedObjectContext is enough for sync engine.
If there are special 'query' helpers needed, just create context extension class.

[2015-06-10 07:17] 3lvis commented on #107
Interesting idea @lukaszmargielewski!

[2015-06-22 21:20] Gerungofulus opened #108 "I need help getting started with your great Library"
Hi there!

I am sorry for bothering you but I tried to get this running for two hours right now and I seem to be stuck.

I am using the following setup in CoreData
![bildschirmfoto 2015-06-22 um 23 06 48](https://cloud.githubusercontent.com/assets/9848525/8293067/6334dc44-1933-11e5-84eb-37e48845642d.png)

and I have an [NSDictionary] array (that I formed out of a json response).
(I don't get to ch

[2015-06-23 06:10] 3lvis commented on #108
Hey Pascal! You can change `users` in `Collection` to be an attribute instead of a relationship, then you could set it as `Binary Data`, this will tell Sync to store it as an array of strings. Also I would advise you that maybe renaming it to `userIDs` might be a good idea so you know it's not an array of users. Also so you can keep your original relationship to users.

https://github.com/hyperosl

[2015-06-23 17:35] Gerungofulus commented on #108
Hi Elvis,
thanks for your great help! It works just fine now. Just let me ask two more questions:
1st:Can I use multiple primary keys?
In this specific case I would want to have the fileurl and the remoteID to be unique, because again I don't get to change the API, but I would like to add a PhotoItem with a given url. I would then get the id created on the server when polling all photo items later

[2015-06-23 19:24] 3lvis commented on #108
Hey! It's nice to hear that you go it working.

1.- We don't have support for this out of the box, but it shouldn't be difficult to add support for it if you feel like doing that.

First, `DATAObjectIDs` should support multiple attributes, second `DATAFilter`, finally it would be needed to add support in `Sync`.

2.- Yes, it's possible, when you use Sync you should provide a predicate that gives y

[2015-06-23 19:24] #108 closed

[2015-06-23 19:35] Gerungofulus commented on #108
Hey Elvis,
thanks again for that quick response! I will definitely take a look at adding multiple primary keys. If I do so, I will inform you about it.
For so long the next quesiton should be the last: The property collectionID in my GrocliPhotoItem happens to not be the id of the collection itself, but the whole collection. Now I would want to use the PhotoItem I retrieve (JSON):
[code]
and add t

[2015-06-23 20:11] 3lvis commented on #108
I don't really understand your last question. You want to sync only items in the array of `PhotoItem` where `collectionID` is not nil?

[2015-06-23 20:19] Gerungofulus commented on #108
Yes I want to sync those Photoitems, where ```collectionID.remoteID == 3393ed8b0c1368fc```

[2015-06-23 20:29] 3lvis commented on #108
@Gerungofulus something like this could work in an array of GrocliPhotoItems

[code]

[2015-06-23 21:52] 3lvis commented on #108
Or maybe

[code]

[2015-06-25 11:59] Gerungofulus commented on #108
The latter one helped. Thanks made! Though I find the name for parent somehow confusing since I expected it to be inheritance related.

[2015-06-26 10:34] 3lvis commented on #108
@Gerungofulus Any suggestions on how to make it more clear? Maybe adding appledocs to Sync would help.

[2015-06-26 11:10] Gerungofulus commented on #108
Yeah some kind of documentation in that regard would definitely help. If you didn't mind I would write some documentation on those functions and send it to you in about a week

[2015-06-26 11:11] 3lvis commented on #108
@Gerungofulus that would be fantastic :star2: :star2: :cake: :star2: :star2:

[2015-06-26 15:38] Gerungofulus commented on #108
BTW I have another issue. When syncing the collections, sometimes collections are deleted but the pictures belonging to those collections are not. Of course I get an CoreData Error when doing this. Since I made the relationship to a collection mandatory this will make the managedObjectContext save with an error, which I would like to avoid. So the question is: Can I make Sync perform additional de

[2015-06-26 15:39] Gerungofulus commented on #108
Of course I could just make this relationship optional and update all items which lost that connection after the sync but I would rather like the database to be consistent at all times.

[2015-06-26 15:43] Gerungofulus commented on #108
And I think that using the contextWillSaveNotification would be strange since I might also have other core data using frameworks (like Googe Analytics etc.) Since I could not listen for a specific managedObjectContrext because Sync uses background managedObjectContexts. And I'd rather not wait for errors to occurr.

[2015-06-26 17:57] Gerungofulus commented on #108
Okay obviously I can delete items with mandatory realtionships by using the cascade deletion rule, but it be cool to get at least the deleted items in return.

[2015-06-28 11:50] 3lvis commented on #108
Hey Pascal,

I don't really understood your last comment, is there anything specific that we could do to help you? I don't understand the `get the deleted items in return`. You mean that instead of automatically deleting the items you would do it manually?

[2015-06-28 13:16] Gerungofulus commented on #108
I just thought that there might be usecases where one would like to get some information about what has been changed by Sync. Which items have been deleted/updated/added for example

[2015-06-28 13:57] 3lvis commented on #108
@Gerungofulus like improved logging on what's going on?

[2015-06-28 13:59] Gerungofulus commented on #108
Yes for example. Or if you would like to be informed when certain items change or things like that.

[2015-06-28 17:08] 3lvis opened #109 "Improve logging of updated, inserted and removed items"
Would be great if we had better logging of what happens when Sync is performed, this would help for example when debugging issues.

[2015-06-28 17:12] 3lvis commented on #108
@Gerungofulus got it! I made a task for it. https://github.com/hyperoslo/Sync/issues/109 :)

[2015-07-01 09:25] ares-huy-le opened #110 "Support Realm"
Do you have any plan to support Realm database?

[2015-07-01 09:26] 3lvis commented on #110
@ares-huy-le Hi Ares, this is very tightly coupled with Core Data, although the same principles could be applied to Realm.

We don't have any plans to support Realm in Sync, if this changed in the feature, it will probably be placed in a different repo.

Best,

[2015-07-01 09:26] #110 closed

[2015-07-02 01:53] ares-huy-le opened #111 "Work with nested properties"
I have a nested JSON ex:
{
"name":"Huy",
"contact": {
    "skype":"huyle",
    "email":"huy@mail.com"
}

How I can flat them into 1 ManagedObject? Ex:
User
- name
- skype
- email

[2015-07-02 07:39] 3lvis commented on #111
Hi Huy!

We don't have support for flattening dictionaries. One way you can achieve this with the current version of Sync is storing `contact` as a dictionary.

- Add a `contact` attribute to your Core Data model
- Set the type of `contact` to `Binary Data`

This issue can help you:

https://github.com/hyperoslo/Sync/issues/87

[2015-07-02 07:39] #111 closed

[2015-07-02 08:12] Gerungofulus commented on #108
I won't make it with the Apple Docs this month, but I'll try to get it done in August. I'm really sorry about it.

[2015-07-02 08:17] 3lvis commented on #108
@Gerungofulus Don't worry Pascal! Thanks for taking the time to comment here. I hope everything is good in Berling :grin:

[2015-07-17 18:28] Gerungofulus opened #112 "Sync with NSFetchedResultsController"
Hi there! It's me again :)
I definitely want to write your documentation, but right now my code starts falling apart. So here is the problem:

I have the following CoreData Model set up:
![bildschirmfoto 2015-07-17 um 19 40 29](https://cloud.githubusercontent.com/assets/9848525/8753394/c47a6c4e-2cbb-11e5-9c06-36e38a94582e.png)

Now I want to add a picture locally by doing the following (I am using

[2015-07-30 09:29] 3lvis commented on #112
Hi Pascal, sorry for not following up this before, I've been out in vacation-mode :sunglasses:

Were you able to fix this?

[2015-08-03 12:04] Gerungofulus commented on #112
Yeah man, vacations are important, I hope yours have been great! :)
I am really sorry to say, that I could not fix this problem. Do you have any idea what went wrong?

[2015-08-04 07:55] 3lvis commented on #112
@Gerungofulus I haven't had anything like this happen to me before, sorry I can't be more helpful.

[2015-08-04 14:18] Gerungofulus commented on #112
I won't have any time to spent on this particular issue within the next two weeks, but I'll investigate it later on and keep you updated

[2015-08-05 09:02] 3lvis commented on #112
@Gerungofulus Don't worry, good luck :)

[2015-08-11 13:38] ashkan18 commented on #112
we had similar problem on our side, for us the issue was faulted objects which our fetched result controller couldn't access. We ended up following this which fixed our issue:

http://stackoverflow.com/questions/3923826/nsfetchedresultscontroller-with-predicate-ignores-changes-merged-from-different/3927811#3927811

I hope this helps.

[2015-08-11 13:38] altyus commented on #112
what ^ said

[2015-08-12 05:23] 3lvis commented on #112
@ashkan18 @altyus Thanks guys for pointing that you both had a similar problem.

I'm trying to figure out how to reproduce this bug.

Did you also had the problem in this method?

https://github.com/hyperoslo/Sync/blob/master/Source/Sync.h#L18-L22

[2015-08-14 13:17] Nik09 opened #113 "Crash when mapping many-to-many"
Crash when mapping many to many relationship in `NSManagedObject+Sync#sync_processToManyRelationship:usingDictionary:andParent:dataStack : 116`, uses remote relationship name on entity, for ex, should be likedPosts instead of liked_posts.

[2015-08-14 13:19] 3lvis commented on #113
Could you share an screenshot of your Core Data model and an example of your JSON, please?

https://github.com/hyperoslo/Sync/blob/master/CONTRIBUTING.md

[2015-08-14 13:37] Nik09 commented on #113
Sure.
`[
  "id": 2
  "text": "test"
  "liked": [
    {
      "id": 1
      "name": "user test"
    }
]`

Core Data:
Post (remoteID, text, liked[has_many: User])
User (remoteID, name, likedPosts[has_many: Post])

So what it does, it tries to call `#mutableSetValueForKey:` on `User` with `liked_posts`, ie using remote name

[2015-08-14 13:44] 3lvis commented on #113
Thanks @Nik09! I'll take a look later today.

Could you share an screenshot of your Core Data model? Might help to check how the relationships have been set.

[2015-08-14 21:45] samouds opened #114 "Need help for Data Model"
Hello,

I need some help for creating the Data Model based on this JSON :

[code]

Thanks a lot !

[2015-08-15 02:35] 3lvis commented on #114
So a Post can have an Original Post inside and this Original Post can have an Original Post inside, right?

You can have Post ==(to many)==> Original Post ==(recursive to itself)==> Original Post

[2015-08-15 02:40] 3lvis commented on #114
Here's an example of a recursive relationship. You can find it in the [Tests project](https://github.com/hyperoslo/Sync/blob/master/Tests/Tests/Tests.m#L334-L370):

https://github.com/hyperoslo/Sync/tree/master/Tests

<img width="611" alt="screen shot 2015-08-15 at 04 37 28" src="https://cloud.githubusercontent.com/assets/1088217/9287131/6c9baee0-4307-11e5-80bf-b71d8f17f44d.png">

<img width="630"

[2015-08-15 02:40] #114 closed

[2015-08-15 04:14] d6u opened #116 "[Question] Is it possible to only add/update records but not deleting unpresented?"
Assuming I'm building a Twitter client. I only want to fetch new tweets and save them. Old tweets not presented during a syncing should remain the same. I know I can use predicate to exclude all existing tweets to prevent them from deleted. But is there an option to not delete unpresented tweets?
If this is not a feature Sync would target, is there any alternative library to do so?

Thanks!

[2015-08-15 04:25] 3lvis commented on #116
Hey, there's no such "feature" in Sync at the moment, but it could be way simpler than having a predicate with all the existing tweets. You could use the latest created date, updated date or the latest date when you refreshed items from the backend and say.

[code]

I don't know of other libraries that do the same than Sync that have this feature.

I hope this was useful!

:v:

[2015-08-15 04:25] #116 closed

[2015-08-15 08:41] #113 closed

[2015-08-15 08:42] 3lvis commented on #113
@Nik09 This should be fixed on `master`, would you mind checking it everything is fine now? :dancers:

[2015-08-15 10:22] samouds commented on #114
Thanks @3lvis, I will try this one :)

[2015-08-16 06:27] 3lvis commented on #112
@Gerungofulus I'm trying to reproduce this issue. Just to clear things up.

1.- You create a photo item with general information in the main context
2.- You upload this photo to the backend (in a background thread?) and update the photo created in step 1 with the new information that you get from the backend.
3.- You retrieve all the photo items for the current collection.
4.- (Expected) All the p

[2015-08-16 11:56] Gerungofulus commented on #112
I'm going to test the solution given by @ashkan18 Thanks for your support! @3lvis Yes, this is correct. Thank to all of you for trying to solve the problems I was supposed to solve. Sadly I am not skilled enough yet to come up with a solution of my own. I should have some free time to spent on this issue next week, so I'll let you guys know whether it worked out!

[2015-08-21 04:13] 3lvis commented on #113
@Nik09 I just pushed 1.0.6 this should fix your problem <3

https://github.com/hyperoslo/Sync/releases/tag/1.0.6

[2015-09-15 08:43] 3lvis opened #119 "Sync + Predicates"
Sync provides a predicate method to filter which methods would be synced for example  providing a predicate for `startTime > now` only should sync elements that start in the future and ignore all the other elements that don't apply to this predicate.

[2015-09-15 09:00] 3lvis commented on #119
The problem seems to relay in the fact that `NSPredicate` works only against the Core Data elements, it doesn't filter what you are sending in the `changes` array.

A crazy approach to fix this would be to pre-parse the changes and apply a NSPredicate filter to remove the unwanted elements.

[2015-09-15 09:07] 3lvis commented on #119
Any other ideas on how to fix this? @hyperoslo/ios-open-source

[2015-09-15 10:14] #119 closed

[2015-09-23 09:24] galinyonchev opened #121 "Export Core Data into JSON using Sync?"
Hello, is it possible to export my core data model into JSON file using Sync? Or at least something like that?

[2015-09-23 09:30] 3lvis commented on #121
Hi!

One of the dependencies of Sync is [NSManagedObject-HYPPropertyMapper](https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper), this pod provides a method that converts your `NSManagedObject` into a JSON object.

[code]

You could make a fetch request to retrieve all the managed objects for an entity, then loop the result array and create a JSON array.

I hope this is useful for you :

[2015-09-23 09:30] #121 closed

[2015-09-24 09:09] galinyonchev commented on #121
And what If I have a single Patient entity object with some other entity objects like fitness data, personal data and etc. I want to export the single Patient object, but with other entities attached to it. Is this possible? Like, not loop through all objects and create the JSON array myself, but with single line of code, like this:

NSDictionary *userJSON = [patient hyp_dictionary];

I think it i

[2015-09-24 09:10] tommypeps commented on #109
Which this line you can see  any change over the main context

[code]

[2015-09-24 09:15] 3lvis commented on #121
@galinyonchev We don't support for that out of the box. Feel free to contribute someone else might find this useful :)

I created an issue for the task https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/76

[2015-09-24 09:18] 3lvis commented on #109
@tommypeps :clap:

[2015-09-24 09:18] 3lvis commented on #109
This is much better than what I thought. I'll add it to the FAQ

[2015-09-24 09:18] #101 closed

[2015-09-24 09:29] #109 closed

[2015-09-24 09:30] 3lvis commented on #109
https://github.com/hyperoslo/Sync#logging-changes

[2015-09-24 09:31] 3lvis commented on #93
“Advanced NSOperations (WWDC 2015)” by @davedelong.

[2015-09-24 20:02] 3lvis commented on #121
@galinyonchev hey! Now doing:

[code]
Will also go to the entities attached to this entity and make an array representation.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper#json-representation-from-a-nsmanagedobject

[2015-09-25 09:28] galinyonchev commented on #121
Hm, it is not working in my project. The app just freezes without any error messages.
Do I have to add somewhere this "PrimaryKey" or I can go without it?

[2015-09-25 09:31] 3lvis commented on #121
@galinyonchev Is it freezing now and it was working before? Or this is the first time you're implementing Sync?

Might be useful if you could share your Core Data model + an example of the JSON that you're using.

Is it freezing in `hyp_dictionary`?

[2015-09-25 09:44] galinyonchev commented on #121
This is the first time I am implementing this method.
It is freezing when I push the button that calls this one:

patient.hyp_dictionaryUsingRelationshipType(.Array))

Here is my Core Data model (sorry for hiding some things):

![screen shot 2015-09-25 at 12 37 05](https://cloud.githubusercontent.com/assets/13518877/10097642/1baece3a-6383-11e5-8587-4f736480d981.png)

[2015-09-25 10:33] 3lvis commented on #121
@galinyonchev I'll take a look this weekend :)

[2015-09-25 15:02] galinyonchev commented on #121
I found the problem - it was because of a property with digits in its name. Now, I am trying the export my Patient object with his Baseline relationship attached to it.

I have a single Patient object with some properties and another object - Baseline (with its properties). I have a relationship between these two - inversed and of type "to-one". I am trying to export it using

NSDictionary *dictio

[2015-09-25 16:55] 3lvis commented on #121
@galinyonchev It seems that this could be caused by the inverse relationships missing.

You need inverse relationships.

If patient has many weights, then weight needs a patient.

![model-1](https://cloud.githubusercontent.com/assets/1088217/10106775/f0cad1f8-63b6-11e5-9917-10f035abcb37.png)

[2015-09-28 07:21] galinyonchev commented on #121
I tried with inversed relationship and it was not successful. I am out of ideas and I hope you can find a solution.

[2015-09-28 07:44] tommypeps commented on #121
[code]

[2015-09-28 08:03] galinyonchev commented on #121
I found that on line 80:

            id relationships = [self valueForKey:relationshipName];

And guess what -  relationship is nil here. There is no value for the chosen key in self.
I think the problem is not in my CoreData model, but something with the library?

[2015-09-28 08:14] tommypeps commented on #121
the json work with Sync must be perfect ;)

[2015-09-28 08:16] galinyonchev commented on #121
Here is the Patient object. The value for baseline is nil, although there is a Baseline object with some data in it. Any ideas what I have to do to make it work?

![screen shot 2015-09-28 at 10 57 57](https://cloud.githubusercontent.com/assets/13518877/10130556/478ab720-65d2-11e5-88de-bc9e11cd2052.png)

[2015-09-28 09:33] 3lvis commented on #121
@galinyonchev https://github.com/hyperoslo/Sync/pull/123

[2015-09-29 12:50] galinyonchev commented on #121
Thank you! Solved! It was because of my Core Data model.

[2015-09-29 13:16] 3lvis commented on #121
:clap:

[2015-09-29 13:17] 3lvis commented on #121
@galinyonchev Have you also set the delete rule to Cascade in the `one-to-many` relationships? I always forget that :grin:

[2015-09-30 13:01] denrase opened #124 "Custom Transformations"
Hey,

do you plan to support custom transformations? Say I have a color encoded in a string using the #ARGB format (e.g. #FF00FF00 for green) and i want to persist it as a UIColor in a transformable property in my managed object. Is something like this already supported?

br
denis

[2015-09-30 13:32] 3lvis commented on #124
Hey Denis!

We don't have anything for transformables in the foreseeable future. Any examples on use cases for this (meaning, why would you want to store as UIColor instead of just storing the strings?

[2015-09-30 14:57] #124 closed

[2015-09-30 14:59] #89 closed

[2015-09-30 14:59] 3lvis commented on #89
Added to the FAQ, that should work

[2015-10-05 16:04] bonebox opened #125 "Relationships not being synced since 1.0.10"
I updated from 1.0.8 to the latest 1.0.11 and noticed relationships are no longer being sync'd; they show nil.  I tried 1.0.10 with the same results, then 1.0.9 which works.  Did something change between 1.0.9 and 1.0.10 that I'm not aware of that requires an update on my end?  I checked the README and didn't see anything...

[2015-10-05 16:35] 3lvis commented on #125
Hi @bonebox!

We use the release feature from GitHub to present the changelog.

https://github.com/hyperoslo/Sync/releases

The biggest thing that has changed since 1.0.8 in Sync was how predicates where handled. => https://github.com/hyperoslo/Sync/issues/119 https://github.com/hyperoslo/Sync/pull/120

Maybe this was the issue?

[2015-10-05 16:38] 3lvis commented on #125
Wait, you're saying that `1.0.9` works fine, right? Nothing critical changed on `1.0.11` so it must be `1.0.10` then.

`1.0.10` only includes this change => https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/releases/tag/3.3.0

[2015-10-05 16:57] bonebox commented on #125
This is probably it.  From this, it looks like you are using nested objects as the default, whereas my JSON objects are in array format.  So how do I get Sync to still work with the latter?

[2015-10-05 17:28] 3lvis commented on #125
This is a bit strange, since before `hyp_dictionary` also was doing nested objects. Are you using that method in your code? `hyp_dictionary`.

Would be great if you could help me to figure out what is failing since the Sync unit tests are working fine after the update, there must be something I'm missing.

[2015-10-05 17:41] bonebox commented on #125
No, I'm not directly calling methods from any of Sync's dependencies.  The only method I'm calling is `changes:inEntityNamed:predicate:dataStack:completion:`.  Then when I fetch the newly inserted entity, the attributes are mapped fine, but any relationships are nil.  I'm happy to help, but not sure what would be useful for you.  Let me know if you'd like me to test anything specific.

[2015-10-05 18:11] 3lvis commented on #125
@bonebox could you provide please some insight of your Core Data model and the used JSON?

It would be super helpful. :heart:

[2015-10-05 18:22] bonebox commented on #125
See below for the core data graph and JSON.  I'm importing the JSON as a Form entity.  Both the `model` and `element` relationships are nil with 1.0.11 and 1.0.10, and everything gets mapped fine in 1.0.9 and prior.  Let me know if you need any more specifics on the model or anything else.

[code]

<img width="596" alt="screen shot 2015-10-05 at 1 14 03 pm" src="https://cloud.githubusercontent.com

[2015-10-05 20:08] 3lvis commented on #125
So strange :disappointed:

I got this running

[code]

[2015-10-05 20:24] 3lvis commented on #125
So strange :disappointed:

I got this running

[code]

[2015-10-05 20:55] bonebox commented on #125
Ok, it seems the problem is in fact related to the predicate. I removed that and the relationships now get sync'd correctly.  But it works with the predicate in 1.0.9.  In the past, I needed the predicate in order to prevent Sync from deleting existing forms in core data whenever I sync a new form.  Has that changed?

[2015-10-05 21:05] 3lvis commented on #125
@bonebox yes! Could you provide the predicate, please?

[2015-10-05 21:07] bonebox commented on #125
[code]

[2015-10-05 21:17] 3lvis commented on #125
@bonebox I was able to find the bug, thanks!

Fixed on https://github.com/hyperoslo/Sync/pull/126

[2015-10-05 21:17] #125 closed

[2015-10-05 21:28] bonebox commented on #125
Great, thanks!

[2015-10-05 22:28] 3lvis commented on #125
@bonebox Thanks for your help and sorry for the inconvenience.

https://github.com/hyperoslo/Sync/releases/tag/1.0.12

[2015-10-05 22:44] bonebox commented on #125
No worries, sorry you had to rollback some prior changes!

[2015-10-06 21:54] MauMaxxa opened #127 "Terminating app due to uncaught exception 'NSRangeException'"
"Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArray0 objectAtIndex:]: index 0 beyond bounds for empty NSArray'"

I got this error on my first launch on every new test device
![schermata 2015-10-06 alle 23 52 41](https://cloud.githubusercontent.com/assets/10811652/10323753/66726fac-6c85-11e5-87bb-2e656826d74b.png)

this is my coredata model, and i've set id as hy

[2015-10-07 05:25] 3lvis commented on #127
Hi @MauMaxxa,

Could you please share an example of your JSON too? Also, are you using any predicates? Or just calling

[code]

[2015-10-08 14:19] 3lvis opened #129 "Analizer tool reports weird issue"
<img width="990" alt="screen shot 2015-10-08 at 16 19 12" src="https://cloud.githubusercontent.com/assets/1088217/10369013/5b397d16-6dd8-11e5-86b5-1aa8ab9c9d9a.png">

[2015-10-08 14:55] richardoti commented on #129
I guess it is related to Apple's API style.
For example, if you take a look at CoreData code:
[code]

We're checking whether method returned something or not. I don't remember any `void` methods in Apple's API that take `NSError *` as an argument.

Source of the code:
https://developer.apple.com/library/ios/documentation/DataManagement/Conceptual/CoreDataSnippets/Articles/fetching.html

[2015-10-08 16:19] 3lvis commented on #129
@richardoti That makes sense :)

[2015-10-08 17:52] 3lvis commented on #125
@bonebox Hi Jeremy,

Could you please check if you have the same issue as before on the recently released `1.0.13`?

https://github.com/hyperoslo/Sync/releases/tag/1.0.13

[2015-10-08 18:58] bonebox commented on #125
Hey @3lvis ,

I can't get it to build.  It looks like you added a new class extension `NSArray+Sync.h` that is importing DATAStack like `import "DATAStack.h"` and that is causing the issue.  If seems like I've seen this before when using an Objective-C dependency in a Swift framework (which is what I'm doing).  Anyway, changing it to `import <DATAStack/DATAStack.h>` let's it build successfully for

[2015-10-08 21:40] 0ff opened #130 "Doesn't work with cocoapods' use_frameworks"
Unfortunately, the latest version of Sync is not compatible with the `use_frameworks!` option of cocoa pods.
`import "DATAStack.h"` (in `NSArray+Sync.h`) needs to be changed to `import <DATAStack/DATAStack.h>` for this to work (which would fail without the option).

Any ideas on how to make this work? The option is needed to include Pods written in swift, so not using the option is not an option I

[2015-10-08 23:25] 3lvis commented on #130
I'll have a look :)

[2015-10-08 23:50] 3lvis commented on #130
Hi @0ff!

Sorry for this. It should be fixed now. I changed the Examples and the Tests suite to use modules. So I added `use_frameworks`. and then I did `@import DATAStack;`.

https://github.com/hyperoslo/Sync/releases/tag/1.1.0

[2015-10-08 23:50] #130 closed

[2015-10-08 23:52] 3lvis commented on #125
Hi @bonebox,

I changed the Examples and the Tests suite to use modules now. So after adding `use_frameworks` to your code everything should work fine.

[2015-10-09 09:37] 0ff commented on #129
In fact I think the reason is Swift. If you follow these guidelines (https://developer.apple.com/library/prerelease/ios/documentation/Swift/Conceptual/BuildingCocoaApps/AdoptingCocoaDesignPatterns.html#//apple_ref/doc/uid/TP40014216-CH7-ID10 - namely return a BOOL to indicate success), the API can be ported to Swift 2.0 automatically.

[2015-10-09 10:07] 0ff commented on #130
Wow, you guys rock! Fastest time from Issue to perfect resolution I've seen in a very long time! Thanks, please keep on the great work :)

[2015-10-12 14:11] bonebox commented on #125
@3lvis, sure thing and thanks!  Will you be releasing an updated CocoaPod with those changes?  Since I'm using this in a framework with it's own podspec I can't point directly to a specific branch within a podspec like with a Podfile.

[2015-10-12 20:31] 3lvis commented on #125
@bonebox I did that a while ago, with Sync `1.1.0` => https://github.com/hyperoslo/Sync/blob/master/Sync.podspec

[2015-10-12 20:31] 3lvis commented on #125
https://github.com/hyperoslo/Sync/releases

[2015-10-12 21:25] bonebox commented on #125
Thanks, I see it now. It wasn't showing up for me when I checked earlier.

[2015-10-12 21:34] bonebox commented on #125
Ok, updated to 1.1.0, and now I get a crash when calling `Sync.changes`.  Looks to be an incompatibility with ordered sets.

[code]

[2015-10-13 05:59] 3lvis commented on #125
@bonebox Thanks for giving it a try, I'll check what's going on.

[2015-10-13 08:41] 3lvis opened #131 "Sync crashes with ordered sets"
Commented by @bonebox

[code]

[2015-10-13 14:22] 3lvis commented on #131
Fixed on 1.1.1

[2015-10-13 14:22] #131 closed

[2015-10-13 14:23] 3lvis commented on #125
@bonebox I found what was the issue, it should be working again on `1.1.1` thanks for your input, I can't imagine all the bugs if it wasn't for your help. :heart:

[2015-10-13 14:50] galinyonchev opened #132 "Help wanted: Using "Sync.changes.." does nothing?"
I need some help, guys. I am trying to understand how Sync works.
I have a core data model and a JSON file, which is almost the same like the data model. I have a patient with some basic info. One of the attributes is "country". In the core data model it is set to "USA" and in the JSON it is "England". When I use Sync, isn't it expected that my dataStack will change? Here is my code:

        let

[2015-10-13 14:55] 3lvis commented on #132
@galinyonchev could you share your `test.json` file and an screenshot of your Core Data model?

[2015-10-13 14:56] 3lvis commented on #127
Closing since we didn't got more information about this issue.

[2015-10-13 14:56] #127 closed

[2015-10-13 16:30] bonebox commented on #125
Hey @3lvis, glad I can help!  It's the least I can do for getting to use such a nice library :+1:

I tried `1.1.1` and everything looks like it's working properly!  Thanks!

[2015-10-14 08:45] galinyonchev commented on #132
JSON: http://pastebin.com/fwrucLzx
Core Data model:
![screen shot 2015-10-14 at 11 44 02](https://cloud.githubusercontent.com/assets/13518877/10478834/f381ddd6-7268-11e5-9f94-5d4cc3da5516.png)

self.fetchEntity function:
    // fetch entity in chosen context
    func fetchEntity(context: NSManagedObjectContext) -> Patient? {
        let fetchRequest = NSFetchRequest(entityName: "Patient")

[2015-10-15 07:31] 3lvis commented on #132
@galinyonchev Hi, I got an example of this Core Data model in the `Tests` project => https://github.com/hyperoslo/Sync/tree/master/Tests

The issue is that your Core Data models don't have a primary key and your JSON doesn't have a primary key neither. You need this in order for Sync to differentiate objects. So you can either add `remoteID` to each of your models and `id` to each of your JSON obj

[2015-10-15 07:31] #132 closed

[2015-10-15 12:01] zavod opened #133 "sync 2 json for relation models"
Thank you for great module. How is it works for split json sources for relations models?

For example:
First json categories:
{"id":4,"title":"body","text":"some description"}

second json types:
[{"id":51,"title":"some title","category":4,"text":""},
{"id":52,"title":"second title","category":4,"text":""},
{"id":53,"title":"third title","category":4,"text":""},
]

and two sync for this:
Sync.chan

[2015-10-15 12:23] 3lvis commented on #133
Hi @zavod,

We have something like this in the `Tests` project.

It goes like this

[code]

[code]

<img width="625" alt="screen shot 2015-10-15 at 14 22 03" src="https://cloud.githubusercontent.com/assets/1088217/10513481/20814c9c-7348-11e5-9a3b-9ba7fbccbf64.png">

So, basically after doing:

[code]

Just fetch the Category with ID `4` and use

[code]

[2015-10-15 12:23] #133 closed

[2015-10-15 15:51] zavod commented on #133
Thak you for your answer! Do you have some example for swift?

[2015-10-15 16:02] 3lvis commented on #133
@zavod not at the moment, but the API should be simple. Let me know if you need anything else :heart:

[2015-10-16 14:51] zavod commented on #133
Got it, thank you!

What about two parents? I mean three jsons and two parents

[2015-10-17 07:00] 3lvis commented on #133
@zavod for that you will need the full Category structure inside each Type, like in this example:

A user has one company:

[code]

[2015-10-17 07:22] 3lvis commented on #133
You can do objects that have many parents too, in this JSON a note

You send the parents in an array, but each of the parents need the complete JSON.

Like in this example, you get an array of tags, each tag has many notes.

[code]

[2015-10-20 23:54] samouds opened #134 "Sync 1.0.0 and iOS9 crash"
Hello,

I have an app in the App Store already and Crashlytics are reporting lot of crashes lately only for the iOS9 with this call stack :

[code]

And in the BG Thread
[code]

Any Idea about the cause ? I was not able to reproduce the bug to debug it.

[2015-10-21 06:14] 3lvis commented on #134
@samouds this could be a threading issue, are you making sure a Sync request doesn't start before the other ones are finished? Core Data is not so good at handling multiple writes to the database.

[2015-10-21 06:19] 3lvis commented on #134
@samouds any reasons for not using `Sync 1.1.1`? :eyes:

[2015-10-21 21:55] samouds commented on #134
Hello @3lvis and thanks for your answer, I need to support iOS 7 that's why I'm sticking to 1.0.0.
How can I be sure that a request doesn't start before ?

[2015-10-21 23:52] 3lvis commented on #134
@samouds A simple way can be using booleans to check if an operation has finished. O more fancy way can be using NSOperations.

[2015-10-22 23:58] cyupa commented on #112
Me again :open_mouth: It seems to me that Sync has some issues with synchronising contexts. I'm also using it with a NSFetchedResultsController... and Storyboards.

1. I load some data
2. Setup a NSFetchedResultsController on the main thread
3. Fetch (even with huge delays) -> NO DATA

The funny thing is that it sometime works, if I loose myself through breakpoints. And data is loaded in the UITab

[2015-10-24 07:52] 3lvis commented on #112
@cyupa this might be related to something different thought. https://github.com/3lvis/DATASource/issues/32#issuecomment-150020808 ?

[2015-10-24 12:56] samouds commented on #134
Thanks @3lvis I am going to check this and tell you if it fix the problem. Thanks a lot

[2015-10-24 12:57] samouds commented on #134
But one more question, why it's happening only in iOS 9 and not 8 and 7 ? do you have any idea ?

[2015-10-24 14:21] cyupa commented on #112
I did some rework on DATAStack (still need to learn Swift - https://github.com/cyupa/DATAStack/blob/master/Source/DATAStack.swift) and I was able to get the data into the UI.
I changed the context mapping to:
writerContext - mainContext - backgroundContext
Where writerContext is parent for main and main is parent for backgroundContext.
They all share the same persistent store coordinator via write

[2015-10-24 20:52] cyupa commented on #112
Ok, so my issue was related to the fact that the NSFetchResultsController sorting key was a transient property. You can't do that.

[2015-10-30 16:10] damienromito commented on #124
It would be very usefull if we can use Transformable objects with Sync. Of course, we can use Dictionary or Array with Binary Data, but it's a too complexe if we want get objects with real properties from those Dictionary:

`print("value => \(myNSManagedObject.myTransformableObject.myProperty)") `

...rather than :

[code]

[2015-10-31 07:15] 3lvis commented on #124
@damienromito Why not just create a new Core Data table for the new object?

[2015-11-02 08:54] damienromito commented on #124
Cause it would be a one-to-one relationship. To understand, my f****ing user object look like this:
[code]

[2015-11-02 12:00] 3lvis commented on #124
There are 3 observations here.

1.- All entities need a primary key. User entity and User JSON need a primary key. You can either add a `remoteID` attribute to your User table and a `id` to your User JSON, or you could tell Sync to use the `name` as the primary key.

More info here: https://github.com/hyperoslo/Sync#primary-key

2.- If your JSON says "access_token" Sync will map it to `accessToken

[2015-11-02 15:02] damienromito commented on #124
1 - as you explained to me here: http://stackoverflow.com/questions/33397102/assertion-failure-in-sync-changesinentitynamedpredicateparentincontextdat/33407185#33407185 I added the key hyper.isPrimaryKey = YES on the name attribute (thank you again)
 2 -it works without
3 - it works without
4 - the probleme : My UserSpotify was an NSObject and not an NSManagedObject #fail

 thank you for your help

[2015-11-02 18:12] 3lvis commented on #124
@damienromito let me know if you have any more issues, or if there's something that I should include in the README, :heart:

[2015-11-06 16:54] FelipeDocil opened #137 "Create an option to always add an Object (instead of removing)"
I'm working with pagination, and saw an weird behaviour using `change:`

When I request the first page, and pass the response object as parameters to `change:` it works pretty well, inserting at Core Data all the Objects was in the JSON.
But the problem happens when I request the second page, it adds the Objects that was in the second page but removes the Objects from the first page causing a wron

[2015-11-06 19:20] 3lvis commented on #137
Hi Felipe,

The only way at the moment is using a predicate for this. Your predicate says which items will be synced. For example you can say: "only sync items that belong to page 2", or "only sync items created after this date", or also "only sync items higher than ID: 125".

[2015-11-06 19:21] 3lvis commented on #137
The items that don't belong to this predicate will not be deleted or updated.

[2015-11-07 04:50] jairobjunior opened #138 "Carthage Support"

[2015-11-09 17:46] FelipeDocil commented on #137
Ok thanks, I'll try work with predicates, perhaps your idea using ID work for me.

Any plans to implement that in the future?

(btw, you can close the issue if you want)

[2015-11-09 18:52] 3lvis commented on #137
I have been thinking about adding something like this, I'm just afraid that adding something like this would increase the amount of support since people will suddenly start wondering why my items are not been updated or been deleted. I'll be implementing infinite scrolling on one of my apps so I'll check how to properly do this and if just having predicates will work.

I'll let you know how it wor

[2015-11-09 18:52] #137 closed

[2015-11-09 18:52] 3lvis commented on #138
Hi @jairobjunior!

I'm not a Carthage user myself, but feel free to add it with a pull request, would be awesome to have this. :heart:

[2015-11-16 12:40] jkblgithub opened #139 "Importing relationships by id"
This references closed issue #64. In that issue, the following json was presented:

[code]

We have a similar setup and before we sync products, we sync category and teamMembers. Can Sync handle this? At the moment an exception is thrown. If it can't, can you suggest a workaround please?

PS Thanks for this library - it is excellent!

[2015-11-16 12:46] 3lvis commented on #139
Hi @jkblgithub,

Could you share your Core Data model? Would be nice to understand the relationships.

Also I guess the exception is thrown here because the category contains just an `id` instead of a full category object. Which is what Sync wants.

Sync requires the full category object with `id`: 1 because if it's not found it will create it and attach it to project `id`: 12345.

What's the use

[2015-11-16 12:58] jkblgithub commented on #139
Hi @3lvis ,

Thanks for your quick reply. Our category entity is:

[code]

The reason why we dont want to serialize the category with each project is that it would be a massive duplication of data (we have many projects and each category can have quite a lot of text in overview). That is why we import categories first using Sync and then try to import projects - we were hoping that Sync would be a

[2015-11-16 13:07] 3lvis commented on #139
@jkblgithub that's correct, a workaround would be to just replace the `"category": 1` with the full object.

[code]

There's a simple way to generate the `json` representation of a category. For example this is how to convert a user managed object to JSON.

[code]

[code]

[2015-11-16 13:09] 3lvis commented on #139
Let me know if this fixes your problem, otherwise feel free to reopen the issue.

I'll make a new issue to see if we can add support for this in the feature.

[2015-11-16 13:09] #139 closed

[2015-11-16 13:14] 3lvis opened #140 "Sync relationships by only providing the id"
Today to sync a relationship you need the full JSON object. This is because Sync prefers to make sure that if the object isn't found in Core Data, it will just add it to Core Data and link it to the necessary objects.

For example if you had a list of projects that had a category inside (Project -- to one --> Category) the JSON should look like this:

[code]

But if you are super sure that the cat

[2015-11-16 13:17] 3lvis commented on #140
We could add a flag to the user info in the relationship, to clarify that only the ID has been provided.

Maybe something like `hyper.justForeignKey` : `YES`

[2015-11-16 14:20] jkblgithub commented on #139
Thanks @3lvis

Did not know about using HYP to create json from a managedobject - very handy.

Once again thanks for Sync and your help.

[2015-11-16 15:11] 3lvis commented on #139
@jkblgithub you're welcome :heart:

[2015-11-17 12:04] jkblgithub opened #141 "hyp_dateFromISO8601String causes crash"
I have been testing my app on the simulator on iOS 8.1 and iOS 9.1 without problem, but when I ran it on a device with iOS 9.1, I get a crash caused by hyp_dateFromISO8601String being passed "2015-11-13T09:36:13.184968Z". There are 2 issues here:

1. The crash
2. In situations where the crash does not occur, hyp_dateFromISO8601String returns null for the passed in string, although it is in fact va

[2015-11-17 12:07] 3lvis commented on #141
I think this is caused because handling of microseconds on ISO dates is not optimal. You'll see that if you remove the microseconds it works.

Made an issue to check this https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/issues/88

[2015-11-17 12:07] #141 closed

[2015-11-17 12:10] jkblgithub commented on #141
@3lvis Thanks - We ended up removing the microseconds and it works

[2015-11-17 15:31] antonholmquist opened #142 "Why are changes not refreshed in the main context?"
After changes are synced using the temporary background context, shouldn't the updates be refreshed in the main context using `refreshObject(_:mergeChanges:)` before completion?

I figure this is typically what you want. Or is there is a reason not to do this?

Thanks!

[2015-11-17 16:51] damienromito opened #143 "Why the "completion callback" of the Sync.changes() method doesn't return the NSManagedObject"
By exemple I want get the Message object in the completion callback like this:

[code]

Currently, I have to excecute a fetchRequest, whereas the object is probably already got in the "changes" method.

[2015-11-17 19:27] 3lvis commented on #143
You're right, internally there's a array of messages that got updated or inserted, but this items belong to a background thread, returning them wouldn't be safe.

Normally I use Sync in conjunction of NSFetchedResultsController which means that I don't face the need of fetching an array of changes. This is what I've been using: https://github.com/3lvis/DATASource

I hope this makes sense to you.

[2015-11-17 19:27] #143 closed

[2015-11-17 19:33] 3lvis commented on #142
Hi Anton,

Thanks for commenting on this, but I'm afraid I don't follow. [Today the changes get merged to the main context like doing](https://github.com/3lvis/DATAStack/blob/master/Source/DATAStack.swift#L189):

[code]

What's the specific use case for using `refreshObject(_:mergeChanges:)`?

[2015-11-18 08:24] antonholmquist commented on #142
Hi, thank for the quick reply. I get it, but I wonder when that notification is sent. Maybe not always at the exact same time the context is saved.

We are experiencing that the main context is not always updated by the time the completion block is called when merging changes, which could possibly be due the notification being sent when a small delay. I have not confirmed this though.

Forcing a r

[2015-11-18 08:32] 3lvis commented on #142
I guess this is for something that's not using NSFetchedResultsController. Would you mind sharing a snippet of what are you doing?

Would be great to get this fixed :)

The notification gets triggered in the when the `save` method gets called by the temporary `backgroundContext`.

[code]

[2015-11-18 09:04] antonholmquist commented on #142
Yes, exactly. Basically we are trying to fetch the updated object in the completion block using a fetch request. I'm not sure why the merge is not done at the done the completion block runs. Could possible be due the notification being delayed, but I'm not sure.

Will start by investigating and see if I can can track down what is happening.

Appreciate your support!

[2015-11-18 09:50] antonholmquist commented on #142
I'm a little confused. The notification is indeed called like expected, before the completion block.

Not sure this is a framework error. Will continue looking into it..

[2015-11-18 09:57] 3lvis commented on #142
I guess you're trying to do something like this?

[code]

[2015-11-18 14:10] 3lvis commented on #142
I think I found your use case, this is what I have in my app, and two ways of doing it:

**Fetcher**:

[code]

**Controller A**:

[code]

**Controller B**:

[code]

[2015-11-20 15:25] antonholmquist commented on #142
Thanks, I will have a look at this

[2015-11-20 20:25] bonebox opened #144 "Update instead of replace?"
Hey @3lvis !

I have a project where I need to add multiple objects of the same entity to Core Data at different times (and retain all of them).  It seems the default behavior of Sync is to delete everything and replace it each time you sync.  For other projects using Sync, I've worked around this by using a predicate along with the new object being sync'd of the kind `"remoteID == %@", newObject.

[2015-11-20 20:40] bonebox commented on #144
Actually, I just thought of a much simpler solution--after retrieving the JSON and before running Sync, do my own fetch to determine if the object already exists and if so, just don't run Sync.  This works in my case, since the attribute values never change for the same object.  This wouldn't work of course if an object's attributes can potentially change on the server.

[2015-11-20 20:41] 3lvis commented on #144
Hi @bonebox,

This certainly looks like a bug, in `Sync` if the object is in the JSON and in Core Data, it should be updated. If it's in the JSON and not in Core Data is inserted. Finally if it's in Core Data and not in the JSON then it's deleted.

Same should be for relationships. Would you mind sharing some details on how I can reproduce this issue so I can ensure we get the desired behaviour? T

[2015-11-20 20:44] 3lvis commented on #144
Also if an object is updated but the values are the same as before then the object doesn't get updated at all.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L33-L36

[2015-11-20 20:56] bonebox commented on #144
Hmm, the object I am testing with is definitely getting deleted each time and it's the same object.    The only thing I can think of is I am comparing date attributes in the predicate (that is also the primary key).  Below is what my code looks like for the predicate (`saveTimestamp` is set as a date attribute in Core Data).  Could that be causing some issue?

[code]

[2015-11-20 21:02] bonebox commented on #144
Perhaps this is what's happening?  It's not seeing it as a match so the current object is being deleted, and the new inserted?

[2015-11-20 21:25] 3lvis commented on #144
@bonebox that could be. Both items need to have the same `remoteID` in order to be considered the same.

[2015-11-20 21:29] bonebox commented on #144
I am setting the `saveTimestamp` attribute as the primary key using `hyper.isPrimaryKey`, so wouldn't it be treated as such?

[2015-11-20 21:53] 3lvis commented on #144
sure, although `NSDate` doesn't seem like the best primary key since a slightly millisecond change or timezone change would cause your objects to think they are not unique.

[2015-11-20 21:56] bonebox commented on #144
True, although in my case this is fine, since if the date changes at all it means the object has been updated on the server and thus I want a new entry in Core Data.  Also, the server object has no other unique attributes to use as a primary key.

[2015-11-21 15:12] 3lvis commented on #144
Do you have an example of the date that you're getting from the backend? Miliseconds could make the entire difference between dates.

[2015-11-21 15:30] bonebox commented on #144
Yes, I'm feeding it dummy JSON at the moment, so the date never changes for my testing. It is always `2015-10-07T22:39:49.585Z`.  After passing it to `NSDate.hyp_dateFromISO8601String` the NSDate output is `2015-10-07 22:39:49 +0000`.  This matches what's already in Core Data.

[2015-11-22 11:51] 3lvis commented on #144
I wish we could figure out a way to reproduce this bug, it's not happening on my unit tests.

[2015-11-22 12:00] 3lvis commented on #142
I guess we could re-fetch **all** the items on the main thread and call `refreshObject` but this might be an overkill since if you're using NSFetchedResultsController it does it for you. I guess you want only **one** item to be refreshed the same way that I showed in my example above. In that case it's easier for you to just refresh that item doing:

[code]

Closing this for now. Thanks for your i

[2015-11-22 12:00] #142 closed

[2015-11-22 12:12] f1nality opened #145 "Looks like Smart-updates not working"
Hello,
I'm using Sync to update my managedobjects.
I retrieve 1000 objects from my api and use Sync.changes to update objects. Though there are absolutely no changes since last fetch 200+ objects are being refreshed (from NSManagedObjectContextObjectsDidChangeNotificationt).

NSFetchedResultsControllers also update the whole collectionview as number of updates is rather big.

As a result I get col

[2015-11-22 12:33] 3lvis commented on #145
@f1nality Hi Denis,

I tried the AppNet demo (I also added logging to that Demo).

You can try it with `pod try Sync` on your terminal.

The things that you have mentioned work without problems. Also logging works fine.

<img width="1177" alt="screen shot 2015-11-22 at 13 33 33" src="https://cloud.githubusercontent.com/assets/1088217/11323789/a71d990c-911d-11e5-8290-baba2aa06d6d.png">

[2015-11-22 12:35] 3lvis commented on #145
@f1nality I think the issue might be due the mapping between your Core Data model and your JSON.

Do you have `id` in your JSON and `remoteID` in your Core Data model? Could you share an screenshot of your Core Data relationship and an example of your JSON?

[2015-11-22 12:49] f1nality commented on #145
I have noticed that when I have used Sync.changes with predicate logging started to contain "inserted" key with lots of entries (400+) though it should containt "update" key. When I use Sync.changes without predicate only "refreshed" key is being logged.

Yes, I have id and remoteID fields.
Here is my data:

<img width="557" alt="models" src="https://cloud.githubusercontent.com/assets/1628232/1132

[2015-11-22 12:58] f1nality commented on #145
By the way, my remoteID is Integer32 (in comparison to demo)

[2015-11-22 12:58] 3lvis commented on #145
How does your Sync method looks like? Would be nice to see how does the predicate looks like :)

[2015-11-22 13:00] f1nality commented on #145
[code]

[2015-11-22 13:06] 3lvis commented on #145
@f1nality Could you try un-commenting the following lines in your local copy of Sync?

https://github.com/hyperoslo/Sync/blob/master/Source/Sync.m#L90-L98

[2015-11-22 13:11] f1nality commented on #145
Now it crashes:

[code]

[2015-11-22 14:03] f1nality commented on #145
where is it checked whether model should be updated or not (is it changed or not)?

[2015-11-22 14:56] f1nality commented on #145
hmm, when I try to manually update one object everything ok

[code]

But when I fetch from api - i get inserts instead of refresh

[2015-11-22 15:18] 3lvis commented on #145
This sentence sounds similar to this other issue. https://github.com/hyperoslo/Sync/issues/144

I'll use your example to check what's going on. Thanks :heart:

[2015-11-22 15:19] 3lvis commented on #144
Hi @bonebox, by any chance is this new behaviour (meaning that it was working before) or is the first time you find the issue.

[2015-11-22 15:32] f1nality commented on #145
Yes, very similar. Looks like old object is being deleted and inserted again.

[2015-11-22 15:42] f1nality commented on #145
@3lvis
I've noticed strange behavior:
If if specify concrete objects in predicate and try to update them - everything ok.
But if don't provide predicate, all objects are being deleted and only objects I have passed to "changes" argument are created.

[2015-11-22 16:54] f1nality commented on #145
This workaround at least works for me as expected (objects are refreshed and not recreated)

[code]

[2015-11-22 22:23] 3lvis commented on #145
That sounds like expected Sync behaviour: If the object is in the JSON and in Core Data, it should be updated. If it's in the JSON and not in Core Data is inserted. Finally, if it's in Core Data and not in the JSON then it's deleted.

Using a predicate: Sync fetches the objects from Core Data using the predicate, then it does the same procedure as the one mentioned before but instead of using all

[2015-11-22 22:47] zenangst commented on #142
Ohai @antonholmquist  **waves** :grin:

[2015-11-22 22:50] f1nality commented on #145
wow, ok then. But if I specify no predicate and pass objects - it also deletes and inserts objects which were in coredata (this was original problem).

By the way, how in this case should api pagination should be implemented using sync? I make requests to api with specified "page" and get only part of data. When I try to sync it - all other pages in core data will be deleted.

[2015-11-23 13:58] bonebox commented on #144
@3lvis well this is a new project, so it was doing this from the beginning with the latest version of Sync.

[2015-11-23 14:52] 3lvis commented on #144
@bonebox Thanks! And congrats on the new project :tada:

[2015-11-23 15:02] antonholmquist opened #146 "Syncing an object twice in a short time yields duplicates"
Since each sync is done on a separate context in a separate thread they are run in pararell. This creates a race condition where each context will not know about the other context inserting the same object at the same time.

I quick fixed this by using a single background context for every `performInNewBackgroundContext` call.

[2015-11-23 15:04] antonholmquist commented on #142
Yo @zenangst!

Thanks for a useful lib :)

[2015-11-23 15:08] 3lvis commented on #146
@antonholmquist This is correct, syncing the same resource isn't safe. I think this is related to #93.

When I have many Syncing methods I usually chain them so one doesn't start before the other one. Having NSOperation support would work great too.

[2015-11-23 15:08] #146 closed

[2015-11-23 15:35] antonholmquist commented on #146
Thanks. But don't you think this should be handled by the library? It can sometimes be tricky to know if other parts of your app is syncing simultaneously, but it is pretty easy to enforce in the library.

[2015-11-23 16:07] 3lvis commented on #146
@antonholmquist you're right, would be great if we could handle this internally. Any ideas? So far I only could come up with the NSOperation way.

[2015-11-23 16:12] antonholmquist commented on #146
My quickfix was just to rewrite the `performInNewBackgroundContext:` method to use a single context instead of a new one each time. It makes the blocks performed by the context run synchronously.

[code]

[2015-11-24 06:35] 3lvis commented on #146
@antonholmquist Hi Anton,

Interesting workaround, I remember having a shared backgroundContext before, but Core Data is *very* fragile. Sharing managed object contexts means even more shared state. I would prefer to keep this as it is. I have checked other "Core data wrappers" for example the [Big Nerd Ranch](https://github.com/bignerdranch/CoreDataStack#-creating-a-worker-context) one and they d

[2015-11-24 08:45] 3lvis commented on #145
This definitely looks like a bug. I'll have a look when I get some time.

You'll need to find a way to differentiate objects that belong to each page. Otherwise Sync doesn't have a way to know what got deleted in each page.

[2015-11-24 09:06] antonholmquist commented on #146
I would actually argue that a backgroundContext should be more stable! Having multiple contextes, each on its own thread, syncing in pararell introduces both a risk for duplicates (which we saw here) as well as potential merge conflicts.

Yes, having sync operations as NSOperations could pretty much solve the same issue. As would using a single background dispatch queue for all sync code. It's all

[2015-11-24 09:31] 3lvis commented on #146
I agree, changing the behaviour of background contexts sounds more like a workaround to me. If we add NSOperation support we'll be killing two birds in one store since we would also be able to cancel Sync operations https://github.com/hyperoslo/Sync/issues/93

[2015-11-24 10:25] f1nality commented on #145
I have found out that I was wrong about reason of this bug, it's not about predicate. This happened because I made simultaneous requests that fetched the same data. As a result sync added duplicates (but shouldn't?) and possible has broken something in db. After that this delete/insert operations happens after every request (even with predicate and without it). Only db clearing helps.
What it inte

[2015-11-24 10:33] 3lvis commented on #145
@f1nality so you have been calling `sync.changes` multiple times? sometimes before it has even finished? That should definitely cause duplicates.

Duplicates get deleted because we have a method that clears duplicates. If there's two objects with the same `remoteID` (primary key) those items get deleted.

https://github.com/3lvis/DATAObjectIDs/blob/master/Source/DATAObjectIDs.m#L39-L47

[2015-11-24 10:55] f1nality commented on #145
@f1nality yes. Looks like duplicates are being deleted after later requests, but something still stays broken and I begin to receive delete/insert notifications on data which hasn't changed.

This is not about this issue's problem - I mean it would be nice if I can turn off deleting of objects in core data which was not present in API request response. e.x. `Sync.changes(data, inEntityNamed: "Mode

[2015-11-24 11:14] 3lvis commented on #145
If you were using something like that, how would you delete non existing items then? What happens if items get deleted from your backend?

[2015-11-24 11:19] f1nality commented on #145
1. I add `deleted' boolean property. Than I can manually delete them in core data by this field, or just hide them and not delete at all (its often useful not to really delete objects as they may be deleted occasionally or something else).
2. More often I don't need ability to delete at all

[2015-11-24 11:57] 3lvis commented on #137
Hi @FelipeDocil, I would like your feedback with something.

If you were using something like that, how would you delete non existing items then? What happens if items get deleted from your backend?

[2015-11-24 15:22] tpmullan commented on #140
Where would be the best place to add this change?  My first guess is to add a function like sync_processToOneRelationship that only takes an id.  The function would only be called when "hyper.justForeignKey : YES" was set.  Then I can reuse sync_safeObjectInContext and add the relationship.

[2015-11-25 13:41] FelipeDocil commented on #137
Actually that's a nice question that I haven't think about. Until now I'll have a 'ghost' User at my database.

To fix my problem I made a method at User.m doing something like that.

[code]

And at `dictionaryFromUser:` I reparse all User I have at CoreData, something like `@{@"id" : user.remoteID}` and so on with all attributes User has.

Actually I have to think about how I'll do that, that's a

[2015-11-25 13:45] FelipeDocil commented on #137
Btw the `id` solution didn't work for me because I use it at a `SearchView` so, every time I searched a few Users I got all my Users deleted.

[2015-11-25 14:23] 3lvis commented on #137
@FelipeDocil when you search you could include the search predicate to your Sync method, though.

[2015-11-26 08:30] 3lvis commented on #140
@tpmullan

I meant that if today there are people using `category_id` to just store the category_id then it could break, but we could just find a way to not break it. :)

Right now I'm trying to figure out the other case scenarios.

1.- We have two entities: User and Category. Each category has an id and a name, each user has an id, a name and a category_id.

Here it would be easy, you first sync

[2015-11-26 15:15] 3lvis commented on #140
Test models with multiple letters

[2015-11-27 11:25] damienromito commented on #143
I don't find no use of Sync in your DATASource Project https://github.com/3lvis/DATASource

That is great but I have to excecute an API request to get JSON data:

[code]

[2015-11-27 12:00] 3lvis commented on #143
Yeah, DATASource is not connected to Sync. DATASource is just a NSFetchedResultsController wrapper.

[2015-11-27 12:01] 3lvis commented on #143
I think I found your use case, this is what I have in my app, and two ways of doing it:

**Fetcher**:

[code]

**Controller (version A)**:

[code]

**Controller (version B)**:

[code]

[Fill with dictionary method](https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper#filling-a-nsmanagedobject-with-json)

[2015-11-28 06:39] 3lvis commented on #64
I've been working on this in #140

Should be ready at the end of next week.

[2015-11-28 06:39] 3lvis commented on #139
I've been working on this in #140

Should be ready at the end of next week.

[2015-11-28 06:55] 3lvis commented on #140
Right now number 1 is being added and tested, I even added test for entities that have multiple words so: "ChallengingGoal" gets mapped to `challenging_goal_id`, if you do `lowercase` then it gets changed to `challenginggoal_id` which is not what we want.

[2015-11-28 06:56] 3lvis commented on #140
Case number 2 should work fine in the current setup but I would like to add a test for it. Then I'll have a look at number 3, then let this feature cooldown for a bit on `master` and make a new release next Friday.

[2015-11-28 07:41] jkblgithub commented on #139
Excellent - thank you!!

[2015-11-30 15:34] tpmullan commented on #140
Good set of edge cases.  The way I structured my data made it work for me, but it wasn't very generic.  I will test your version this week.  Thanks!

[2015-12-02 14:58] 3lvis commented on #138
Closing since @jairobjunior, doesn't seem to be interested in adding support for this :cry:

[2015-12-02 14:58] #138 closed

[2015-12-10 14:12] 3lvis commented on #140
Might be interesting to handle a special case for people that have `category` instead of `category_id`.

[2015-12-11 06:47] 3lvis commented on #134
Closing this for lack of steps to reproduce, please reopen if there's a way we can reproduce this bug.

Thanks :heart:

[2015-12-11 06:47] #134 closed

[2015-12-11 11:54] violabg commented on #140
Is this already available in the current release?

[2015-12-11 12:15] 3lvis commented on #140
@violabg Only on master.

[2015-12-11 13:23] 3lvis opened #151 "Sync to-many relationships only providing an array of ids"
In https://github.com/hyperoslo/Sync/issues/140 we added syncing to-one relationships by only providing the id, this is standard in frameworks like Ruby on Rails, but for consistency would be nice if we also supported sending an array the ids for to-many relationships.

For example instead of:

[code]

You would need:

[code]

[2015-12-11 13:24] 3lvis commented on #140
I made a separate issue for the to-many mapping. https://github.com/hyperoslo/Sync/issues/151

Closing this.

[2015-12-11 13:24] #140 closed

[2015-12-11 13:24] 3lvis commented on #140
I also improved the README so it shows that this is possible.

https://github.com/hyperoslo/Sync#relationship-mapping

[2015-12-11 13:34] 3lvis commented on #140
This is included on 1.3.0 now

https://github.com/hyperoslo/Sync/releases/tag/1.3.0

[2015-12-11 14:57] violabg commented on #140
Thanks for the reply.

I can't figure it out the way to structure my json in order to be converted to my model.

![screen shot 2015-12-11 at 15 48 37](https://cloud.githubusercontent.com/assets/3963176/11746555/ecca8f86-a01e-11e5-946b-4e7d7c214860.png)

basically I have a list of languages and categories, plus a list of Brochures that are group by language and category.

could you help me understa

[2015-12-11 15:11] 3lvis commented on #140
@violabg please make a new issue for this.

[2015-12-11 15:13] 3lvis opened #152 "JSON Help"
Thanks for the reply.

I can't figure it out the way to structure my json in order to be converted to my model.

![screen shot 2015-12-11 at 15 48 37](https://cloud.githubusercontent.com/assets/3963176/11746555/ecca8f86-a01e-11e5-946b-4e7d7c214860.png)

basically I have a list of languages and categories, plus a list of Brochures that are group by language and category.

could you help me understa

[2015-12-11 15:13] 3lvis commented on #140
@violabg I made a new issue for this https://github.com/hyperoslo/Sync/issues/152

[2015-12-11 15:15] 3lvis commented on #152
Hi @violabg.

First of all, change the `id` for `remoteID`.

[2015-12-11 15:18] 3lvis commented on #152
if your JSON is a list of brochures then you need something like this:

[code]

[2015-12-11 15:38] violabg commented on #152
Thanks 3lvis,

I thought so, but I have a problem with that.
you see the property thumb for category? that is an image (binary data).
I have maybe 500/800 brochures and only 10/15 categories and I don't want to repeat the same category (including thumb) for 500/800 times.

that is why I was looking at
Sync relationships by only providing the id #140

[2015-12-11 15:44] 3lvis commented on #152
@violabg I see, if you have all the categories synced then you can do:

if your JSON is a list of brochures then you need something like this:

[code]

[2015-12-11 15:49] 3lvis commented on #152
You need to separate the syncing of categories and languages first. Then you should do the brochures syncing.

[2015-12-11 16:34] violabg commented on #152
thanks, is working

[2015-12-11 16:40] 3lvis commented on #152
Great!

[2015-12-11 16:40] #152 closed

[2015-12-13 09:53] violabg opened #153 "Update notification not fired"
When I receive a new json I need to do some clean up on my local data. For each deleted object I need to delete files the a user could have download, and the same is true for each update, where I need to delete the previously downloaded files and set a property that marks the update status.
I'm kind of new to core data son I thought to use notification:

[code]

I don't know if there is a better p

[2015-12-13 09:56] violabg commented on #152
I'm using your AppNet sample as a test base for may data and syncing the data this way:

[code]

do you think is the correct way=

[2015-12-13 14:20] 3lvis commented on #152
@violabg What do you mean? Are you getting errors?

[2015-12-13 14:26] 3lvis commented on #153
Hi, I just tried [running the AppNet example](https://github.com/hyperoslo/Sync/tree/master/AppNet) and inserts, updates and deletes are working fine. Also getting the notifications works, too.

<img width="1175" alt="screen shot 2015-12-13 at 15 24 30" src="https://cloud.githubusercontent.com/assets/1088217/11767431/a6e457d2-a1ad-11e5-93f8-65682bc5470c.png">

[2015-12-13 14:28] 3lvis commented on #153
I'll close this since I'm not able to reproduce your error. Could you provide an screenshot of your Core Data model? And example of the used JSON(s)?

[2015-12-13 15:13] violabg commented on #153
I have used your AppNet example, only thing i did I saved a local copy of the json to test the changes manually

[code]

if I change the data text property, I see it on the ui (table view), but not updatedObjects is trigger.
Should't it count has an update?
Even on your screenshot the updatedObjects is nill

[2015-12-13 15:20] 3lvis commented on #153
Let me check :)

[2015-12-13 15:20] violabg commented on #152
No errors, since you said "if you have all the categories and languages synced then you can do

[code]

I was wondering if doing it on the same json fetch on each completion block was the appropriate way to do it.

[2015-12-13 15:50] violabg commented on #152
Actually I'm getting some problems, related to notifications, when the json changes I'm getting correct notification only from the language entity, while for PdfCategory and Brochure I'm only getting inserted notification, (the core data always get updated). it is similar to issue #153.

For me it is important to keep track of changes from one json to another one, since I have to do some clean up,

[2015-12-13 16:22] 3lvis commented on #153
Hi @violabg! Thanks for reporting this issue. Indeed, I'm not getting any notifications for updated objects. I'll have a look.

[2015-12-13 16:24] 3lvis commented on #152
@violabg lets keep the conversation on #153 :)

[2015-12-13 16:25] 3lvis commented on #153
@violabg Related to reacting to deleted elements, normally I would do it with something like [`DATASource`](https://github.com/3lvis/DATASource) where it has a delegate that tells you about deleted elements but might be nice to get something like that for Sync. I'll think about it. I have a similar use case and having that logic in Sync might be better than having it in DATASource which lives in t

[2015-12-13 16:29] violabg commented on #153
ok, great

[2015-12-13 17:05] 3lvis commented on #153
There you go

https://github.com/hyperoslo/Sync/blob/master/AppNet/Networking.swift#L27-L57

[2015-12-13 17:05] #153 closed

[2015-12-13 17:18] 3lvis commented on #153
<img width="918" alt="screen shot 2015-12-13 at 17 56 12" src="https://cloud.githubusercontent.com/assets/1088217/11768212/de51ae00-a1c5-11e5-995b-f912b1f87486.png">

[2015-12-14 13:43] violabg commented on #153
Hi 3lvis, I'm trying your new build with the local example, but now updatedObjects it is always dispatched even if you don't cache anything on the json

[2015-12-14 13:59] 3lvis commented on #153
@violabg > updatedObjects it is always dispatched even if you don't cache anything on the JSON.

I don't follow, could you explain, please?

[2015-12-14 14:05] violabg commented on #153
I have changed the code to use the local json:

[code]

now every time I run the up the console always print this: (no changes were made on the json)

<img width="882" alt="screen shot 2015-12-14 at 15 00 50" src="https://cloud.githubusercontent.com/assets/3963176/11782783/83a02974-a273-11e5-8b3b-914ed49ef5c0.png">

you can reproduce this by running the app many times

[2015-12-14 14:20] 3lvis commented on #153
@violabg that's how it works, it updates existing items.

[2015-12-14 14:22] 3lvis commented on #153
This is the code that checks if the value has changed before doing any updates, I guess it's not so smart for elements that have relationships.

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L33-L36

[2015-12-14 14:25] violabg commented on #153
but it does even if there are no changes

[2015-12-14 14:28] violabg commented on #153
what I see is that with the same json, no property or entities changes, just running the app many times, I get the screen shot above, where it prints updatedObjects, but it shouldn't since the data is the same.

[2015-12-14 14:33] violabg commented on #153
I debugged NSManagedObject+HYPPropertyMapper and non changes where found, but still get updatedObjects notification

[2015-12-14 14:34] 3lvis opened #156 "Update notification is fired, even if there are no changes"
1.- Open AppNet example
2.- Move to local sync
3.- Run many times

Current:
- First time, inserted objects are notified
- Afterwards, updated objects are notified

Expected:
- First time, inserted objects are notified
- Afterwards, no inserted, updates or deleted objects are notified

In only happens in objects that have relationships.

[2015-12-14 14:35] 3lvis commented on #153
@violabg Made an issue for it :)

https://github.com/hyperoslo/Sync/issues/156

[2015-12-14 14:36] 3lvis commented on #156
I have the theory that this only happens in objects that have relationships. https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L33-L36

I haven't checked that though.

[2015-12-14 15:23] 3lvis commented on #153
Feel free to submit a fix :bouquet:

[2015-12-14 16:26] violabg commented on #153
I can confirm that this only happens to entities that have relationships

[2015-12-14 18:36] 3lvis commented on #153
@violabg Thanks! That helps :)

[2015-12-15 13:56] 3lvis opened #157 "Crash when mapping relationships"
![screen shot 2015-12-15 at 14 49 53](https://cloud.githubusercontent.com/assets/1088217/11812395/ecce669a-a33b-11e5-8860-3019f78e090a.png)

Location dictionary:

[code]

[2015-12-15 13:58] 3lvis commented on #157
File NSManagedObject+Sync

Crash on `[filteredObjectDictionary andy_valueForKey:remoteKey]`
<img width="1067" alt="screen shot 2015-12-15 at 14 57 59" src="https://cloud.githubusercontent.com/assets/1088217/11812447/401c1de2-a33c-11e5-87af-61e717e43193.png">

[2015-12-15 14:39] 3lvis commented on #157
Proposed fix:

On line 33

`if (filteredObjectDictionary && [filteredObjectDictionary isKindOfClass:[NSDictionary class]]) {`

[2015-12-15 15:17] 3lvis commented on #157
Method

[code]

[2015-12-15 16:27] doohoo opened #158 "Use hyper.remoteKey (or something similar) for setting the key thats provided to sync the relationship."
Hello.

Nice feature update of the relationship syncing provided by only the ID.
However.. currently the `keyName` is created from the entity name + `_id`. (Right me if im wrong :), im just looking at https://github.com/hyperoslo/Sync/pull/147/files)
Is there a way to set it to something else?
Lets say the API you are currently working with are returning the relationship id like this: `categoryID`

[2015-12-15 17:43] 3lvis commented on #158
@doohoo Hi Doo!

At the moment only `category_id` is supported.

You could workaround this by modifying your JSON first.

In the future would be nice to add support using `hyper.remoteKey`.

[2015-12-17 09:14] galinyonchev opened #159 "Crash when trying to sync abstract entity."
Dear Sync support,

I have the following problem:

I have a Patient object, which has attributes firstName, lastName, email, etc., and measure. This measure is of type NSSet and it is an abstract entity. It splits into three different objects - Alcohol, Fitness and Weight, which inherit Measure. So, for example, the Patient JSON is something like this:

[code]

So, what I am trying to do is to syn

[2015-12-17 09:29] 3lvis commented on #159
@galinyonchev Hi could you share an screenshot of your Core Data model, please? Having the structure is important to see what's going on behind the scenes.

Thanks!

[2015-12-17 09:55] galinyonchev commented on #159
Have a look here:

![screen shot 2015-12-17 at 11 52 56](https://cloud.githubusercontent.com/assets/13518877/11866634/0976a472-a4b5-11e5-8f19-782edb4bd3de.png)

[2015-12-17 11:34] 3lvis commented on #159
@galinyonchev first of all you're missing the reverse relationship on Measure, with Alcohol, Fitness and Weigth.

<img width="1063" alt="screen shot 2015-12-17 at 12 34 36" src="https://cloud.githubusercontent.com/assets/1088217/11868760/8be7bcfc-a4ba-11e5-92e1-7cf5d4f8cad2.png">

[2015-12-17 11:42] 3lvis commented on #159
@galinyonchev first of all you're missing the reverse relationship on Measure, with Alcohol, Fitness and Weight.

<img width="884" alt="screen shot 2015-12-17 at 12 42 22" src="https://cloud.githubusercontent.com/assets/1088217/11868918/a0f3711c-a4bb-11e5-9b70-499e25743e77.png">

[2015-12-17 11:53] 3lvis commented on #159
@galinyonchev as you can see in my example, every entity has a primary key. Also, every element needs it's own JSON object.

For your structure, Sync would expect something like this.

[code]

[2015-12-17 12:01] 3lvis commented on #159
The biggest problem here is that Sync doesn't understand `object_type`. So, if you want to use Sync with your same JSON structure, I would recommend you to move all the attributes from Alcohol, Fitness and Weight and move them to the Measure entity, something like this:

<img width="637" alt="screen shot 2015-12-17 at 13 00 11" src="https://cloud.githubusercontent.com/assets/1088217/11869217/3ae4b

[2015-12-17 12:02] #159 closed

[2015-12-22 09:07] galinyonchev commented on #159
OK, now I use predicate as you said in your last comment. The problem is that I try to sync my Core Data object (Patient) with JSON that contains only two of patient's attributes - GUID (my primary key) and the measures. It just does not update the Patient object. To make it work I have to add two more attributes and then Sync recognizes it and updates the Patient object. Do you know what is wrong

[2015-12-22 09:52] 3lvis commented on #159
@galinyonchev What's the primary key of the measure object? Also, wouldn't `measures` be better? Since it's an array.

[2015-12-22 09:53] galinyonchev commented on #159
Primary key of measure object is "date". Yes, measures will be better, I will change it.

[2015-12-22 09:54] 3lvis commented on #159
If date is the primary key, then in your example, those items will be replaced since both have the same date. I'll have a look at what's going on. I guess the `guid` is the primary key of Patient.

Will try to reproduce your issue and get back to you :)

This should work just fine.

[2015-12-22 09:59] galinyonchev commented on #159
Yes, *guid* is the primary key of *Patient*.
Primary key of *measure* is *date*.

So, is it a problem that my measure items have the same primary key?

[2015-12-22 10:05] 3lvis commented on #159
@galinyonchev of course, primary key needs to be unique.

[2015-12-22 14:31] galinyonchev commented on #159
OK, I made the change, now Measure has an attribute "remoteID" which is the PrimaryKey. It still needs 4 attributes in the JSON (measures, guid and two others) to update the Patient object. I have no idea why this is happening... :(

[2016-01-03 02:58] wuxiao356 opened #161 "Diff probelm for using remoteID"
In my project, when a user added a new data entry, I saved it locally first by inserting it into the mainContext and saving it. Also I set this new data entry's remoteID to be the most recent data entry's remoteID + 1. Then I posted the new data to server.

But later, when I tried to get all the data from sever and sync them with local core data. It ended with adding another new data entry not upd

[2016-01-03 10:39] 3lvis commented on #161
Hi @wuxiao356,

I remember this been reported earlier. Could you try saving your new data entry using a new backgroundContext instead of a mainContext?

I didn't set up the main context to be mutable, that's why you probably have this issues. If this fixes your problem I'll improve the documentation to be clear about this.

Have a great day :)

[2016-01-08 03:31] henryhardy opened #162 "Feature Request to add Update and Delete functions to Sync"
Hello =]

I love your framework, and would like it to become the one stop shop style thing for all of your CoreData needs. Currently though, it's obviously designed mainly around the 'Sync' functionality it's named after.

For example, if I were to want to just delete an entry, currently I'm not able to do that in Sync. Given the beautiful syntax and ease of use, use of background threads etc, it

[2016-01-08 08:42] 3lvis commented on #162
Hi Henry,

Thanks for writing us, it's great to hear that you like Sync, I use it in all my projects :grin:!

I've been thinking on how to expand the functionality for the rest of methods, your proposal for delete makes a lot of sense and looks beautiful btw.

Regarding:

I guess having a separate `update` method could work here instead of adding more complexity to the main Sync method.

Finally,

[2016-01-14 17:25] 3lvis commented on #161
Closing since no feedback has been received from @wuxiao356

[2016-01-14 17:25] #161 closed

[2016-01-14 17:26] 3lvis commented on #153
Just submitted a fix for this

https://github.com/hyperoslo/Sync/pull/163

[2016-01-14 22:30] #156 closed

[2016-01-15 15:31] 3lvis commented on #162
Insert would be cool, too.

[2016-01-17 02:19] iroller opened #164 "Examples with Alamofire"
A few examples on using Sync with Alamofire would be very useful.

Thanks for all the work Sync btw. Just started to use it and love it.

[2016-01-17 04:47] defal7 commented on #164
I'll do this for you and chuck a pull request up this evening for you @iroller

[2016-01-17 09:28] 3lvis commented on #164
@defal7 Probably you could update the [AppNet](https://github.com/hyperoslo/Sync/tree/master/AppNet) demo to use Alamofire.

[2016-01-18 02:49] henryhardy opened #168 "Better error handling for AnyObject being passed in."
So obviously we can do errors in our completion handler, but i am wondering if anyone has an effective way to do error handing for the data that you actually pass in, or if there is a way for Sync to actually skip to the completion handler and throw an error before it causes a crash.

For example, it would be idea if i could pass in something totally whack like

Sync.changes(
  changes: "hello how

[2016-01-18 09:30] 3lvis commented on #168
Hi Henry!

I have a fix for this, we can use Swift's better type system to enforce the right type in this cases.

[2016-01-21 12:32] 3lvis commented on #168
Hi @henryhardy,

I rewrote some parts of Sync in Swift and type safety is now 93,56% better! For example now it's very clear that the `changes` part requires an array of dictionaries.

https://github.com/hyperoslo/Sync/blob/master/Source/Sync.swift#L8

[2016-01-21 12:32] #168 closed

[2016-01-21 12:43] 3lvis commented on #164
Checkout https://github.com/hyperoslo/Sync/tree/master/AppNet

[2016-01-21 12:43] #164 closed

[2016-01-27 20:44] GlaucoNeves opened #177 "Sync.changes is freezing main thread"
Hi, first of all, thanks for the great library!

I'm using Sync to synchronize an array with more than 10.000 entries. While I was debugging the code I saw the code is taking about 2 minutes to create the entities from JSON, running in background, that's ok. But after that, when the Sync code calls the context.save() my GUI freezes for about 45 seconds. I notice context.save() runs in background,

[2016-02-01 09:20] 3lvis commented on #177
Hi @GlaucoNeves,

Thanks for reporting this. I'll see what we can do but I can't promise so much since it could be an edge case.

Do you have any possible solutions in mind?

Best,

[2016-02-03 11:05] GlaucoNeves commented on #177
Hi @3lvis

I had to go with an in house solutions, the limitations I had with Sync were:
- We use paginated request, but we don't have the identification inside each page, so we didn't find a way to not lose the objects from Core Data that weren't in that page.
- There wasn't a mechanism to detect duplicates inside the json.
- We have more than one property that composes the 'primary key'
- And th

[2016-02-04 08:13] 3lvis commented on #177
Thanks @GlaucoNeves!

[2016-02-09 00:34] 3lvis commented on #86
Haven't found this to be a problem, sounds like an edge case. Closing.

[2016-02-09 00:34] #86 closed

[2016-02-09 00:35] 3lvis commented on #107
This would be a nice feature but the downsides will be quite considerable. For example an increase of support cause by bugs in other frameworks.

Closing this one, sorry.

[2016-02-09 00:35] #107 closed

[2016-02-09 00:36] 3lvis commented on #129
This seems to be gone now that we have a Swift codebase. Closing.

[2016-02-09 00:36] #129 closed

[2016-02-09 00:36] 3lvis commented on #144
Related to https://github.com/hyperoslo/Sync/issues/162

[2016-02-09 00:36] #144 closed

[2016-02-09 08:56] #158 closed

[2016-02-12 15:49] wainglaister commented on #151
The name of the array should also be configurable with `hyper.remoteKey`.

[2016-02-12 17:13] wainglaister opened #179 "Relationship mapping chooses the wrong relationship"
Consider 2 entities each having 2 bi-directional relationships to each other. For instance, a route with a start and end location. The relationship mapping in `NSManagedObject+Sync` uses `relationships.first` to choose the destination and determine the key. In this case the same object will be mapped into the start and end relationships.

[2016-02-29 10:25] wh33ler opened #182 "Progress Information"
Would it be possible to add progress information to the sync changes call? I have a lot of Sync parts that take very long and would like to show the current progress to the user. Is this even possible to build in?

[2016-02-29 11:42] tommypeps commented on #182
NSProgress
https://developer.apple.com/library/prerelease/ios/documentation/Foundation/Reference/NSProgress_Class/index.html

[2016-03-02 16:14] szwicker opened #183 "Carthage support"
Will you provide Carthage support in the future?

[2016-03-02 22:03] macfurin opened #184 "Predicate on child entity"
Consider 2 entities having one-to-many relationship (Plan <-->> Workout).
How to proceed to sync only workouts with distance nil in Core Data ? I cannot specify a predicate on Workout (just ANY workouts.distance = nil on Plan) and in this case all workouts are synced.
I also tried to sync Plan first and then Workout (with `plan_id` ) without success
[code]

[2016-03-03 08:01] 3lvis commented on #183
Hi @szwicker,

I'm afraid this could take some time since all the dependencies would have to have Carthage support too. But please, feel free to add that if you want it (in a PR). I'll take some time to maintain it in the future if you get this done.

Thanks a lot!

[2016-03-03 08:01] #183 closed

[2016-03-03 11:39] Raghvendra7 opened #185 "crashing while synching start"
I m trying to do as given in demo app but when i tried to sync it crash with error
what the problem with it
Sync.changes(userDataJSON , inEntityNamed: "RMCOrganisation", dataStack: self.dataStack!, completion: { error in
                completion(error)
            })

gettting error

'NSInvalidArgumentException', reason: 'Invalid keypath  passed to setPropertiesToFetch:

[2016-03-03 11:41] 3lvis commented on #185
Hi @Raghvendra7,

Could I get a peek at your Core Data model and an example of your JSON structure?

[2016-03-03 12:39] Raghvendra7 commented on #185
![screen shot 2016-03-03 at 6 07 08 pm](https://cloud.githubusercontent.com/assets/10459999/13494534/db8df0ae-e16a-11e5-81da-09af1e1ef6d0.png)

my json response is

rmcorganization: [
{
id: "41da96ba-e818-7edf-7658-e26ec2a91600",
name: "Find My Employee Staging",
web_url: "http%3A%2F%2Fraremediacompany.in%2F",
domainName: "findmyemployeestaging",
rmcobject: "rmcorganization",
rmcphoto: {
thumbnail

[2016-03-04 07:38] Raghvendra7 commented on #185
what should i do what my mistake

[2016-03-04 08:29] 3lvis commented on #185
I had to convert your JSON to valid JSON first. I'll check now :)

[code]

[2016-03-04 12:41] 3lvis commented on #185
Added an example here https://github.com/hyperoslo/Sync/pull/188

[2016-03-04 12:41] #185 closed

[2016-03-04 12:47] 3lvis commented on #184
Hi @macfurin, can I have a look at your Core Data model, please?

I'll look into an example on Syncing only workouts with `nil` distance. To be clear, you are saying, taking this JSON, only update workouts in Core Data that have nil distance, right?

[2016-03-04 12:51] 3lvis commented on #182
Hi @wh33ler,

We don't have anything like what you mention built-in.

Right now you could use notification changes to let the user know how many items have being updated/deleted or inserted.

https://github.com/hyperoslo/Sync#logging-changes

If you plan to work on this, you might want to consider using notifications for this.

[2016-03-04 12:52] 3lvis commented on #179
I guess this is related to https://github.com/hyperoslo/Sync/pull/180

Great work, @wainglaister!

Thanks a lot :bouquet:

[2016-03-04 12:52] #179 closed

[2016-03-04 13:05] macfurin commented on #184
Hi @3lvis, there my model :
![capture d ecran 2016-03-04 a 13 54 09](https://cloud.githubusercontent.com/assets/1177619/13527627/b2c95950-e210-11e5-83ca-8e279e8152c0.png)
I'm trying to sync Plan and only workouts with `nil` distance. I don't want those with distance being deleted or updated because this ones are completed and should not change.

[2016-03-17 15:37] alexsanderskywork opened #192 "There is an error when I use mapping data"
I get this error Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSDictionary initWithObjects:forKeys:]: count of objects (439) differs from count of keys (0)

https://www.dropbox.com/s/3kudn65dqxml13v/sync%20error.png?dl=0
https://www.dropbox.com/s/g074ns51yv7c3o0/Screen%20Shot%202016-03-17%20at%208.22.28%20PM.png?dl=0

[code]

[2016-03-18 08:03] alexsanderskywork commented on #192
I changed my model but I am getting this error
https://www.dropbox.com/s/mppurak0rgqxlc9/newmodel.png?dl=0

[2016-03-18 08:05] 3lvis commented on #192
Hi @alexsanderskywork,

Which error?

[2016-03-18 08:05] 3lvis commented on #192
@alexsanderskywork Can I have an example of your JSON file, please?

[2016-03-18 08:07] alexsanderskywork commented on #192
@3lvis yes, you can. Please look at it https://www.dropbox.com/s/k8gzujrdc587j6t/allStations.json?dl=0

[2016-03-18 08:08] alexsanderskywork commented on #192
@3lvis *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSDictionary initWithObjects:forKeys:]: count of objects (439) differs from count of keys (0)'

[2016-03-18 08:13] 3lvis commented on #192
@alexsanderskywork Thanks! I'll get back to you later today :bouquet:

[2016-03-18 08:15] alexsanderskywork commented on #192
@3lvis Thank you! I used this library in another project and I liked it

[2016-03-18 12:13] 3lvis commented on #192
Hi Alexsander,

I think you had some errors when creating your Core Data model.

[2016-03-18 12:14] 3lvis commented on #192
Check the full example on how I did it, here. It's working with no problems, although you might want to check the performance issues after syncing so many items.

https://github.com/hyperoslo/Sync/pull/193

[2016-03-18 12:14] #192 closed

[2016-03-18 14:16] 3lvis commented on #184
I'm sorry that this took AGES.

This a first approach at syncing what you are asking. Doing this with workout inside plan is going to be more complicated. I know this is not exactly what you asked but I hope is useful for you.

https://github.com/hyperoslo/Sync/pull/194

[2016-03-18 14:16] 3lvis commented on #184
Again, sorry for the late response!

[2016-03-21 09:32] 3lvis commented on #182
Closing for lack of response.

[2016-03-21 09:32] #182 closed

[2016-03-23 08:32] 3lvis commented on #184
https://github.com/hyperoslo/Sync/pull/194

[2016-03-23 08:32] #184 closed

[2016-03-23 08:47] macfurin commented on #184
Thanks 3lvis, I considered this approach and that's good for my needs.

[2016-03-23 16:57] rafalwojcik commented on #177
@GlaucoNeves to prevent deleting objects you can do swizzling like this:
`import Foundation
import CoreData
import DATAFilter

extension DATAFilter {

    override public class func initialize() {
        struct Static {
            static var token: dispatch_once_t = 0
        }
        dispatch_once(&Static.token) {
            let originalSelector = #selector(DATAFilter.changes(_:inEntityNamed:

[2016-03-23 16:59] rafalwojcik commented on #162
@henryhardy You can do delete uding data stack, to prevent deleting objects that don't exist in JSON use method swizzling like this:
[code]

[2016-03-23 17:03] rafalwojcik commented on #145
@f1nality Look at my response in #162

[2016-03-24 11:45] 3lvis commented on #162
Hi @rafalwojcik,

Thanks for adding this. I think it's enough requests for me to consider adding this requests. I'll do it in the following days.

You are awesome :bouquet:

![gif-dave-grohl-thank-you-thanks-gif](https://cloud.githubusercontent.com/assets/1088217/14016112/40aa26f2-f1be-11e5-8dd7-7b02a7dc67e4.gif)

[2016-04-05 21:57] ali59a opened #197 "use valueForKeyPath in sync_toOneRelationship"
Hello,

Is it a good approach to a good approach to use valueForKeyPath in sync_toOneRelationship so we put this line :

` guard let managedObjectContext = managedObjectContext, filteredObjectDictionary = (dictionary as NSDictionary).valueForKeyPath(relationshipName) as? [String : AnyObject], destinationEntity = relationship.destinationEntity, entityName = destinationEntity.name, entity = NSEntity

[2016-04-06 07:15] 3lvis commented on #197
Hi @ali59a,

It has the same effect but `dictionary[relationshipName]` seems a more readable approach than `(dictionary as NSDictionary).valueForKeyPath(relationshipName)`.

Any special reason on why you would prefer this?

Best,

[2016-04-06 07:15] #197 closed

[2016-04-06 08:03] meoz opened #198 "Sync applicability"
Hi. I'm working on a syncing engine that syncs core data with an external server. Sync looks like a nice framework which could be of great use but it's applicability is not all clear to me.
As far as I understood Sync can be used to convert and persist JSON objects coming from an external source like a web server / cloud to local core data objects. What's not clear to me is if Sync can 'sync' the

[2016-04-06 08:40] 3lvis commented on #198
Hi @meoz,

Sync has partially this feature, you still have to implement the networking part of it, since Sync doesn't do any networking at all.

But for example, if you update a `user` object and you want to update it in your server using a `PUT` you can generate the JSON for this NSManagedObject.

More information here:

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper#json-represen

[2016-04-06 08:40] #198 closed

[2016-04-13 21:05] pschneider opened #200 ""Duplicated" entries from JSON when calling Sync"
Hi,

first of all: Thanks for this great library. It really helped us a lot so far!
However today we faced a problem which wasn't present when we implemented the Sync mechanism a few weeks ago. Unfortunately I could not figure out why the following stuff happens at all, because it looks like a really strange behavior.

- We have a Core Data Entity with an property `id` which has the following sett

[2016-04-13 21:15] 3lvis commented on #200
Hi Patrick,

I'm sorry you're having troubles with the latests versions of Sync. What you're reporting seems like it's something in our side, but is going to be hard to tell without being able to reproduce the bug.

Would you mind sharing with me a example of your JSON structure and your Core Data model? I would love to isolate the issue in order to find a fix.

Thanks!

[2016-04-14 16:02] pschneider commented on #200
Thanks for your fast response! Unfortunately I can't show you the real source code from our App. but I will try to reproduce the behaviour in an example Project by today or tomorrow.

[2016-04-14 21:54] 3lvis commented on #200
@pschneider Just being able to see the kind of relationships in both the Core Data model and the JSON would help, I don't need to see which attributes you're using.

[2016-04-25 07:05] 3lvis commented on #200
Closing for lack of more information. Please let me know if you want me to reopen this.

[2016-04-25 07:05] #200 closed

[2016-04-28 13:09] xTheRamon opened #202 "to-many key not allowed here - Many to Many relationships"
Hey guys!

I have an issue with the 'many-to-many' relationship. I think it's a bug in Sync though I'm not completely sure.

I have the following datamodel:
![screen shot 2016-04-28 at 15 01 07](https://cloud.githubusercontent.com/assets/18720368/14886635/17200df6-0d52-11e6-9938-21389d5db814.png)

Basically, a user has tags (localKey: `favouriteTags`, remoteKey: `user_favorite_tags`) and a tag can

[2016-04-28 13:17] 3lvis commented on #202
Hi @xTheRamon,

You're right, looks like it's on our side. By making a quick Google search it seems that the problem is related to a wrong predicate.

http://stackoverflow.com/questions/4217849/core-data-nspredicate-for-many-to-many-relationship-to-many-key-not-allowed

In the method `[DATAObjectIDs objectIDsInEntityNamed:withAttributesNamed:context:predicate:]`

Could you share the complete call

[2016-04-28 13:24] xTheRamon commented on #202
@3lvis, thank you for your fast response! Amazing!

Please find the complete callstack below:

[2016-04-28 13:25] 3lvis commented on #202
BOOM! Thanks!

[2016-05-02 10:42] xTheRamon commented on #202
@3lvis did you happen to track down this error? Any idea when this fix will be put through? Cheers and thanks in advance!

[2016-05-02 13:02] 3lvis commented on #202
@xTheRamon Looking into it, at least I was able to reproduce the crash

[2016-05-02 21:44] #202 closed

[2016-05-03 05:39] 3lvis commented on #202
@xTheRamon Could you confirm if this has been fixed on master?

[2016-05-03 07:39] xTheRamon commented on #202
@3lvis You sir, are an absolute legend! Thanks! Fixed and working as expected. Splendid!

I've noticed one thing though, you might find this interesting. Whenever I ```pod update```, it tries to downgrade Sync to an ancient version. I'm not very familiar with configuring pods, but I've attached the log anyhow. There might be an issue in the config. Anyhow, superb job on the many to many! Great!

[

[2016-05-03 07:49] 3lvis commented on #202
@xTheRamon wow, which version of CocoaPods are you using?

[2016-05-03 09:31] xTheRamon commented on #202
@3lvis I'm on version 0.39.0. Not using any --pre version.

[2016-05-03 09:31] 3lvis commented on #202
Weird, I just published a new version of Sync with this change `1.6.5`. Could you check if it's working?

[2016-05-03 09:56] xTheRamon commented on #202
Yep, works perfectly now! Weirdest thing ever. I think we've just found a bug in CocoaPods ;)

Anyhow, thank you @3lvis for your support and time! Great library, best there is!

[2016-05-03 10:24] 3lvis commented on #202
I'm glad you find it useful, let me know if I can help in anything else. 💥

[2016-05-04 05:39] falkobuttler opened #204 "How to map relationships that don't have remote IDs?"
Hello @3lvis,

I consider using Sync as a replacement for RestKit in my project. While RestKit is super powerful, it is also very complicated, and outdated.

Now to my question? How can I map nested objects that don't return an unique ID? But based on their parent object they are unique?

Example:

[code]

I get an `user` with an unique ID. I can easily map that object. But the embedded `address`

[2016-05-04 07:35] 3lvis commented on #204
@falkobuttler Hi Falko! It's great that you're giving Sync a try, I hope you like it.

There are two ways you can sync a JSON object that doesn't have a `remoteID`. You can either set one of it's [attributes as the primary key](https://github.com/hyperoslo/Sync#primary-key), or you can store the JSON object as NSData, I have done this myself in a couple of apps works pretty well. You can find more

[2016-05-04 17:35] falkobuttler commented on #204
Hey @3lvis, neither of your recommended solutions works in this case though.

Storing it as NSDate would discard all of the benefits of an object model. And I can't use any of the properties a primary key because they are not unique.

I was thinking more about of either a way of using the parent's primary key as the child's primary key or to generate a unique id based on the parent, i.e. `user_578

[2016-05-04 21:19] 3lvis commented on #204
@falkobuttler Hi Falko, sounds like we don't have a solution for your requirements out of the box. The quickest way for you to add this would be as you say to modify your JSON so it adds the parent id as the ID of the child object.

I'm sorry that there isn't a better way to do this.

[2016-05-05 20:03] #204 closed

[2016-05-09 08:59] adrienjt commented on #151
"3lvis self-assigned this 2 days ago"
Very much looking forward to it!

[2016-05-16 10:03] 3lvis commented on #157
Fixed on https://github.com/hyperoslo/Sync/pull/215

[2016-05-16 10:03] #157 closed

[2016-05-16 13:00] 3lvis commented on #93
Fixed on https://github.com/hyperoslo/Sync/pull/216

[2016-05-16 13:00] #93 closed

[2016-05-16 13:20] 3lvis commented on #112
Looks like https://github.com/3lvis/DATAStack/releases/tag/5.0.0 fixes the issue. Let me know if the problem still occurs and I'll reopen it.

[2016-05-16 13:20] #112 closed

[2016-05-16 13:31] 3lvis commented on #145
Related to https://github.com/hyperoslo/Sync/issues/162

[2016-05-16 13:31] #145 closed

[2016-05-16 13:39] 3lvis commented on #177
@GlaucoNeves Hi Glauco, I have been investigating performance issues with saving things and have create a sample project where I'm syncing more than 60 000 objects and I have found the freeze when merging the background objects with the main context. I'm looking for different ways to fix this but so far your suggestion seems like it would be a good candidate, meaning, sending a notification to the

[2016-05-16 13:39] #177 closed

[2016-05-16 13:44] 3lvis opened #217 "Loading 60 000 items with NSFetchedResultsController freezes the main thread"
This problem was first reported on https://github.com/hyperoslo/Sync/issues/177

When syncing a few items you won't see any problems or frames drop, but when you sync more than 10 000 items while using NSFetchedResultsController you will see your main thread blocked because merging your synced objects with the main thread can be a lot of work.

[Code](https://github.com/3lvis/DATAStack/blob/9c54c0

[2016-05-16 15:37] 3lvis commented on #151
@adrienjt Thanks for writing, haha, if you didn't said anything this would probably wouldn't have been done.

[2016-05-17 07:00] #151 closed

[2016-05-17 12:12] rafalwojcik commented on #162
@3lvis since DATAFilter change implementation witch version change here you have actual code:
[code]

[2016-05-20 13:40] tanmaybaranwal opened #222 "Not able to compile because of DATAStack ?"
I am getting errors at :
 `NSNotificationCenter.defaultCenter().addObserver(self, selector: #selector(DATAStack.mainContextDidSave(_:)), name: NSManagedObjectContextDidSaveNotification, object: context)`
![screen shot 2016-05-20 at 7 08 26 pm](https://cloud.githubusercontent.com/assets/7475655/15429403/7465e940-1ebe-11e6-8104-2f0874eaacca.png)

[2016-05-20 14:12] 3lvis commented on #222
Hi @tanmaybaranwal!

Which version or Swift are you using? Could be something related to the new #selector syntax on Swift 2.2.

[2016-05-20 14:33] 3lvis commented on #222
Just gave it a fresh clone + install. I'm 99% sure, this will get fixed if you update your Xcode.

Let me know otherwise and I'll reopen the issue.

[2016-05-20 14:33] #222 closed

[2016-05-24 20:41] 3lvis commented on #144
Working on a way to specify Sync operations. https://github.com/hyperoslo/Sync/pull/223

[2016-05-24 20:41] 3lvis commented on #145
Working on a way to specify Sync operations. https://github.com/hyperoslo/Sync/pull/223

[2016-05-24 20:41] 3lvis commented on #162
Working on a way to specify Sync operations. https://github.com/hyperoslo/Sync/pull/223

[2016-05-24 22:25] 3lvis commented on #162
Fetch and delete should be coming soon. But if someone feels like it, feel free to submit a PR.

#### Delete
[code]

#### Fetch

[code]

[2016-05-28 10:56] 3lvis commented on #162
Added operation types in 1.9.0

https://github.com/hyperoslo/Sync/releases/tag/1.9.0

[2016-06-01 16:14] Jonge opened #224 "Errors/exceptions should be propagated to avoid crashes"
There are lines like:

[code]

and:

[code]

(and in some other places) that can (and do) cause crashes. Instead, an error should be caught/produced and propagated all the way through to the `changes` methods in `Sync` class, so that the developer can handle them instead.

By the way, the latest release (1.9.0) is super stable so far. These crashes are VERY rare (less than 0.5% of users). So thank

[2016-06-01 16:57] 3lvis commented on #224
Hi @Jonge,

Do you have any crashes in specific that we should look at? Usually is hard to recover from Core Data crashes that's why the default for some cases it has been to just crash, but there's also the chance that the crashes are our fault and would be great to reproduce them to provide a solution.

[2016-06-02 08:13] Jonge commented on #224
I have some crash logs, but I'm pretty sure it is my fault, as I am not yet cancelling Sync operations. So there might be an issue when parsing a JSON with an object that meanwhile gets deleted, but not 100 % sure.

Sorry those are a bit mangled, this is how i got it from HockeyApp.

[code]

[code]

Also, I am getting these crashes in `DATAFilter`, which I would say are not my fault, but again not

[2016-06-02 11:17] xTheRamon opened #225 "Many to Many - Relationship data not being deleted"
Hey @3lvis!

I think there's an issue with removing related data in a many to many relationship. I might be doing something wrong though.

Please imagine the following structure:
![structure](https://cloud.githubusercontent.com/assets/18720368/15743178/e4ae7b4a-28c3-11e6-9b3f-48558186eaea.png)

The `user.favouriteTags` do not get **deleted**. Only **updated** and **inserted**.
Please consider the

[2016-06-02 11:19] 3lvis commented on #225
@xTheRamon Hi! Thanks for reporting this issue, I'll try to reproduce it in a unit test.

💐

[2016-06-03 01:22] justinackermann opened #226 "Time conversion confusion"
Maybe I am misunderstanding how the time conversion works with Sync but take the date "2016-07-16T01:32:00-04:00" in my JSON. When importing this date into Core Data as a NSDate it is creating a timestamp of 490339920 which correlates to 1985-07-16T01:32:00-04:00.

Could I be doing something wrong or is this a bug or am I just misunderstanding the documentation??

Thanks!

[2016-06-03 05:32] 3lvis commented on #226
Hi @justinackermann,

I just verified this and the date parsing is correct. How did you generated the timestamp?

[code]
<img width="591" alt="screen shot 2016-06-03 at 07 31 44" src="https://cloud.githubusercontent.com/assets/1088217/15769634/3c967f62-295d-11e6-8d24-3d9a65b5273a.png">

[2016-06-03 05:32] #226 closed

[2016-06-03 17:43] kikanny opened #227 "DATAFilter change for deletion of objects before insertion"
Hey @3lvis! Sync is a great library and its helped out a lot to manage and sync data between our network fetches and core data. However, we've run into a small issue and was hoping for some feedback from you.

We have an object that goes through various statuses during its lifecycle. Our API provides these objects in a paginated manner for a particular status. We specify which status and page we w

[2016-06-03 21:50] 3lvis commented on #227
Hi @kikanny

I'm happy that you have found this library useful, personally I use it in all my projects and I'm always happy to see that some use cases have already been solved thanks to the community.

Regarding your problem. I think this could be solved be removing the status from the NSPredicate that you send to Sync.

Is there a reason why that wouldn't work? Then Sync would just update those e

[2016-06-03 23:29] rlester opened #228 "One / Many Nested Relationships Do No Clear When Null"
First off thanks for the library its been a huge time saver. I really appreciate the great work everyone has been doing with Sync.

I read in the documentation that if you want to delete a nested relationship you need to return the object's primary key as null.

I have a case where I return null for the fully nested object and wanted to confirm that isn't a feature.
This example is with the sync o

[2016-06-04 19:22] kikanny commented on #227
Thanks for you reply @3lvis. If I don't pass the status and page predicates, Sync would update the existing objects like you said. However, it would also delete other entries that are not in this status or page. I've tested it without predicates and thats what seems to happen. I hope that made sense?

[2016-06-04 23:08] 3lvis commented on #227
You could remove the predicate and to avoid objects being deleted you can limit the operations to Insert and Update.

[code]

That got implemented here: https://github.com/hyperoslo/Sync/pull/223

[2016-06-09 19:08] xTheRamon commented on #228
I think this is a duplicate of #225. Please correct me if I'm wrong.

[2016-06-09 19:11] 3lvis commented on #228
It's a similar issue. I have started looking into it here:

https://github.com/hyperoslo/Sync/pull/229

[2016-06-11 09:17] 3lvis commented on #227
Closing this waiting for further response, last suggestion should fix the issue.

[2016-06-14 09:43] dersvenhesse opened #230 "Allow to set operations when using specific context"
Hi!

I came across a problem in a current project when fetching data in the background using
[code]

In that case the operations are set to `.All`. I'd really like a public method to configure the operations as well when using a specific context.

My app loads a json list of entries from `api/list/cars` containing only their titles to display them in a table. When selecting one entry, the detail v

[2016-06-14 13:57] xTheRamon commented on #230
It sounds like your problem could be solved by using a predicate. Try using that same sync call with the following NSPredicate: `remoteID == 42`. You will see that only car `42` gets updated/deleted/inserted (.All) and the other values will not be touched.

[2016-06-14 15:29] dersvenhesse commented on #230
Yep, using a predicate should work. Thanks.
But anyhow, shouldn't there be a method allowing to use a specific context and set operations as well?

[2016-06-14 19:27] kikanny commented on #227
Hi @3lvis ! Apologies for the really late reply. Got a bit busy! With regards to your suggestion about limiting the operations to Insert and Update, here's the problem. For example, if object A exists in the second page that we receive from the API and it doesn't exist any more in a consecutive call because the status has changed or the object has been removed, we would want to perform a delete op

[2016-06-18 21:06] Pyroscout opened #232 "operations: [.Insert] is inserting a set of duplicate data"
I noticed that .Insert was inserting duplicate data and figured I must be doing something wrong so I called

`Sync.changes(JSON, inEntityNamed: entity, dataStack: self.dataStack, operations: [.Insert], completion: { error in
})`

twice in a row to ensure that it is on the same data and sure enough my entity contains twice the amount of data.
After some continued testing it appears that .Insert onl

[2016-06-20 09:37] xTheRamon commented on #225
Hi @3lvis, did you manage to reproduce the issue or do you need some more debug information? 👍🏼

[2016-06-20 12:01] 3lvis commented on #225
@xTheRamon Reproduced, I'm sorry this is taking so long. Crazy mix between deadlines and WWDC.

[2016-06-20 12:06] #230 closed

[2016-06-21 12:37] dersvenhesse opened #233 "Checking for changed order in JSON with NSOrderedSet"
Hi there,
I'm not sure whether this is a bug or if this might be solvable through configuration.

As far as I know arrays in JSON are ordered and CoreData allows ordering as well using `NSOrderedSet`. So in my opinion Sync should change the data when the order of an array has changed, which does not happen at the moment.

I [forked SyncAppNetDemo](https://github.com/dersvenhesse/SyncAppNetDemo) an

[2016-06-21 13:31] dersvenhesse opened #234 "Many-to-many related objects get deleted with []"
Hi there,
this might be related to #225 but I'd like to let you know anyways.

I'm using many-to-many relationships like in this [forked SyncAppNetDemo](https://github.com/dersvenhesse/SyncAppNetDemo).

When the `global.json` is at first

[code]

and then

[code]

the cars from the first person will be deleted as well.

Since ` "cars": []` is valid JSON, this shoudn't delete all cars. Or am I miss

[2016-06-21 19:59] 3lvis commented on #234
Thanks @dersvenhesse, you're correct this is related to #225 this is on the top of my list.

[2016-06-22 22:21] Pyroscout commented on #232
@3lvis do you know if this is correct or if I am just doing something wrong?

[2016-06-22 23:43] 3lvis commented on #232
@Pyroscout Hi! We don't support calling Sync for the same resource at the same time, unexpected behavior is bound to happen. You can either find a way to only call Sync for a resource once at the time, or you can use a NSOperationQueue with maxConcurrentOperationCount = 1.

[code]

In that way a sync will only be called when the previous one has finished.

[2016-06-23 02:27] Pyroscout commented on #232
@3lvis Thanks for your quick response!
I made sure that the first Sync was completed before the second call was made and the information is still being inserted twice. I am using `NSNotificationCenter` to track changes. Here is what is being called the first time:
[code]

[2016-06-23 02:46] 3lvis commented on #232
Hi @Pyroscout,

I added a unit test to verify this, and everything is working as expected. https://github.com/hyperoslo/Sync/pull/235

I be able to follow up on this, could you please share your Core Data model and an example of your JSON?

I have the suspicion that it might be related to changing primary keys.

[2016-06-23 03:16] 3lvis commented on #233
Hi @dersvenhesse,

You're right, this isn't handled correctly. The piece of code that should include this functionality is [here](https://github.com/hyperoslo/Sync/blob/d6e521ceb1bea7cecd1530ce0191744afdb0916f/Source/NSManagedObject%2BSync.swift#L168-L172).

Right now it just checks if the relationship has being added, before it adds it, it doesn't check if the position has changed. It does this t

[2016-06-23 03:21] Pyroscout commented on #232
I went home for the day a bit ago so I will get those to you tomorrow. How would you like me to give you that information though? Im pretty new to github so I dont know what the best way is

[2016-06-23 03:22] 3lvis commented on #232
Check this GitHub issue, if has an screenshot of the Core Data model and the JSON file.

https://github.com/hyperoslo/Sync/issues/184

[2016-06-23 09:51] Jonge commented on #224
Hi again.

The only crash I really care about now is the last one in `DATAFilter`. From my observation, it happens when the primary keys are not unique (e.g. when the JSON contains multiple primary keys of equal values).

While I agree that it should not really happen if everything is correctly set up, it can't be guaranteed that the output from JSON is valid.

I think in this case, the error coul

[2016-06-23 10:57] 3lvis commented on #224
Thanks @Jonge,

That's pretty useful. I'll add an issue on that repo to follow up later.

🙏

[2016-06-23 20:56] Pyroscout commented on #232
Here is the Core Data model and the example of my JSON

![screen shot 2016-06-23 at 2 46 10 pm](https://cloud.githubusercontent.com/assets/4473004/16319917/71311444-3952-11e6-87ae-22fd3bc0ae5c.png)
![screen shot 2016-06-23 at 2 49 32 pm](https://cloud.githubusercontent.com/assets/4473004/16319922/747172a2-3952-11e6-8030-06dac448bbcc.png)

[2016-06-23 21:03] 3lvis commented on #232
Is `postid` the primary key?

[2016-06-23 21:04] Pyroscout commented on #232
Yes

[2016-06-24 09:18] dersvenhesse commented on #233
Since the data structure itself does support ordering, I don't see why an extra attribute should be used to order. ;)
Furthermore, the ordering might be an attribute on the relation rather than an object. For example, when using images, the same image might be on first place in one object, but on third in an other.

I do think as well it will be necessary to compare indexes and then use something

[2016-06-24 10:29] 3lvis commented on #233
Maybe pulling the entire list of changes, looping through it and verifying if the index is the same. Could be a good option. If the index is not the same, figure out the new index and change it's position on the set

[2016-06-29 19:42] osmarogo commented on #232
Hi everyone.

I'm facing a similar issue with my sync process.

After some testing, I noticed that SyncDemoApp has a primary key defined as String type, the model I am working on has a primary Key defined as NSNumber.

I've changed the primary key in my model as String type, after that, the process works as expected.

[2016-06-29 20:32] Pyroscout commented on #232
All of my keys are Strings so that definitely is not what is wrong with mine. Thanks anyway

[2016-07-02 18:24] wainglaister opened #237 "Nested data including fully nested objects and id only references"
Not sure if this has been covered before, scenario:

You have an object which contains multiple types of nested objects, some of those nested objects are also related to each other so they contain references to each other. These secondary references don't need to be anything more than an id (strictly speaking).

Like a group with teams and members, where each member is in a team.

Currently this d

[2016-07-02 22:16] 3lvis commented on #237
Hi @wainglaister!

I think we could do something about your use case, although I'm not sure if I fully understand what you're trying to achieve. Would you mind providing an example of a JSON file or JSON files, and your Core Data model to reproduce this in a unit test?

Thanks!

[2016-07-03 09:14] wainglaister commented on #237
Hi @3lvis :)

See the single new commit in https://github.com/wainglaister/Sync/tree/Issue237 for a test case demo. The test is a bit messy as I copied&pasted to put it together quickly but it shows the log of the issue and the test fails as the relationship isn't setup.

[2016-07-03 10:58] 3lvis commented on #237
I see what you mean now. I think it can be solved with the current set up. I'll put an example when I'm more available. Thanks ❤️

[2016-07-07 09:14] Jonge opened #238 "Search for relationships in superentities"
Hi,

When a parent object is defined, Sync doesn't search for relationships in superentities.

Imagine you have an object `Car` with a relationship `ownedBy` pointing to another object `Person`. Create an object `Racecar` having `Car` as a superentity. Now, when you perform a sync with an explicitly defined `Person` as a parent, it fails.

See pull request https://github.com/hyperoslo/Sync/pull/23

[2016-07-14 08:57] kolisko opened #240 "linker command failed with exit code 1 (use -v to see invocation)"
Hi,

I am trying to get Sync to work in my project. I have experience with Carthage for framework dependency so it is my cocoapods premiere (btw. what about the Carthage support? :-).

my Podfile

[code]

my Pods dir:

[code]

Xcode build error output

[code]

My question is - Is neccessary somehow manually link the DATAFilter framework?

Thank You,
kolisko

[2016-07-14 10:07] kolisko commented on #240
SOLVED

it is not a bug - it is my stupidity - is neccessary to open the project 'em' as

open em.xcworkspace

and NOT

open em.xcodeproj

[2016-07-14 14:27] 3lvis commented on #240
I'm glad you got it fixed! Let me know if there's anything I can do for you :)

[2016-07-14 14:27] #240 closed

[2016-07-20 07:20] AnnieNinaJoyceV opened #241 "Records not getting saved <Help wanted>"
Thanks for this wonderful pod. This is my first project using CoreData, hence struggling lot to make things work.

**Here is my JSON response**
[code]

**Here is my CoreData model**
![model](https://cloud.githubusercontent.com/assets/7369485/16978130/ebfcbe8c-4e77-11e6-9a4a-8b465e7f0650.png)

**Here is the code:**
[code]

_And the output is always empty - Optional([])_
Is it because I added the at

[2016-07-20 11:36] AnnieNinaJoyceV commented on #241
Found what was wrong.. Should have used `SportsDetailCD` entity instead of `SportsCD` since I'm passing the `ctlphotos` value from response.

[2016-07-20 11:36] #241 closed

[2016-07-20 12:06] 3lvis commented on #241
I'm glad you got it working. Please just let me know if there's anything that I can help with :)

Have an awesome day.

[2016-07-22 20:11] FrancisBehnen commented on #162
Shouldn't did be closed as resolved?

[2016-07-22 20:47] 3lvis commented on #162
I guess this issue was too big and covered lots of stuff. One part of the issue was fixed, adding operations, but having different methods for `delete` and `fetch` haven't being implemented yet.

[2016-07-24 11:57] Sorix opened #243 "Update to DATAStack 5.3"
Sync requires DATAStack 5.2.x, but there is new version 5.3 and Sync is not compatible with it.

[2016-07-26 15:51] tbechtum opened #244 "Unit testing and fetching Core Data objects"
Hello !

When calling Sync.changes and mapping the executeFetchRequest result like e.g.
try dataStack.mainContext.executeFetchRequest(requestRequest) as! [OwnManagedObject]
then this works only when running as application (e.g. Xcode iOS simulator) but not when running as a XCTestCase test unit accessing the result (by count or for loop iteration),  which fails with
fatal error: NSArray element fa

[2016-07-26 15:57] 3lvis commented on #244
Hi @tbechtum,

That's a weird bug, I can only think of it as a Swift bug, nothing related to Sync. I'm sorry I can't be more helpful. Maybe you need to add `CoreData` to your Test bundle?

[2016-07-26 15:57] #244 closed

[2016-07-26 16:02] tbechtum commented on #244
Thanks for your quick reply 3lvis!
Yes importing CoreData and the test unit is compiling, the exception is at runtime in the test environment.

[2016-07-26 16:10] 3lvis commented on #244
It works, I tried in a throw away branch. https://github.com/hyperoslo/Sync/blob/9fb41745daee0b7a843967e776aecc8c1aa4994b/Tests/SyncTests.swift#L647-L649

[2016-07-26 16:50] 3lvis commented on #243
Released on https://github.com/hyperoslo/Sync/releases/tag/1.10.0.

Sorry for being so slow. 💀

[2016-07-26 16:50] #243 closed

[2016-07-31 16:33] 3lvis commented on #217
https://github.com/hyperoslo/Sync/pull/249

[2016-07-31 16:33] #217 closed

[2016-07-31 16:34] 3lvis commented on #177
Check https://github.com/hyperoslo/Sync/pull/249

[2016-08-07 18:59] RobinFalko opened #252 "Relationships are nil when using CamelCase relationship names"
Setting up the "User  <->> Notes" example and changing the User relationship name from "notes" to "myNotes" (or other CamelCase names) will result in an ignored relationship object. Only the User object will be inserted into the DB.

A workaround was to add the user info `hyper.remoteKey = myNotes` on the User.myNotes relationship.

[2016-08-08 02:07] smartjx opened #253 "HyperDate Report Error on Device but works fine on simulator"
When I run the sync, it works great on simulator. But when I run the sync on my device. It crashed with hyperdate error.

NSDate+HYPPropertyMapper.m-> +hyp_dateFromISO8601String

 signal SIGABRT

Please help, thank you:)

[2016-08-08 04:10] 3lvis commented on #253
Hi @smartjx!

Can I get an example of your JSON file? Or just your JSON date object?

[2016-08-08 04:12] 3lvis commented on #252
@RobinFalko Thanks! I'll look into it. Makes sense that this is a bug at the moment since the camelCase support was added to https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper first and we didn't made the change in Sync.

Thanks for reporting this issue!

Best,

[2016-08-08 08:40] RobinFalko commented on #252
Thanks for looking into into it and keep up the great work. I really like your framework.

[2016-08-08 09:03] smartjx commented on #253
Hi 3lvis,

Thank you so much for your reply.
Please find my json data object below. Thank you for taking time for investigate this issue again.

[{"Project_ID":1,"Name":"工程加固\r\n","Type":null,"Project_FB_ID":1,"Scale":"≤20m\r\n","OrderNo":100,"UpdateTime":"2016-01-09T21:29:29.41","Status":0},{"Project_ID":2,"Name":"工程降水\r\n","Type":null,"Project_FB_ID":1,"Scale":"≤20m\r\n","OrderNo":100,"UpdateTim

[2016-08-08 09:57] RobinFalko opened #254 "Wrong relationship assignment"
Hi,

I just ran into an issue where two relationships between two types are not assigned properly. In my example I have a "House" and a "Human" with relationships:

![screen shot 2016-08-08 at 11 56 29](https://cloud.githubusercontent.com/assets/17236480/17476225/31cafafa-5d5f-11e6-8c12-9f179a1e73d8.png)

_House_
[code]

I expect this to insert a House and a Human where the human is a resident of

[2016-08-09 03:12] smartjx commented on #253
I can't find anything wrong during the date parsing.  I add the following line to parse the 2016-01-09T21:29:29.41 in order to prevent it from falls to else condition but still crash.

NSDate+HYPPropertyMapper.m
+ (NSDate *)hyp_dateFromISO8601String:(NSString *)dateString
{
else if (originalLength == 23 && originalString[19] == '.') {
            strncpy(currentString, originalString, 19);

[2016-08-09 08:01] smartjx commented on #253
Hi 3lvis,

Sorry for waste your time investigate this issue. This is non-issue. It's the MBPROGRESSHUD that I used to load the sync stopped the process that right after date parsing.

I closed this issue and thank you again for your time.

[2016-08-09 08:20] 3lvis commented on #253
Yay!!! Let me know if there's anything else I can help with :) Have a fantastic day

[2016-08-09 11:10] Jonge opened #255 "Nonexistent keys in JSON should reset the object value to default on update"
Our API doesn't send all data and we use default values if they aren't contained in the JSON. This is not a problem when creating the object, but there is an issue when updating.

Say we have a `NSManagedObject` subclass `Computer`. It has an attribute `turnedOn` of type `Bool` and default value `NO` (`false` in Swift).

When we create the object, it has the `turnedOn` attribute set to `false` whe

[2016-08-09 12:24] xTheRamon commented on #255
Hi Jonge,

I think this is the way we want the Sync to work.
Many API's are not sending all fields, just the changed ones. This has to do with unnecessary overhead. They assume the client keeps the last value in mind.
I think in your case you should create a method that overwrites the whole object with default values just before the sync. 👍🏼

[2016-08-09 13:39] 3lvis commented on #255
@xTheRamon is completely right. This was a change made in [NSManagedObject-HYPPropertyMapper](https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/blob/master/Source/NSManagedObject%2BHYPPropertyMapper.m#L13-L37) because we found that it's better to be explicit about _nilling_ attributes. Avoids a lot of bugs.

If you want to nil an attribute or use a default parameter as @xTheRamon said

[2016-08-09 14:08] Jonge commented on #255
Oh alright then. Guess our APIs have different approaches, but that makes sense.

I wanted to keep it simple, but I think processing the JSON before passing it to Sync should work fine.

Thanks to both of you!

[2016-08-09 14:08] #255 closed

[2016-08-11 04:19] smartjx commented on #253
Hi 3lvis,

I have to re-open this issue. And I found it's not MBProgressHUD issues.

My current implementation is that I download a big json file that include multiple entities. Then I use multiple (5+) Sync.changes to save these entites to each entity. My app always crash at the second Sync.changes.

 let PAdataToSave = data["ResultSet"]!["ProjectInfo"] as! [[String : AnyObject]]

[2016-08-11 04:26] 3lvis commented on #253
I'll have a second look :)

[2016-08-11 05:48] smartjx commented on #253
Hi 3lvis，

Thank you for your time. For better investigate this issue. I have modified your demo app, add my core data structure and my api link. Please find the modifed app below. You can immediately reproduce this issue. When you run the demo on device. And you can see it works great on simulator without any error.
[
[SyncAppNetDemo-master.zip](https://github.com/hyperoslo/Sync/files/412619/Sync

[2016-08-12 03:00] smartjx commented on #253
I've locate the crash due to  hyp_dateFromDateString date parsing
I comment it out and it works fine now. But the issue still hasn't resolved.
[code]

[2016-08-12 03:25] smartjx commented on #253
Hi 3lvis,

I found the reason. Any unkonwn date format will crash

[code]
I add my date format here and it works now.
[code]

[2016-08-12 07:10] 3lvis commented on #253
I'm glad you found the source. That sounds 100% correct. I'm handling dates like this because is MUCH MUCH MUCH more performant than using NSDateFormatter.

[2016-08-12 09:03] smartjx commented on #253
But still, I don't get why this works on simulator without any crash.

[2016-08-12 09:12] 3lvis commented on #253
Yeah, that's *very* strange.

[2016-08-12 20:32] smartjx commented on #253
Hi 3lvis,

 Thank you for your confirmation. I've modified my local copy of NSDate+HYPPropertyMapper.m and   commited to your repo:NSManagedObject-HYPPropertyMapper/Source/NSDate+HYPPropertyMapper.m.
If you are ok with the change , please kindly merge it, thank you.

[2016-08-12 20:32] #253 closed

[2016-08-14 06:14] 3lvis commented on #253
@smartjx does this fixes your problem?

https://github.com/hyperoslo/NSManagedObject-HYPPropertyMapper/pull/110

[2016-08-15 10:31] 3lvis commented on #253
Fixed here https://github.com/hyperoslo/Sync/releases/tag/1.11.2

[2016-08-17 07:58] tbechtum opened #256 "Xcode testing does not work"
Hi,

when calling Sync.changes the following substringFromIndex exception occurs.
Is it related while I am using Xcode testing? Do you have any idea?

Thanks for your help!
Cheers,
Thomas

        Alamofire.request(URLRequest!).validate()

            .responseString { (response) -> Void in
                // handle HTTP errors
                if let httpResponse = response.response {

[2016-08-17 08:16] 3lvis commented on #256
@tbechtum This is related to date parsing, nothing to do with testing. Could you share an example of the JSON you're using?

[2016-08-17 09:03] tbechtum commented on #256
Thanks for your immediate reply. Here is a JSON example, so I must adapt the date mapping e.g. "2015-11-09T18:05:32\", how is the best approach for this with Sync?

{\"AchievementApprovedOn\":null,\"Begin\":\"2016-01-01T00:00:00\",\"ChildId\":null,\"Created\":\"2015-11-09T18:05:32\",\"CurrentWorkflowId\":null,\"Decisions\":null,\"DepartmentTypeId\":2,\"Description\":\"Es müssen Mitarbeiter des Fac

[2016-08-17 09:15] 3lvis commented on #256
Fixed on https://github.com/hyperoslo/Sync/releases/tag/1.11.3

Please update your Sync pod and try again :)

[2016-08-17 09:15] #256 closed

[2016-08-17 09:16] tbechtum commented on #256
Hi Elvis!

in your documentation on github you are using e.g. "2014-03-11T19:11:00+00:00”. We are using e.g. "2015-11-09T18:05:32”. How to adapt to our format?

Thanks for your help,
cheers,
Thomas

On 17 Aug 2016, at 10:17, Elvis Nuñez <notifications@github.com<mailto:notifications@github.com>> wrote:

@tbechtum<https://github.com/tbechtum> This is related to date parsing, nothing to do with test

[2016-08-17 09:17] 3lvis commented on #256
`2015-11-09T18:05:32` should work too

[2016-08-17 09:31] tbechtum commented on #256
I was using 1.11.2 by pod that is the newest one I can get with cocoa pods.

Sent from my iPhone

On 17 Aug 2016, at 11:16, Elvis Nu?ez <notifications@github.com<mailto:notifications@github.com>> wrote:

Fixed on https://github.com/hyperoslo/Sync/releases/tag/1.11.3

Please update your Sync pod and try again :)

-
You are receiving this because you were mentioned.
Reply to this email directly, vie

[2016-08-17 09:39] tbechtum commented on #256
OK I pre-downloaded 1.11.3 and the date mapping is working now again

using pod 'Sync', :git => 'https://github.com/hyperoslo/Sync.git'

Thanks a lot,
Cheers
Thomas

Begin forwarded message:

From: Bechtum Thomas <Thomas.Bechtum@unibz.it<mailto:Thomas.Bechtum@unibz.it>>
Subject: Re: [hyperoslo/Sync] Xcode testing does not work (#256)
Date: 17 August 2016 at 11:31:00 GMT+2
To: hyperoslo/Sync <reply

[2016-08-17 09:42] 3lvis commented on #256
Now the latest one should be https://github.com/hyperoslo/Sync/releases/tag/1.11.3

Forgot to pull the trigger 😂

Added a section about supported date formats in the FAQ too

https://github.com/hyperoslo/Sync#which-date-formats-are-supported-by-sync

[2016-08-22 21:35] achirkof opened #257 "Manage relations: need help"
Hello!

I'm stuck on the moment to save data. I have a JSON like this:
[code]
and my model defined like this: one `workout` have many `exercises`
![db88282fb82c4852807ce20f42d17a08](https://cloud.githubusercontent.com/assets/1292136/17872438/b7e4ee38-68c8-11e6-9ee3-67d235f88f13.png)

I try to save data to CoreData like this:
[code]
but as a result I have only `workout` record in CoreData and no re

[2016-08-22 21:41] 3lvis commented on #257
Hi! It's because your primary key is `_id` instead of the default ones that can either be `id` or `remoteID`.

You can fix this by marking your `id` attribute as primary key and then change it's remote key to map to `_id`.

[2016-08-22 21:43] 3lvis commented on #257
<img width="828" alt="screen shot 2016-08-22 at 23 42 57" src="https://cloud.githubusercontent.com/assets/1088217/17872817/32cd7bda-68c2-11e6-90bd-3fcda250c26c.png">

[2016-08-22 21:43] 3lvis commented on #257
I hope this fixes your issue!

[2016-08-22 21:47] 3lvis commented on #257
wait, this is weird. I'll have a look.

[2016-08-22 22:09] 3lvis commented on #257
I was able to reproduce this.

[2016-08-22 22:20] 3lvis commented on #257
The bug is related to the relationship name `workoutExercises`. Instead of using it as is, is converting it to workoutexercises, so it's failing. I'll look for a fix for this, meanwhile you could `exercises` instead of `workoutExercises` until a better solution is posted.

[2016-08-23 09:05] achirkof commented on #257
Hi @3lvis !

Yes, you are right, this is a cause. And also, because I receive from server `exercise`s array named `workoutExercises`, I have to add `hyper.remoteKey` with value `workoutExercises` to my relation named `exercises`.
I don't sure if it is a bug, maybe you just need to add some instructions to documentation?

[2016-08-23 09:19] 3lvis commented on #257
I'm certain that this is a bug.

[2016-08-23 21:03] #257 closed

[2016-08-23 21:08] 3lvis commented on #257
Fixed here, thanks a lot for posting this well described bug. All the information that you posted was very useful to find the issue.

You can find a new release that fixes this: https://github.com/hyperoslo/Sync/releases/tag/1.12.1

Have an awesome week.

[2016-08-23 21:09] 3lvis commented on #254
Oh god, I'm sorry that I didn't had the chance to look at this earlier.

[2016-08-23 21:12] 3lvis commented on #254
I'll double check.

[2016-08-23 21:25] 3lvis commented on #254
I was able to reproduce this bug.

[2016-08-23 22:43] #254 closed

[2016-08-23 22:47] 3lvis commented on #254
Fixed! To explain it a little bit better.

Sync first will check the `houses` in the JSON. It will find one house with `id` 0. It will create the house, then it will move to `residents`.

Sync then, will go through all the residents, it will find one with `id` 0. It will make a Human entry and will connect the `residenthouse` with the `residents`. Then it will continue the loop and check for `ownh

[2016-08-23 22:48] 3lvis commented on #252
Should be fixed here https://github.com/hyperoslo/Sync/pull/258

[2016-08-23 22:48] #252 closed

[2016-08-23 22:51] 3lvis commented on #254
Published fix here https://github.com/hyperoslo/Sync/releases/tag/1.12.2

[2016-08-23 22:54] 3lvis opened #260 "Bad support for camelCase to-one relationships"
Similar to https://github.com/hyperoslo/Sync/issues/252 but for `to-one` relationships instead of `to-many` ones.

[2016-08-24 07:24] achirkof opened #261 "Receive entity: <null> data: <fault>"
Hi @3lvis !
I meet another problem. I receive `entity: <null>` `data: <fault>` when provide data model from one UIViewController to another. I know about Core Data faulting mechanism, but `entity: <null>` looks strange. Looks like I loose a `context`.

Here is my `data model`:
![data model](https://cloud.githubusercontent.com/assets/1292136/17921083/d27daa28-69e0-11e6-9b83-83a08006c4b9.png)

I use

[2016-08-24 07:35] 3lvis commented on #261
Having that aside, maybe Core Data is releasing the object since the controller that invoke it is no longer being used, for example when you push the new controller. I would either just pass the primary key to the new controller and make a new fetch there. Or I would try to use [DATASource](https://github.com/3lvis/DATASource) to see if it helps with the memory related issues.

[2016-08-24 07:59] achirkof commented on #257
Now it is working well! Thanks!

[2016-08-24 12:16] achirkof commented on #261
Oh, my goodness!
Thank you @3lvis for the idea

The reason was that function `fetchCurrentWorkouts` calls once when view loads and destroy after and remove context. That's why I have `entity: <null>`.
Declaring constant `dataStack`

[code]

and call it in fetch request

[code]
solve the issue.

[2016-08-24 12:30] 3lvis commented on #261
It's better if you don't create multiple `DATAStack`s, but reuse the same one. Otherwise unexpected things might happen.

I guess you're using Storyboards, I have a demo on how it's the recommended way of doing it if you're interested.

Project: https://github.com/3lvis/StoryboardDATASourceAndDataStackDemo

[2016-08-24 12:34] achirkof commented on #261
I don't use storyboard :-) because it is more easy for me to use code. But anyway it will be very interesting. I'm just studying iOS development and any examples will be very useful for me.
Thanks!

[2016-08-24 13:36] 3lvis commented on #261
If you don't use Storyboards then this might be useful

[2016-08-24 14:14] achirkof commented on #261
Yes, already studying it. Great example, thanks! You made perfect pod's. I spend several days dealing with native JSON parsing and saving data to Core Data. Sync make this job much simpler and just with several lines of code. Awesome!

[2016-08-24 14:20] 3lvis commented on #261
Awww, thanks! I'm glad you like it.

[2016-08-25 08:12] #260 closed

[2016-08-25 08:43] 3lvis commented on #238
Thanks a lot for this. I'm very sorry it took this long to merge. I moved your test case here to fix the conflicts and simplified a bit the test case.

Have a fantastic week!

https://github.com/hyperoslo/Sync/pull/264

[2016-08-25 08:43] #238 closed

[2016-08-25 08:44] 3lvis opened #265 "Add support for superentities with infinite levels"
Basically like https://github.com/hyperoslo/Sync/pull/264 but with support for more than one level.

[2016-08-25 16:05] bonebox commented on #225
Hey @3lvis!  Just checking to see if you had an update on this. I'm experiencing the same issue.

[2016-08-26 10:25] 3lvis commented on #225
Hi! Working on a fix for this.

I'm using this model:

<img width="360" alt="screen shot 2016-08-26 at 12 23 08" src="https://cloud.githubusercontent.com/assets/1088217/18002405/e1c1a9f0-6b87-11e6-942a-5215c7ab8e40.png">

Then I'm working on 3 cases:

## Case 1: Replacing a tag with another tag

First tag with ID 10 gets inserted:

[code]

Then tag 10 gets removed and tag 20 gets assigned to user

[2016-08-26 12:09] #225 closed

[2016-08-26 12:21] 3lvis commented on #225
Please let me know if any of this doesn't make sense. I'm still yet to refactor and do some clean up but the main feature should be available shortly.

[2016-08-26 12:26] xTheRamon commented on #225
You sir, are an absolute hero. I have just tested this (Your commit from a few seconds ago) and can confirm this is working again!

So many thanks @3lvis !!!!!! ❤️

[2016-08-26 12:50] 3lvis commented on #225
# Released => https://github.com/hyperoslo/Sync/releases/tag/1.13.1

I'm sorry this took so long. Let me know if there are issues with this fix.

[2016-08-28 08:24] dersvenhesse commented on #234
I just checked this again with 1.13.1. Now it works for me. 👍

[2016-08-28 08:24] #234 closed

[2016-08-28 09:34] 3lvis commented on #234
That's great news! Thanks for reporting back, @dersvenhesse. You're awesome.

![giphy](https://cloud.githubusercontent.com/assets/1088217/18032828/6c06514c-6d13-11e6-8790-baf067f50549.gif)

[2016-08-29 18:55] normand1 commented on #237
@3lvis I'd be interested in an example too, thanks!

[2016-08-30 02:55] AndrewSB opened #268 "Blog post on why this is useful?"
This library looks great, but Im not all that familiar with the reasons you'd want to parse JSON -> Core data. Are there any good resources that would inform me of the best practices on this? Has @hyperoslo put out anything?

Assuming its related to having a local cache on device, but nevertheless, I think having something like this would be super helpful for anyone looking at the README

[2016-08-30 04:01] 3lvis commented on #268
Good idea. I'll see what we can do.

[2016-08-30 04:10] norikachi opened #269 "Many-to-Many Relationships Null"
HI 3lvis, I believe that is a bug in Many-to-Many relationships.

![screen shot 2016-08-22 at 9 08 33 am](https://cloud.githubusercontent.com/assets/4539108/18075665/29824fda-6eba-11e6-8f9e-c4de649400d2.png)

**First sync:** I get all speakers in session 1 and 2
![screen shot 2016-08-30 at 2 01 40 pm](https://cloud.githubusercontent.com/assets/4539108/18075687/5b6a261c-6eba-11e6-9d52-0bb1dd4fdb92.

[2016-08-30 05:22] AnteyA opened #270 "DateParser doesn't work correctly, when unixTimestamp has negative value"
For example, if i have unixTimestamp='-2209150800000' (1899-12-30T03:00:00Z), in DB it will be NULL

Error in this code:
@implementation NSString (HYPPropertyMapperDateHandling)
- (HYPDateType)hyp_dateType {
    if ([self containsString:@"-"]') {
        return HYPDateTypeISO8601;
    } else {
        return HYPDateTypeUnixTimestamp;
    }
}
@end

Function should return a value HYPDateTypeUnixTime

[2016-08-30 07:04] 3lvis commented on #270
Thanks! Feel free to send a fix :)

Otherwise I'll have a look on the weekend, I've been pretty busy lately.

[2016-08-30 16:42] bonebox commented on #225
Thanks, @3lvis!  When you get a chance, would you mind pushing this version to CocoaPods?  Thanks again!

[2016-08-30 17:03] AndrewSB commented on #268
Awesome 🙃
On Mon, Aug 29, 2016 at 9:02 PM Elvis Nuñez <notifications@github.com>
wrote:

[2016-08-30 17:13] 3lvis commented on #225
Hi! It's already on CocoaPods https://github.com/CocoaPods/Specs/commit/20264d703e2c9691856e57e7b5ab1d77c31134d1

[2016-08-30 20:26] bonebox commented on #225
Sorry! Needed to refresh my local repo.

[2016-08-30 22:03] normand1 opened #271 "Third level nested objects are not being created"
## Problem Description

I created a simplified project to demonstrate the issue I'm seeing. I have a json object I'm importing from a file named `global-nested-users.json`. I'm using Sync to create Core Data objects from the json like this:

[code]

In the completion block I print out all user objects expecting to see both my top level UserModels and my nested UserModels, but I am only seeing my t

[2016-09-01 20:41] bonebox opened #272 "Core data update issue since 1.13.1"
Hey @3lvis,

Since 1.13.1, Sync throws an error when I attempt to sync the same entity a second time.  The initial (insert) works, but a following sync (update) causes the crash.  I also tried 1.13.2 with the same problem.  Reverting to 1.13.0 resolves the problem, so it appears to be something introduced in 1.13.1.  I've included the relevant info below. As you can see, there is no `uri` attribut

[2016-09-01 20:57] 3lvis commented on #272
Hi @bonebox,

Maybe it's related to ordered relationships. I'm quite busy this week, sorry if I don't have a look earlier. 😞

[2016-09-01 20:58] 3lvis commented on #271
Thanks a lot for providing such detailed bug report! I'm quite busy this week, I'm sorry if I don't have a look earlier.

[2016-09-01 21:06] bonebox commented on #272
I understand completely, no worries!

[2016-09-05 21:29] 3lvis commented on #272
@bonebox could you please share this in JSON format? Also, this JSON is a list of Forms?

[2016-09-05 21:29] 3lvis commented on #272
I'm trying to reproduce this bug :)

[2016-09-06 14:05] bonebox commented on #272
Thanks for looking into it!  Here's the JSON.  It is a single form.

[code]

[2016-09-06 14:09] Proper-Job opened #273 "Inconsistent JSON to CoreData mapping"
First of all thank you for sync.  It's great!

I'm experiencing some inconsistencies in how JSON keys are mapped to CoreData attributes.
For instance the JSON key "list_image_url" does not automatically map to the CoreData attribute "listImageUrl".  Only when I add hyper.remoteKey = list_image_url does the mapping take place.

This behavior is a bit erratic in my experience.  For instances JSON "l

[2016-09-06 14:17] bonebox commented on #272
Thanks for looking into it!  Here's the JSON--it's a single form.

[code]

[2016-09-06 14:34] 3lvis commented on #273
Hi! That's because `list_image_url` maps to `listImageURL`!

[2016-09-06 14:35] 3lvis commented on #273
It works like that because URL is an acronym. You can find the complete list of acronyms here.

https://github.com/hyperoslo/NSString-HYPNetworking#acronyms

[2016-09-06 14:35] #273 closed

[2016-09-06 14:38] Proper-Job commented on #273
@3lvis thank you for that!

[2016-09-06 14:39] 3lvis commented on #273
Updated the README to clarify this, sorry for not adding that before :)

https://github.com/hyperoslo/Sync/blob/master/README.md#attribute-mapping

[2016-09-09 07:49] marthinfreij opened #274 "Add support for flattening out deep JSON structures with keyPaths"
Some REST APIs have data in deep structures where relations makes no sense. In these cases it would be nice to be able flatten out the JSON structure in the model object by picking values in deep structures using keyPaths.

## Example

Given this JSON structure:

[code]

Making a relationship from `title` to `rendered` wouldn't make sense. By letting `hyper.remoteKey` support keyPaths, we could ea

[2016-09-09 07:51] 3lvis commented on #274
Fantastic idea! I remember wanting to do something like this before, I'm glad you're bringing it again.

[2016-09-09 12:01] marthinfreij opened #275 "Add support for value transformations for built in Core Data types"
Sometimes values in a REST API are not formatted in the way you want them, resulting in you having to extend your model classes with methods and/or properties for transformed values.

## Example

Some APIs return HTML encoded entities in string values.

[code]

This requires your client to handle HTML entitles each time you need `title`.

## Feature request

Wouldn't it be nice if it was possible

[2016-09-09 21:25] jimijon opened #276 "Swift3 Support?"
Finally decided to go with XCode8 / Swift3. Change my pod file to get the swift-3 branch, but, still have lots of compile time errors.

Comments?

[2016-09-11 08:24] 3lvis commented on #276
Hi! I'm having a hard time migrating because lots of issues regarding pushing new builds with CocoaPods. I'm working on it :)

[2016-09-12 16:28] dersvenhesse opened #277 "Syncing super entities with "To many" in both ways"
I just run into an issue when syncing super entities and tried to find the error when comparing my model to the test case for #239.

In the test case `Car` to `Passenger` is a To-Many-Relation, the inverse is a To-One-Relation. Now when using a To-Many-Relation for the inverse as well, the function `testBug239()` fails since there are now passengers in the first racecar.

Is there a way to get aro

[2016-09-13 07:34] 3lvis commented on #277
Noted, I'll see if I can reproduce it.

[2016-09-13 12:26] Sorix opened #278 "-[NSLock unlock]: unlocked when not locked"
On application load sometimes I receive such errors in debug log. On application load I run Sync to sync from local Firebase to Core Data, it may run simultaneously several processes.

![trace](https://cloud.githubusercontent.com/assets/5610904/18473534/900ee8f2-79ce-11e6-8068-e0d412c6a4f9.png)

[2016-09-13 12:38] 3lvis commented on #278
Oh, no, so you're getting crashes? In which version of Sync are you on?

[2016-09-13 12:58] Proper-Job commented on #278
@3lvis I see the same log message sometimes but I don't get crashes.

[2016-09-13 13:00] 3lvis commented on #278
@Proper-Job You're also using Firebase?

Any pointers on how I can reproduce this? I don't have the same log. Xcode version? Swift version?

[2016-09-13 13:01] Sorix commented on #278
I don’t get crashes, but I’ve catched it in debugger as XCode suggested to show you trace. I will try to reproduce it in test project, but I think it won’t be an easy task :)

[2016-09-13 21:26] jimijon commented on #276
Do you have an approximate ETA? I have to finish up for an upcoming Demo. So if it is in the next couple days I can wait, otherwise I need to rollback.  Thanks! Or. if there is something very specific that you can point me to. I might be able to help fix things.

[2016-09-14 05:43] 3lvis commented on #276
Hi! It's coming later today. Already migrated some of the dependencies, just need to finish some migration on this repo.

[2016-09-14 05:44] 3lvis commented on #276
The main blocker so far was CocoaPods, but they have been very helpful to fix things. Did you knew that now you have to add a `.swift-version` file to your repo in order to ship a pod with Swift 3? No? Me neither. Mindblown.

[2016-09-14 05:46] 3lvis commented on #276
Branch in progress here https://github.com/hyperoslo/Sync/pull/279

[2016-09-14 06:25] 3lvis commented on #276
It's on master now, for now just point directly to `:head`

[2016-09-14 06:25] 3lvis commented on #276
[code]

[2016-09-14 16:22] jimijon commented on #276
did you lock down the repo? Or cocoa pod problem? This is what I get ::

[!] Error installing Sync
[!] /usr/bin/git clone git@github.com:hyperoslo/Sync.git /var/folders/08/3tkjvm5n33dgcs3b285qjgmm0000gn/T/d20160914-97058-muxjqr --template= --single-branch --depth 1

Cloning into '/var/folders/08/3tkjvm5n33dgcs3b285qjgmm0000gn/T/d20160914-97058-muxjqr'...
Warning: Permanently added the RSA host key

[2016-09-14 16:31] 3lvis commented on #276
Seems like a CocoaPods problem

[2016-09-14 16:35] 3lvis commented on #276
Released as Sync 2.0.0

https://github.com/hyperoslo/Sync/releases/tag/2.0.0

[2016-09-14 16:35] #276 closed

[2016-09-14 18:06] pwestrich commented on #278
I can confirm that this same error is present using Xcode 8.0 with Sync 2.0.0 in another project I'm working on. It seems all you have to do is call some variation of Sync.changes(...) to reproduce it. I'm having difficulty getting the debugger to break at _NSLockError() at the moment, so unfortunately I can't say for sure yet.

[2016-09-14 18:41] pwestrich opened #280 "Uncaught exception when syncing a to-many relationship"
Since attempting to update to the latest version of Sync (2.0.0) and Xcode (8.0), from 1.12.3 and 7.3 respectively. I have been experiencing a crash due to an [uncaught exception](https://github.com/hyperoslo/Sync/files/473187/trace.txt).

It happens at NSManagedObject_Sync.swift:185. It appears that one of my managed objects (ICRoutePolylineItem) is being asked for the key "busID", which it has n